<div id='tech-info-input'>
	<div class='card border-dark col-9 pb-0'>
		<div class='card-body'>
			<p class='d-inline mr-4'><strong>Tech ID:</strong>&nbsp;<span class='tech_id'></span></p>
			<p class='d-inline mr-4'><strong>Tech Name:</strong>&nbsp;<span class='tech_name'></span></p>
			<p class='d-inline'><strong>Assigned Group:</strong>&nbsp;<span class='assigned_group'></span></p>
		</div>
	</div>
</div>

<h3>Enter time</h3>
<form action='/apps/rte/view-time/display/' target='_blank' method='POST'>{% csrf_token %}
	<input type='text' name='techSearch' class='tech_id' hidden>
	<input type='date' name='calendarRangeStart' hidden>
	<input type='date' name='calendarRangeEnd' hidden>
	<div class='text-right'>
		<button type='submit' class='btn btn-link' role='link' name='viewLastButton' value='Last Week'>View last week</button>
		<button type='submit' class='btn btn-link' role='link' name='viewLastButton' value='Last Month'>View last month</button>

	</div>
</form>

<div class='row'>
	<div class="form-group col-3" id="searchWorkOrder">
		<label for="workOrderSearch" id="labelWorkOrderSearch">
	        <strong>Work Order</strong>
	    </label>
		<select class='form-control' id='workOrderSearch'>
			<option></option>
			{% for wo in all_wos %}
				<option value='{{ wo.full_prord_wo_number }}'>{{ wo.full_prord_wo_number }}&nbsp;{{ wo.comment_text|truncatechars:200 }}</option>
			{% endfor %}
		</select>
	</div>

	<div class="form-group col-2" id="selectRateLevel">
		<label for="rateSelect" id="labelRateSelect">
		    <strong>Rate Level </strong>
		</label>
		<select class='form-select' id='rateSelect' disabled>
			{% for rate in rate_levels %}
				<option value='{{ rate.labor_rate_level_name }}'>{{ rate.labor_rate_level_name }}</option>
			{% endfor %}
		</select>
	</div>

	<div class='form-group col-2'>
		<label for="assigned_date"><strong>Assigned Date</strong></label>
	    <input type="date" class="form-control" id="assigned_date" name='assigned_date' readonly>
	</div>	

	<div class='form-group col-2'>
		<label for="duration"><strong>Duration</strong></label>
		<div class='form-inline' id='duration'>
			<input class='form-control col-6' type="text" name="duration-hours" id="duration-hours" placeholder='HH' readonly>
			<input class='form-control col-6' type="text" name="duration-mins" id="duration-mins" placeholder='MM' readonly>
		</div>
	</div>

	<div class='form-group col-3'>
		<label for="notes"><strong>Notes</strong></label>
		<div class='form-inline'>
		    <input type="text" class="form-control" id="notes" name='notes' readonly>
		    <button class='btn btn-primary' id='single-add'>Add</button>
		</div>
	</div>
</div>

<div class='alert alert-danger hidden col-4' id='add-error'></div>

<div id='single-input' class='mt-4'>
	<h3 id='single-input-title' class='d-inline'>Time Entries</h3>
	<h5 class='d-inline offset-8'>Total Hours Entered:&nbsp;<span id='total-hours'>0</span></h5>
	<table class='table mt-4' id='single-input-table'>
		<thead>
			<tr>
				<th scope="col">Work Order</th>
				<th scope="col">Rate Level</th>
				<th scope="col">Assigned Date</th>
				<th scope="col">Duration</th>
				<th scope="col">Notes</th>
				<th scope="col" id='delete-title' class='delete-col'></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

<div class='alert alert-danger hidden col-8' id='entries-error'></div>

<div class='alert alert-danger hidden col-8' id='max-entries'>
	You may only submit 15 time entries at a time. Please submit additional entries to report time for more than 15 work order instances.
</div>

<form action='submitted/' method='POST' id='single-input-form' hidden>{% csrf_token %}
	<input type='text' name='tech_id' class='tech_id' hidden>
	<input type='text' name='assigned_group' class='assigned_group' hidden>
</form>

