{% load ccr_tags %}
<div class="container mt-4" id="assign_row">	
	<p class="mt-4 cf_info inline">You have chosen to change the following User IDs from Chartfield:&nbsp;</p><strong class="current cf_num inline">{{ selected_cf.account_number }}</strong>
		{% if nickname %}
			<strong class="inline">({{ nickname }})</strong>
		{% endif %}
		<strong class="cf_nickname inline"></strong>.
	</p>

	<hr class="style1">

	<p>Please select a new department and chartfield.</p>

	<div class="row mt-4">
		<div class="col-md-5">
	        <div id="dept_dropdown_3" method="POST" name="dept_dropdown">{% csrf_token %}
	            <div class="input-group">
	                <div class="input-group-prepend">
	                    <label class="input-group-text" for="select_dept_3">
	                        Select New Department
	                    </label>
	                </div>
	                <select name="select_dept" class="custom-select" id="select_dept_3">
						<option></option>
	                    {% for dept in all_dept %}
	                    <option name="dept" value="{{dept.dept}}?{{ dept.dept_mgr }}?{{dept.dept_mgr_uniqname}}">{{ dept.dept }} - {{ dept.dept_name }}</option>
	                    {% endfor %}
	                </select>
	            </div>
	        </div>
	    </div>
	    <div class="col">
	        <form id="cf_dropdown_3" method="POST" name="cf_dropdown" style="display: none;">{% csrf_token %}
	            <div class="input-group">
	                <div class="input-group-prepend">
	                    <label class="input-group-text" for="select_cf_3">
	                        Select New Chartfield
	                    </label>
	                </div>
	                <select name="select_cf" class="custom-select" id="select_cf_3">
	                    <!-- Will be filled by JS -->
	                </select>
	            </div>
	        </form>
			<div id="cf_shortcode_form_3">
				<div class="input-group" id="cf_chartfield_group">
					<div class="input-group-prepend">
						<label class="input-group-text" for="cf_shortcode_3">
							Select New Shortcode
						</label>
					</div>
					<select name="chartcom" class="custom-select" id="cf_shortcode_3">
						<!-- Will be filled by JS -->
					</select>
				</div>
			</div>
			
	    </div>
		<div class="col-2" style="margin: auto 0 auto 0;">
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="show_chartfield_check_3">
				<label class="form-check-label" for="show_chartfield_check_3">
				  Show Chartfield Select
				</label>
			  </div>
		</div>

	    
	</div>


	<div class="mt-4 mb-4">
		<div class="form-check form-check-inline" id="select_button">
	    	<input class="form-check-input" type="checkbox" value="" id="select_all_an">
	    	<label class="form-check-label" for="select_all_an">
		    	<strong>Select All</strong>
		  	</label>
		</div>
		<div id="checkboxes">
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" value="" id="mrc">
				<label class="form-check-label" for="mrc">
					<strong>MRC</strong>
				</label>
			</div>
	
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" value="" id="toll" disabled>
				<label class="form-check-label" for="toll">
					<strong>Toll</strong>
				</label>
			</div>
	
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" value="" id="local" disabled>
				<label class="form-check-label" for="local">
					<strong>Local</strong>
				</label>
			</div>
			<button type="button" id="apply" value='Apply' class="btn btn-success">Apply</button>
		</div>
	</div>
	
	<div class="row">	
		<div class="col-md-12 mt-2">
		    <table class="table table-striped table-sm" id="cf_change_table">
		        <thead>
		        	<th scope="col" class="click-test" name="checkbox"></th>
		          	<th scope="col" name="user_id">User ID</th>
		          	<th scope="col" name="building">Building</th>
		          	<th scope="col" name="mrc_charged">New MRC Charge</th>
		          	<th scope="col" name="toll_charged">New Toll Charge</th>
		          	<th scope="col" name="local_charged">New Local Charge</th>
		        </thead>
		        <tbody>
		        </tbody>
		    </table>
		</div>
	</div>

	<strong id="validate" class="hidden">Please fill out all rows before proceeding.</strong>
	
</div>
