{% load staticfiles %}
<style>
    .header {
        height: 85px;
        background: #00274c;
    }

    #page-wrapper {
    margin-top: 0;
    /* background: #cc0000; */
    width: 960px;
    padding: 0 20px 0 20px;
    /* background: transparent url(/sites/all/themes/zen_services/images/pagebody-bg.png) repeat-y; */
}

</style>
<html>
    <head>
        <title>OSC Development</title>
        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    </head>
    <body>
        <div class="header">
            <a href="/" title="Home" rel="home" id="logo"><img src={%  static 'logo.png' %} alt="Home"></a>
        </div>
        <div id="pagemenu">
            <nav id="nav"> 
                <ul> 
                {% block topnav %} 
                <li>Menu 1</li><li>Menu 2</li><li>Menu 3</li><li>Menu 4</li><li>Menu 5</li><li>Menu 6</li> 
                {% endblock topnav %} 
                </ul> 
                </nav> 
        </div>
        <!--/pagemenu-->  </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
    </body>
</html>
