{% extends 'base.html' %}
{% block styles %}
<style>
	#aux-nav {
		background-color: {{ background_color }}
	}

	@media (min-width:992px) {
		.nav-bar-links {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}
	}
</style>
{% endblock styles %}

{% block header %}
<header id="navbarSupportedContent">
	<nav class="navbar navbar-expand-lg" id="aux-nav" aria-label="Auxiliary Navigation">
		<div class="container">
			<div class="navbar-brand">
				<a href="/apps">Infrastructure Apps</a>
			</div>
			<button class="navbar-toggler ms-auto" type="button" data-toggle="collapse" data-target=".navbars"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fas fa-bars text-light"></i>
			</button>
			<div class="collapse navbar-collapse navbars" aria-labelledby="aux-nav" role="navigation">
				<ul class="navbar-nav ms-auto">

					{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link {% if title == 'Apps Help' %}active {% endif %}"
							href="/apps/appshelp">Help</a>
					</li>
					<li class="nav-item dropdown ">
						<a class="nav-link dropdown-toggle {% if title == 'View My System Privileges' %}active{% endif %}"
							href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">
							{{ user.get_full_name }}

						</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
							{% if user.is_staff %}
							<a class="dropdown-item" href="/admin/">Admin</a>
							{% endif %}

							{% if perms.oscauth.can_impersonate %}
							{% if not request.session.exit_users_pk %}
							<a class="dropdown-item" href="/auth/su_login/">Impersonate</a>
							{% endif %}
							{% endif %}
							{% if request.session.exit_users_pk %}
							<a class="dropdown-item" href="/auth/su/">Exit Impersonate</a>
							{% endif %}
							<a class="dropdown-item" href="/auth/logout/">Logout</a>
						</div>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'oidc_authentication_init' %}">Login</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
	{% block mainnav %}
	<nav class="navbar navbar-expand-lg" id="main-nav" aria-label="Main Site Navigation">
		<div class="container">
			<div class="collapse navbar-collapse navbars" aria-labelledby="main-nav" role="navigation">
				<ul class="navbar-nav nav-fill nav-bar-links">
					<li class="nav-item dropdown">
						<b>
							<a href="/apps/rte/" class="nav-link"><i class="fas fa-clock"></i> Rapid Time Entry</a>
						</b>
					</li>
					<li class="nav-item dropdown">
						<b>
							<a href="/apps/bom/" class="nav-link"><i class="fas fa-file-invoice"></i> Bill of
								Materials</a>
						</b>
					</li>

				</ul>
			</div>
		</div>
	</nav>
	{% endblock mainnav %}
</header>
{% endblock header%}