<!doctype html>
<html lang="en">

<head>
	{% load static %}
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

	<!-- FontAwesome CSS -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="/static/global.css">

	<!-- Fonts -->
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400i" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:700" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:700i" />

	<!-- Searchable select -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" />
	<link rel="stylesheet" href="/static/select2-bootstrap4.css">
	{% block styles %}
	<style>
		#aux-nav {
			background-color: {{ background_color }}
		}
	</style>
	{% endblock styles %}
	{% block title %}
	<title>SRS - {{ title }}</title>
	{% endblock title %}
</head>

<body>
	<div id="skip-link">
		<a href="#main-content" class="sr-only sr-only-focusable">Skip to main content</a>
	</div>
	<div class="wrapper">
	{% block header %}
	<header id="navbarSupportedContent">
		<nav class="navbar navbar-expand-lg" id="aux-nav" aria-label="Auxiliary Navigation">
			<div class="container">
				<div class="navbar-brand">
					{% if debug %}
					<pre>{{ connections }}</pre>
					{% else %}
					<a class="logo" href="/">Service Request System</a>
					{% endif %}
				</div>
				<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target=".navbars"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fas fa-bars text-light"></i>
				</button>
				<div class="collapse navbar-collapse navbars" aria-labelledby="aux-nav" role="navigation">
					<ul class="navbar-nav ml-auto">
						{% if user.is_authenticated %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle {% if title == 'Chartfield Change Request' or title == 'Manage User Access' or title == 'Department Look Up' or title == 'Manage Chartfields' or title == 'VoIP Location Change' %}active{% endif %}"
								href="javascript;" id="toolsDropdown" role="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								Permissions &amp; Billing
							</a>
							<div class="dropdown-menu" aria-labelledby="toolsDropdown">
								{% if perms.oscauth.can_order or perms.oscauth_can_report %}
								<a class="dropdown-item" href="/chartchangeoptions/">Chartfield Change Request</a>
								{% endif %}
								{% if perms.oscauth.can_report %}
								<a class="dropdown-item" href="/namechange/">Name Change App</a>
								{% endif %}
								{% if perms.oscauth.can_administer_access %}
								<a class="dropdown-item" href="/auth/get_uniqname/">Manage User Access</a>
								{% endif %}
								<a class="dropdown-item" href="/auth/deptpriv/">Department Look Up</a>
								<a class="dropdown-item" href="/auth/userid/">User ID Look Up</a>
								{% if perms.oscauth.can_administer_access %}
								<a class="dropdown-item" href="/orders/chartcom/0">Manage Chartfields</a>
								{% endif %}
								<!-- <a class="dropdown-item" href="/tools/costestimator">Cost Estimator</a> -->
								{% if perms.oscauth.can_move_voip %}
								<a class="dropdown-item" href="/tools/voip/">VoIP Location Change</a>
								{% endif %}
							</div>
						</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link {% if title == 'Help' %}active {% endif %}" href="/help">Help</a>
						</li>
						{% if user.is_authenticated %}
						<li class="nav-item dropdown ">
							<a class="nav-link dropdown-toggle {% if title == 'View My System Privileges' %}active{% endif %}"
								href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								{{ user.get_full_name }}

							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
								{% if user.is_staff %}
								<a class="dropdown-item" href="/admin/">Admin</a>
								{% endif %}

								{% if perms.oscauth.can_impersonate %}
								{% if not request.session.exit_users_pk %}
								<a class="dropdown-item" href="/auth/su_login/">Impersonate</a>
								{% endif %}
								{% endif %}
								{% if request.session.exit_users_pk %}
								<a class="dropdown-item" href="/auth/su/">Exit Impersonate</a>
								{% endif %}
								<a class="dropdown-item" href="/auth/mypriv/">View System Privileges</a>
								<a class="dropdown-item" href="/auth/logout/">Logout</a>
							</div>
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'oidc_authentication_init' %}">Login</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
		<nav class="navbar navbar-expand-lg" id="main-nav" aria-label="Main Site Navigation">
			<div class="container">
				<div class="collapse navbar-collapse navbars" aria-labelledby="main-nav" role="navigation">
					<ul class="navbar-nav nav-fill nav-bar-links">
						{% if perms.oscauth.can_order %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle {% if page_name == 'Request Service' %}active{% endif %}"
								href="#" id="servicesDropdown" role="button" data-toggle="dropdown"
								aria-haspopup="true">
								<i class="fas fa-check-circle white"></i> Request or Manage Service
							</a>

							<div class="dropdown-menu" aria-labelledby="reportsDropdown">
								{% for group in service_groups %}
								<a class="dropdown-item" href="/orders/services/{{group.id}}">{{group.label}}</a>
								{% endfor %}
							</div>

						</li>
						{% elif user.is_authenticated %}
						<li class="nav-item dropdown">
							<a href="/orders/services/2" class="nav-link">
								<i class="fas fa-check-circle white"></i> Request or Manage Service
							</a>
						</li>
						{% endif %}
						{% if perms.oscauth.can_report %}
						<li class="nav-item dropdown">

							<a class="nav-link dropdown-toggle {% if title == 'Telephony Detail of Charges' or title == 'Inventory & Location Report' or title == 'Non-Telephony Detail of Charges' or title == 'Summary of Charges' or title == 'Toll Statements' %}active{% endif %}"
								href="#" id="reportsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								<i class="fas fa-chart-line"></i> Run Reports
							</a>
							<div class="dropdown-menu" aria-labelledby="reportsDropdown">
								<a class="dropdown-item"
									href="https://tableau.dsc.umich.edu/t/UM/views/telecom_dashboard_db_conn_month_actives/DepartmentalTelephoneServiceMetrics?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no"
									target="_blank">Departmental Telephone Service Metrics</a>
								<a class="dropdown-item" href="/reports/inventory/">Inventory &amp; Location Report</a>
								<a class="dropdown-item" href="/reports/nonteleph/">Non-Telephony Detail of Charges</a>
								<a class="dropdown-item" href="/reports/soc">Summary of Charges</a>
								<a class="dropdown-item" href="/reports/doc/">Telephony Detail of Charges</a>
								<a class="dropdown-item" href="/reports/tolls/">Toll Statements</a>
							</div>
							{% endif %}
						</li>
						{% if perms.oscauth.can_order %}
						<li class="nav-item">
							<a class="nav-link {% if title == 'Cart' %}active{% endif %}" href="/orders/cart/0"><i
									class="fas fa-shopping-cart"></i> View Cart
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {% if title == 'Track Orders' %}active{% endif %}"
								href="/orders/status/0"><i class="fas fa-list-ul"></i> Track Orders
							</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
	</header>
	{% endblock header %}
	<div id="main-content" class="container" role="main">

		{% block content %}{% endblock content %}
		{% autoescape off %}
		{{ content }}
		{% endautoescape %}

	</div>
</div>
	<footer>
		<div class="container">

			<div class="umich"><a href="https://umich.edu/">University of Michigan</a></div>

			<div class="links">
				<h2><a href="https://its.umich.edu/">Information and Technology Services</a></h2>
				<ul>
					<li><a href="https://its.umich.edu/about">About ITS</a></li>
					<li><a href="https://safecomputing.umich.edu/">Safe Computing</a></li>
					<li><a href="https://status.its.umich.edu/">ITS Service Status</a></li>
					<li><a href="https://its.umich.edu/web-strategy/">ITS Web Strategy</a></li>
					<li><a href="https://its.umich.edu/about/work-at-its">Work at ITS</a></li>
				</ul>
			</div>

			<div class="links">
				<h2>Stay Connected</h2>
				<div class="socialmedia">
					<a href="https://twitter.com/umichTECH"><span class="fab fa-twitter"><span
								class="sr-only">Twitter</span></span></a>
					<a href="https://www.youtube.com/user/UMITSCommunications"><span class="fab fa-youtube"><span
								class="sr-only">YouTube</span></span></a>
				</div>
				<p><a href="https://its.umich.edu/help">Contact ITS</a></p>
			</div>

			<div class="links right">
				<ul>
					<li><a href="https://wolverineaccess.umich.edu/">Wolverine Access</a></li>
					<li><a href="https://its.umich.edu/remote-resource-guide">Remote Resource Guide</a></li>
					<li><a href="https://it.umich.edu/">Office of the VPIT-CIO</a></li>
				</ul>
			</div>

			<div class="copyright"><a href="http://www.regents.umich.edu/">&copy; 2021 The Regents of the University of
					Michigan</a></div>

		</div>
	</footer>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"
		integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	<!-- Searchable Select -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
	<!-- Sort tables -->
	<!-- docs: https://www.kryogenix.org/code/browser/sorttable/ -->
	<script src="/static/sorttable.js"></script>
	{% block js %}{% endblock js %}
</body>

</html>
