{% load ccr_tags %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="mt-4 row"></div>

<div class='row cf-dropdown-div justify-content-center' id="cf_dropdown_row">
    <div class="col-md-5 offset-md-2">
        <form id="cf_shortcode_form" method="POST" name="cfs">{% csrf_token %}
            <div class="input-group" id="cf_shortcode_group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="cf_shortcode">
                        Select Shortcode
                    </label>
                </div>
                <select name="chartcom" class="custom-select" id="cf_shortcode">
                    {% for cf in cf_info %}
                    <option name="dept" value="{{ cf|jsonify }}">{{ cf.account_number }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        <form id="cf_chartfield_form" method="POST" name="cfs" style="display: none;">{% csrf_token %}
            <div class="input-group" id="cf_chartfield_group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="cf_chartfield">
                        Select Chartfield
                    </label>
                </div>
                <select name="chartcom" class="custom-select" id="cf_chartfield">
                    {% for cf in cf_info %}
                    <option name="dept" value="{{ cf|jsonify }}">{{ cf.account_number }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
    <div style="margin: auto 1em auto 0;">
        <div id="checkbox-1" class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="show_chartfield_check">
            <label class="form-check-label" for="show_chartfield_check">
                Show Chartfield Select
            </label>
        </div>
    </div>
    <i class="far fa-question-circle help-popover" data-toggle="popover" title="Popover title" data-placement="right" data-content="Select your current shortcode in the list that you want to change. Make sure the right department is selected above.<br/><br/>If your shortcode is not in the list, check the box to search by chartfield instead!"></i>
</div>

<div class="mt-4 row justify-content-center">
    <div class="col-md-10 cf-dropdown-div" id="cf_details" style="background: #40658f;">
        <table class="table table-striped table-sm">
            <caption style="caption-side:top;color:#ffffff;font-size:1rem" class="text-center">Details for Chartfield
                <strong class="cf_num">{{ cf_info.first.account_number }}</strong>:</caption>
            <thead>
                <th scope="col">Fund</th>
                <th scope="col">Dept.</th>
                <th scope="col">Program</th>
                <th scope="col">Class</th>
                <th scope="col">Project/Grant</th>
                <th scope="col">Shortcode</th>
                <th scope="col">Nickname</th>
            </thead>
            <tbody style="background: #ffffff">
                <tr scope="col">
                    <td id="fund">{{ selected_cf.fund }}</td>
                    <td id="deptid">{{ selected_cf.deptid }}</td>
                    <td id="program">{{ selected_cf.program }}</td>
                    <td id="class_code">{{ selected_cf.class_code }}</td>
                    <td id="project_grant">{{ selected_cf.project_grant }}</td>
                    <td id="cf_shortcode">{{ selected_cf.short_code }}</td>
                    <td id="cf_nickname">{{ nickname }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-8" id="no_cfs_alert">
        <div class="alert alert-danger col-md-8 m-auto" role="alert">
            <i class="fas fa-exclamation-triangle"></i>
            This department does not have any chartfields currently in use. Please select another department.
        </div>
    </div>



    <div class="col-md-8" id="no_cfs_alert" hidden>
        <div class="alert alert-danger col-md-8 m-auto" role="alert">
            <i class="fas fa-exclamation-triangle"></i>
            This department does not have any chartfields currently in use. Please select another department.
        </div>
    </div>
</div>

<script src="/static/select.js"></script>