{% load ccr_tags %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="mt-4 row"></div>

<p id="test"></p>

<div class='row cf-dropdown-div'>
    <div class="col-md-6">
        <form id="cf_dropdown" method="POST" name="cfs">{% csrf_token %}
            <div class="input-group" id="cf_dropdown_group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="cf_dropdown">
                        Select Chartfield
                    </label>
                </div>
                <select name="chartcom" class="custom-select" id="cf_dropdown">
                    {% for cf in cf_info %}
                    <option name="dept" value="{{ cf|jsonify }}">{{ cf.account_number }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
</div>

<div class="mt-4 row">
    <div class="col-md-10 cf-dropdown-div" id="cf_details">
      <table class="table table-striped table-sm">
        <caption style="caption-side:top;color:#000000;font-size:1rem">Details for Chartfield <strong class="cf_num">{{ cf_info.first.account_number }}</strong>:</caption>
        <thead>
          <th scope="col">Fund</th>
          <th scope="col">Dept.</th>
          <th scope="col">Program</th>
          <th scope="col">Class</th>
          <th scope="col">Project/Grant</th>
          <th scope="col">Shortcode</th>
          <th scope="col">Nickname</th>
        </thead>
        <tbody>
          <tr scope="col">
            <td id="fund">{{ selected_cf.fund }}</td>
            <td id="deptid">{{ selected_cf.deptid }}</td>
            <td id="program">{{ selected_cf.program }}</td>
            <td id="class_code">{{ selected_cf.class_code }}</td>
            <td id="project_grant">{{ selected_cf.project_grant }}</td>
            <td id="cf_shortcode">{{ selected_cf.shortcode }}</td>
            <td id="cf_nickname">{{ nickname }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-8" id="no_cfs_alert">
        <div class="alert alert-danger col-md-8" role="alert">
            <i class="fas fa-exclamation-triangle"></i>
            This department does not have any chartfields currently in use. Please select another department.
        </div>
    </div>



    <div class="col-md-8" id="no_cfs_alert" hidden>
        <div class="alert alert-danger col-md-8" role="alert">
            <i class="fas fa-exclamation-triangle"></i>
            This department does not have any chartfields currently in use. Please select another department.
        </div>
    </div>
</div>
