{% extends 'base.html' %}
{% block content %}

<div class="container" role="main">
    <div class="row">
        <div class="col-lg-12">
            <div class="message">
                <h1>The Service Request System is currently down</h1>
                <hr class="style1">
                <p class="lead">
                    We are currently undergoing maintenance. Please return at a later time.
                </p>               
            </div>
        </div>
    </div>
</div>

{% endblock %}