{% extends 'bom/base.html' %}
{% block content %}
<h2>{{ title }}</h2>
<a href="{% url 'actual-vs-estimate-completed' %}">Show Completed</a><br/>

<table class="table table-sm table-bordered">
    <th class="sticky-header">Project</th>
    <th class="sticky-header">Status</th>
    <th class="sticky-header">Drafting</th>
    <th class="sticky-header">Facilites</th>
    <th class="sticky-header">Network Eng</th>
    <th class="sticky-header">Project Mgt</th>
    <th class="sticky-header">Net Ops</th>
    <th class="sticky-header">FSU - OSP</th>
    {% for estimate in estimates %} 
        <tr>
            <td>{{ estimate.wo_number_display }} Preorder: {{ estimate.pre_order_number }} {{estimate.label}}</td>
            <td>{{ estimate.status }}</td>
            <td data-bs-toggle="tooltip" data-bs-placement="top" title="{{estimate.drafting_group_hover_string}}" class="{{ estimate.drafting_group_cell_class }}">
                {{ estimate.drafting_group_submitted_hours|floatformat:2 }} / {{estimate.drafting_group_estimated_hours|floatformat:2}}
            </td>

            <td data-bs-toggle="tooltip" data-bs-placement="top" title="{{estimate.facilities_group_hover_string}}" class="{{ estimate.facilities_group_cell_class }}">
                {{ estimate.facilities_group_submitted_hours|floatformat:2 }} / {{estimate.facilities_group_estimated_hours|floatformat:2}}
            </td>

            <td data-bs-toggle="tooltip" data-bs-placement="top" title="{{estimate.network_group_hover_string}}" class="{{ estimate.network_group_cell_class }}">
                {{ estimate.network_group_submitted_hours|floatformat:2 }} / {{estimate.network_group_estimated_hours|floatformat:2}}
            </td>

            <td data-bs-toggle="tooltip" data-bs-placement="top" title="{{estimate.project_manager_group_hover_string}}" class="{{ estimate.project_manager_group_cell_class }}">
                {{ estimate.project_manager_group_submitted_hours|floatformat:2 }} / {{estimate.project_manager_group_estimated_hours|floatformat:2}}
            </td>

            <td data-bs-toggle="tooltip" data-bs-placement="top" title="{{estimate.network_ops_group_hover_string}}" class="{{ estimate.network_ops_group_cell_class }}">
                {{ estimate.network_ops_group_submitted_hours|floatformat:2 }} / {{estimate.network_ops_group_estimated_hours|floatformat:2}}
            </td>

            <td data-bs-toggle="tooltip" data-bs-placement="top" title="{{estimate.osp_tech_group_hover_string}}" class="{{ estimate.osp_tech_group_cell_class }}">
                {{ estimate.osp_tech_group_submitted_hours|floatformat:2 }} / {{estimate.osp_tech_group_estimated_hours|floatformat:2}}
            </td>

        </tr>
    {% endfor %}
</table>

<style>
    .sticky-header {
        position: sticky;
        top: 0; /* Sticks to the top of the viewport */
        background-color: white; /* Ensures the header has a solid background */
        z-index: 1; /* Keeps the header above other content */
    }
</style>

{% endblock %}
