{% extends 'bom/base.html' %}
{% block content %}
<h2>{{ title }}</h2>

<table class="table table-sm table-bordered">
    <th>Project</th>
    <th>Status</th>
    <th>Facilites Eng</th>
    <th>Network Eng</th>
    <th>Video Eng</th>
    {% for estimate in estimates %} 
        <tr>
            <td>{{ estimate.wo_number_display }} Preorder: {{ estimate.pre_order_number }} {{estimate.label}}</td>
            <td>{{ estimate.status }}</td>
            <td data-bs-toggle="tooltip" data-bs-placement="top" title="{{estimate.facilities_group_hover_string}}" class="{{ estimate.facilities_class }}">
                {{ estimate.facilities_group_submitted_hours|floatformat:2 }} / {{estimate.facilities_group_estimated_hours|floatformat:2}}
            </td>
            <td data-bs-toggle="tooltip" data-bs-placement="top" title="{{estimate.network_group_hover_string}}" class="{{ estimate.network_class }}">
                {{ estimate.network_group_submitted_hours|floatformat:2 }} / {{estimate.network_group_estimated_hours|floatformat:2}}
            </td>
            
            <td data-bs-toggle="tooltip" data-bs-placement="top" title="{{estimate.video_group_hover_string}}" class="{{ estimate.video_class }}">
                {{ estimate.video_group_submitted_hours|floatformat:2 }} / {{estimate.video_group_estimated_hours|floatformat:2}}
            </td>
        </tr>
        {% endfor %}

    <tr>
        <td>IF-298-1    Preorder: 59570  Mult-1</td>
        <td>Open</td>
        <td data-bs-toggle="tooltip" data-bs-placement="top" title="John Smith: 8" class="table-success">8/16</td>
        <td>0/0</td>
        <td>0/0</td>
    </tr>
    <tr>
        <td>IF-298-1    Preorder: 59570  Mult-2</td>
        <td>Closed</td>
        <td>0/0</td>
        <td data-bs-toggle="tooltip" data-bs-placement="top" title="Pam Weaver: 8 | Tim Jones: 10" class="table-warning">18/20</td>
        <td>0/0</td>
    </tr>
    <tr>
        <td>IF-285-1    Preorder: 59575  Mult-1</td>
        <td>Open</td>
        <td data-bs-toggle="tooltip" data-bs-placement="top" title="John Smith: 24 | Tim Jones: 30 | Jimmy O'Neal: 10 | Leroy Salah: 6" class="table-danger">70/32</td>
        <td>0/0</td>
        <td data-bs-toggle="tooltip" data-bs-placement="top" title="Paige Gilmore: 10" class="table-success">10/25</td>
        
    </tr>

</table>

{% endblock %}


