<table id="techTable" class="table table-hover" style="display: table;">
    <tbody>
        {% for tech in techs %}
        <tr id="{{tech.labor_code}}"role="button" style="display: table-row;" onclick="handleRowClick_tech_search_table('{{tech.labor_code}}')" hx-get="{% url 'show-workorders' %}" hx-trigger="click" hx-include="#techSearch" hx-target="#workorders">
            <td> {{tech.labor_code}} </td>
            <td> {{tech.labor_name}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% block js %}
<script>
    if (typeof window.handleRowClick_tech_search_table !== 'function') {
        window.handleRowClick_tech_search_table = function(laborCode) {
            document.getElementById('techSearch').value = laborCode;
            document.getElementById('techTable').style.display = 'none';
        };
    }
</script>

{% endblock %}