<table id="woEstimateTable" class="table table-hover" style="display: table;">
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Work Order Display</th>
            <th>Pre Order Number</th>
            <th>Status Name</th>
            <th>Work Status Name</th>
            <th>Assigned Labor Code</th>
            <th>Labor Code</th>
            <th>Labor Name Display</th>
            <th>Labor Cost Name</th>
            <th>Rate Used</th>
            <th>Estimated Mins</th>
            <th>Actual Mins</th>
            <th>Assn WO Group Code</th>
            <th>Assn WO Group Name</th>
    </tr>
</thead>
<tbody>
    {% for wo in workorders %}
    <tr>
        <td>{{ wo.project_name }}</td>
        <td>{{ wo.work_order_display }}</td>
        <td>{{ wo.pre_order_number }}</td>
        <td>{{ wo.status_name }}</td>
        <td>{{ wo.work_status_name }}</td>
        <td>{{ wo.assigned_labor_code }}</td>
        <td>{{ wo.labor_code }}</td>
        <td>{{ wo.labor_name_display }}</td>
        <td>{{ wo.labor_cost_name }}</td>
        <td>{{ wo.rate_used }}</td>
        <td>{{ wo.estimated_mins }}</td>
        <td>{{ wo.actual_mins }}</td>
        <td>{{ wo.assn_wo_group_code }}</td>
        <td>{{ wo.assn_wo_group_name }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>