<table class="table table-hover table-striped table-sm"
    style="table-layout: fixed; display: block; max-height: 500px; overflow-y: scroll">
    <thead>
        <tr>
            <th scope="col">UM Code</th>
            <th scope="col">Description</th>
            <th scope="col">Bid Status</th>
            <th scope="col">Required Qty @ Local Vendor Branch</th>
            <th scope="col">Estimated Annual Qty</th>
            <th scope="col">UM Notes</th>

        </tr>
    </thead>
    <tbody id='availableitems'>
        {% for row in rows %}
        <tr>
            <td style="white-space: nowrap"> {{ row.umcode }}</td>
            <td> {{ row.desc }}</td>
            <td> {{ row.bid_status }}</td>
            <td> {{ row.req_qty }}</td>
            <td> {{ row.annual_qty }}</td>
            <td> {{ row.um_notes }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>