{% extends 'baseapps.html' %}

{% block content %}
<h1>{{title}}</h1>
<p>
<b>Q. Do I have to enter a price on all items?</b>
<br>A. No, only the ones you are interested in bidding on.
<br><br>
<b>Q. Is the price rounded?
</b><br>A. Yes, the price will round up and be displayed as such.
<br><br>
<b>Q. Are you looking for pricing where there are "0" quantities listed?
</b><br>A. Yes.
<br><br>
<b>Q. Contracting pricing for the length of the bid, -- what if there are price increases during the 2 year period, how do we address this?</b>
<br>A. Prices should not increase for the duration of this proposal of two (2) years. Any increase proposed must be submitted to the University in writing at least thirty (30) calendar days before the proposed effective date of the price increase and shall be limited to fully documented cost increases to the Supplier that are demonstrated to be industry-wide.
<br><br>
<b>Q. Is my company considered a Michigan company, if headquartered and parent company is in another state but a local branch is located in Michigan?</b>
<br>A. As long as the company is located and doing business in Michigan, we would consider it a Michigan company.
<br><br>
<b>Q. On the signature page of the bid is a scanned copy acceptable?
</b><br>A. Yes this would be acceptable.
<br><br>
<b>Q. The shipping information questions for estimated ship date and location as well as how the product ships may have many variables with some based on the Universities request. Can they be shipped from our local and other USA branches as well as direct ships from the factory?</b>
<br>A. Yes you can, The university desires to be informed that your company will be able to provide the listed requirements at the time of order acceptance or sooner thereafter.
<br><br>
<b>Q. If the manufacturer has no price list should we assume that we are to supply pricing sold to 3 or more customers?
</b><br>A. Yes, if at all possible.
<br><br>
<b>Q. If we have never sold the product how should we respond to the pricing information?
</b><br>A. If your company is unable or has no desire to bid on any line item that is included in the bid package, then it can leave that item blank and it will be considered an item that your company is not interested in bidding on.
<b>Q. How should we enter our pricing?  
</b><br>A. The university pricing their products by each or feet.  If the price you quote is a box or package, please note the box quantity or package size in the Vendor notes.
</p>
{% endblock %}