{% extends 'baseapps.html' %}
{% block styles %}
<style>
    #aux-nav {
        background-color: {{background_color}}
    }

    .option {
        display: block;
        padding: 20px;
        width: 500px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 2px;
        cursor: pointer;
        border: 1px solid #D6D6D6;
        border-radius: 1.25rem;
        background-color: #00264F;
        outline: none;
        color: white;
        box-shadow: 1px 1px 5px grey;

    }

    .option:focus,
    .option:hover {
        outline: none;
        background-color: #004785;
    }
</style>
{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
{% if cycle_info.open %}
{% include 'mbid/cycle_info.html' %}
{% elif cycle_info.viewable %}
{% if procurement %}
<h4>Please archive the last bidding cycle</h4>
{% else %}
<h4>The bidding cycle has closed. You may view your bids</h4>
{% endif %}

{% else %}
{% if procurement %}
<h4>All bidding cycles archived. You may create a new cycle.</h4>
{% else %}
<h4>The bidding cycle has closed. You can no longer view your bids</h4>
{% endif %}
{% endif %}


{% if procurement %}
<div class='row'>
    <div class='col-lg-8'>
        {% if cycle_info.open == False and cycle_info.viewable == False %}
        <div tabindex="0" role="button" class="option" onclick="window.location.href='create_cycle/'">
            Create Bid Cycle</div>
        {% endif %}
        <div tabindex="0" role="button" class="option" onclick="window.location.href='edit_cycle/'">
            Edit/Close Current Bid Cycle</div>
        <div tabindex="0" role="button" class="option" onclick="window.location.href='review/'">
            Review/View Bids</div>
    </div>
</div>
<hr>
{% endif %}
{% if cycle_info.open %}
<h3 style="color: var(--med-blue); ">Vendor Links</h3>
<div class='row'>
    <div class="col-lg-7">
        <div tabindex="0" role="button" class="option" onclick="window.location.href='create_report/'">
            Create Bid Cycle Report</div>
        <div tabindex="0" role="button" class="option" onclick="window.location.href='upload_bids/'">
            Upload Bids</div>
        <div tabindex="0" role="button" class="option" onclick="window.location.href='review_bids/'">
            Review Uploaded Bids</div>
    </div>
    <div class='col-lg-5'>
        <div class='alert alert-dark' role='alert'>
            <h3 style="color:#0075bc">Vendor Bidding Instructions</h3>
            <p style="color: dark grey">Review the FAQs before starting your bid. Vendors can bid on as many items as
                desired. Use "Review Bids" to view items you have made bids on.
                Only the last uploaded bids will be considered. Only edit BID PRICE and VENDOR NOTES (if applicable) for each item you bid on. </p>
            <a href="{% url 'mbid:faq' %}" target="_blank">FAQ <i class="fas fa-external-link-alt"></i></a>
        </div>
    </div>
</div>
{% elif cycle_info.viewable %}
<div tabindex="0" role="button" class="option" onclick="window.location.href='review_bids/'">
    Review Uploaded Bids</div>
{% endif %}


{% endblock %}