{% extends 'baseapps.html' %}

{% block content %}
<h1>{{ title }}</h1>
{% if cycle_info.open %}
{% include 'mbid/cycle_info.html' %}
{% elif cycle_info.viewable %}
{% if procurement %}
<h4>Please archive the last bidding cycle</h4>
{% else %}
<h4>The bidding cycle has closed. You may view your bids</h4>
{% endif %}

{% else %}
{% if procurement %}
<h4>All bidding cycles archived. You may create a new cycle.</h4>
{% else %}
<h4>The bidding cycle has closed. You can no longer view your bids</h4>
{% endif %}
{% endif %}


{% if procurement %}
<div class='row'>
    <div class='col-lg-8'>
        <a class="alert alert-secondary col-lg-6" href="{% url 'mbid:create_cycle'%}">Create Bid Cycle</a>
        <a class="alert alert-secondary col-lg-6" href="{% url 'mbid:edit_cycle'%}">Edit/Close Current Bid Cycle</a>
        <a class="alert alert-secondary col-lg-6" href="{% url 'mbid:review'%}">Review/View Bids</a>
    </div>
</div>
<hr>
<p>Vendor Links</p>
<div class='row'>
    <div class="col-lg-7">
        <section>
            <a class="alert alert-secondary col-lg-8" href="{% url 'mbid:create_report'%}">Create Bid Cycle Report</a>
            <a class="alert alert-secondary col-lg-8" href="{% url 'mbid:upload_bids'%}">Upload Bids</a>
            <a class="alert alert-secondary col-lg-8" href="{% url 'mbid:review_bids'%}">Review Uploaded Bids</a>
        </section>
    </div>
    <div class='col-lg-5'>
        <div class='alert alert-dark' role='alert'>
            <h3 style="color:#0075bc">Vendor Bidding Instructions</h3>
            <p style="color: dark grey">Review the FAQs before starting your bid. Vendors can bid on as many items as
                desired. Edits are permitted until bidding closes. Use "Review Bids" to view items you have made bids
                on. To remove a bid, reupload the file with the bidding price of 0 for the item you wish to remove your
                bid. Only edit BID PRICE and VENDOR NOTES (if applicable) for each item you bid on. </p>
            <a href="{% url 'mbid:faq'}" class="btn btn-link" target="_blank">FAQ <i
                    class="fas fa-external-link-alt"></i></a>
        </div>
    </div>
</div>
{% else %}
{% if cycle_info.open %}
<div class="row">
    <div class="col-lg-7">
        <section>
            <a class="alert alert-secondary col-lg-8" href="{% url 'mbid:create_report'%}">Create Bid Cycle Report</a>
            <a class="alert alert-secondary col-lg-8" href="{% url 'mbid:upload_bids'%}">Upload Bids</a>
            <a class="alert alert-secondary col-lg-8" href="{% url 'mbid:review_bids'%}">Review Uploaded Bids</a>
        </section>
    </div>
    <div class='col-lg-5'>
        <div class='alert alert-dark' role='alert'>
            <h3 style="color:#0075bc">Vendor Bidding Instructions</h3>
            <p style="color: dark grey">Review the FAQs before starting your bid. Vendors can bid on as many items as
                desired. Edits are permitted until bidding closes. Use "Review Bids" to view items you have made bids
                on. To remove a bid, reupload the file with the bidding price of 0 for the item you wish to remove your
                bid. Only edit BID PRICE and VENDOR NOTES (if applicable) for each item you bid on. </p>
            <a href="faq/" class="btn btn-link" target="_blank">FAQ<i class="fas fa-external-link-alt"></i></a>
        </div>
    </div>
    {% elif cycle_info.viewable %}
    <a class="alert alert-secondary col-lg-8" href="{% url 'mbid:review_bids'%}">Review Uploaded Bids</a>
    {% endif %}
</div>
{% endif %}

{% endblock %}