Django~=4.1.0
whitenoise
gunicorn
mozilla-django-oidc
pyyaml
cx_Oracle
django-debug-toolbar
ldap3
djangorestframework
reportlab~=3.6.0  # Freeze until there is a fix for pycairo in 4.0
django-extensions
openpyxl
