<div class="col-lg-5 col-md-6 col-12">
	<form id='techForm' method='post' action='' onsubmit='return validate_search()'>{% csrf_token %}
	    <div class="form-group" id="searchTech">
	        <label for="techSearch" id="labelTechSearch">
	            <strong>Search for a Tech Name or Tech ID</strong>
	        </label>
	        <small id="buildingTechBlock" class="form-text text-muted">
	            Search for the tech name or tech ID whose time you'd like to enter.
	        </small>
	        <input name='techSearch' id="techSearch" class="form-group" type="text" aria-describedby="buildingTechBlock"
	            placeholder="Search..">
	        <div role=”alert” class="invalid-feedback" id='error-tech-id'><i class="fas fa-exclamation-triangle"
	            aria-label="Icon signfying that user must enter a value"></i>Please enter a tech ID.
	        </div>
	  	</div>

	    <table id="techTable" class="table table-hover" aria-live=”polite”>
	        {% for tech in all_techs %}
	            <tr tabindex="0"  id="{{ tech.labor_code }}" role="button" aria-label="Select tech 
	                {{ tech.labor_name_display2 }} with tech ID of {{ tech.labor_code }}">
	                <td >{{ tech.labor_code }}</td>
	                <td name="techName">{{ tech.labor_name_display2 }}</td>
	            </tr>
	        {% endfor %}
	    </table>
	    <button class='btn btn-primary' type='submit'>Search</button>
	</form>
</div>


{% if tech_name %}
	<div class='mt-4'>
		<form id='addlInfoForm' method='post' action=''>{% csrf_token %}
			<p><strong>Tech Name: </strong><div id='tech_name'>{{ tech_name.labor_name_display2 }}</div></p>
			<p><strong>Tech ID: </strong><div id='tech_id'>{{ tech_id }}</div></p>

			<div class="form-group" id="selectAssignedGroup">
		        <label for="agSelect" id="labelAGSelect">
		            <strong>Assigned Group </strong>
		        </label>
		        <select id='agSelect'>
		        	{% for group in assigned_groups %}
		        		<option>{{ group.wo_group_name }}</option>
		        	{% endfor %}
				</select>
		        <div role=”alert” class="invalid-feedback" id='error-assigned-group'><i class="fas fa-exclamation-triangle"
		            aria-label="Icon signfying that user must enter a value"></i>Please select an assigned group.
		        </div>
		  	</div>
	  	</form>
	</div>
{% endif %}

{% comment %}
{% block scripts %}
{% load static %}
<script src="{% static 'single_tech/js/single_tech.js' %}"></script>
{% endblock %}
{% endcomment %}