{{widget.optgroups.options}}
{% for group, options, index in widget.optgroups %}
{% for choice in options %}
<div class="form-check">
    <input class="form-check-input {{ widget.attrs.class }}" type="radio" value="{{ choice.value }}" name="{{ widget.name }}" id="{{ choice.name }}_{{ index }}" required
    {%if choice.selected %} checked {% endif %}
    {% include "django/forms/widgets/attrs.html" %}>
    <label class="form-check-label " for="{{ choice.name }}_{{ index }}">{{ choice.label }}</label>
    {% if forloop.parentloop.last %}
    <div class="invalid-feedback"><i class="fas fa-exclamation-triangle"
            aria-label="Icon signfying that user must select a value"></i>Please choose one.</div>
    {% endif %}
</div>
{% endfor %}
{% endfor %}