<div id='wo-info-input'>
	<div class='card border-dark col-5 pb-0'>
		<div class='card-body'>
			<p class='d-inline'><strong>Work Order:</strong>&nbsp;<span class='work_order'></span></p><br>
			<p class='d-inline'><strong>Comment Text:</strong>&nbsp;<span class='comment_text'></span></p>
		</div>
	</div>
</div>

<h3>Enter time</h3>

<div class='row'>
	<div class="form-group col-2" id="searchTechMultiple">
		<label for="techSearchMultiple" id="labelTechSearchMultiple">
	        <strong>Tech ID/Name</strong>
	    </label>
		<select class='form-control' id='techSearchMultiple'>
			<option></option>
			{% for tech in all_techs %}
				<option value='{{ tech.labor_code }}'>{{ tech.labor_code }}&nbsp;{{ tech.labor_name_display2 }}</option>
			{% endfor %}
		</select>
	</div>

	<div class="form-group col-2" id="selectAssignedGroupMultiple">
		<label for="assignedGroupSelectMultiple" id="labelAssignedGroupSelectMultiple">
		    <strong>Assigned Group</strong>
		</label>
		<select class='form-select' id='assignedGroupSelectMultiple' disabled>
		</select>
	</div>

	<div class="form-group col-2" id="selectRateLevelMultiple">
		<label for="rateSelectMultiple" id="labelRateSelectMultiple">
		    <strong>Rate Level </strong>
		</label>
		<select class='form-select' id='rateSelectMultiple' disabled>
			{% for rate in rate_levels %}
				<option>{{ rate.labor_rate_level_name }}</option>
			{% endfor %}
		</select>
	</div>

	<div class='form-group col-2'>
		<label for="assigned_date_multiple"><strong>Assigned Date</strong></label>
	    <input type="date" class="form-control" id="assigned_date_multiple" name='assigned_date_multiple' readonly>
	</div>	

	<div class='form-group col-2'>
		<label for="duration_multiple"><strong>Duration</strong></label>
		<div class='form-inline' id='duration_multiple'>
			<input class='form-control col-6' type="text" name="duration-hours-multiple" id="duration-hours-multiple" placeholder='HH' readonly>
			<input class='form-control col-6' type="text" name="duration-mins-multiple" id="duration-mins-multiple" placeholder='MM' readonly>
		</div>
	</div>

	<div class='form-group col-2'>
		<label for="notes-multiple"><strong>Notes</strong></label>
		<input type="text" class="form-control" id="notes-multiple" name='notes-multiple' readonly>
	</div>
</div>

<button class='btn btn-primary float-end' id='multiple-add'>Add</button><br>

<div class='alert alert-danger hidden col-4' id='add-error'></div>

<div id='multiple-input' class='mt-4'>
	<h3 id='multiple-input-title' class='d-inline'>Time Entries</h3>
	<h5 class='d-inline offset-8'>Total Hours Entered:&nbsp;<span id='total-hours'>0</span></h5>
	<table class='table mt-4' id='multiple-input-table'>
		<thead>
			<tr>
				<th scope="col">Tech ID</th>
				<th scope="col">Assigned Group</th>
				<th scope="col">Rate Level</th>
				<th scope="col">Assigned Date</th>
				<th scope="col">Duration</th>
				<th scope="col">Notes</th>
				<th class="delete-col" scope="col" id='delete-title-multiple'></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

<div class='alert alert-danger hidden col-8' id='max-entries-multiple'>
	You may only submit 15 time entries at a time. Please submit additional entries to report time for more than 15 technicians.
</div>

<div class='alert alert-danger hidden col-4' id='entries-error'></div>


<form action='submitted/' method='POST' id='multiple-input-form' hidden>{% csrf_token %}
	<input type='text' name='work_order' class='work_order' hidden>
</form>

