{% extends 'base.html' %}
{% block content %}

<form action="/auth/get_dept/" method="POST">{% csrf_token %}
    <h1>Department Look Up</h1>
    <label for="deptf">Select a Department ID</label>
    <select type="select" name="dept_parm" id="deptf" value="{{ dept.deptid }}">
        <option></option>
        {% for dept in dept_list %}
        <option value={{ dept.deptid }}>{{ dept.deptid }}</option>
        {% endfor %}
    </select>
    <input type='submit' value='Submit' class="btn btn-primary">
</form>

{% if dept_status != 'I' %}
<h3>{{ subtitle1 }}</h3>
<h4>{{ subtitle2 }}</h4>
{% else %}
<br><font size=+2 color="#FF0000">This department is inactive.</font>
<h3><font color="#FF0000"> {{ subtitle1 }} </font></h3>
<h4><font color="#FF0000"> {{ subtitle2 }} </font></h4>
{% endif %}
<table class="table table-hover table-striped table-sm">
    <thead>
        <tr>
                <th>Uniqname</th>
                <th>Name</th>
                <th>Role</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
                <td> {{ row.col1 }}</td>
                <td> {{ row.col2 }}</td>
                <td> {{ row.roles }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/select.js"></script>
{% endblock %}