{% extends 'base.html' %}
{% block content %}


<h1>{{ title }}</h1>
<form method="POST" hx-post="{% url 'number-lookup' %}" hx-target="#message" name="number_lookup_form" hx-disabled-elt="#submit-button">{% csrf_token %}
    <label for="deptf">
        <strong>Enter the Uniqname to search for associated numbers.</strong>
    </label>
    <br>
    <input id="user_param" type='text' name="user_param" class="form-control text-field-short col-4" placeholder='Uniqname'>    
    <input id='submit-button' type='submit' class='btn btn-primary'>
</form>
<br/>

<div id="message"></div>


{% endblock %}

{% block js %}
<!-- <script type="text/javascript" src="/static/select.js"></script> -->
{% endblock %}