{% extends 'base.html' %}
{% block content %}

<style>
    tr.no-top-border td {
        border-top: none;
    }

    tr.no-top-border th {
        border-top: none;
    }
</style>
    

<h1>{{ title }}</h1>
<form action="/auth/get_uniqname/" method="POST">{% csrf_token %}

    <div>
        <div class="form-group">
            <label for="uniqname-field">Enter a Uniqname</label><br>
            <input type='search' name="uniqname_parm" id="uniqname-field" class="form-control text-field-short col-4" placeholder='Uniqname'>
            <input id="search-btn" type='submit' value='Search' class="btn btn-primary">
        </div>
        {% if uniqname_parm == '' %}
        {% else %}
            {% if result is not None and result != '' %}
            <i class="fas fa-exclamation-triangle" aria-label="Icon for inactive department"></i><strong class="prv-msgs">&nbsp;{{ result }}</strong>
            {% else %}
                {% if osc_user.exists %}
                <div class='mt-5'>
                    <h2 class='d-inline'>Assign Access Roles for: </h2><h3 class='d-inline'>{{ first_name }} {{ last_name }} ({{ uniqname_parm }})</h3>
                    <p class='prv-msgs mt-2'>Inactive departments are shown with <strong>red text and the following icon:&nbsp;</strong><i class="fas fa-exclamation-triangle" aria-label="Icon for inactive department"></i></p>
                </div>
                {% else %}
                    <strong>{{ last_name }}, {{ first_name }}  ({{ uniqname_parm }})</strong> 
                     - User not found, add a role to create them.
                {% endif %}
            {% endif %}
        {% endif %}
        <br>
        <strong>{{ submit_msg }}</strong>
    </div>
</form>

<form action="/auth/modpriv/" method="POST">{% csrf_token %}
    <input type="hidden" id="uniqname" name="uniqname_parm" value="{{uniqname_parm}}">
    <input type="hidden" id="last_name" name="last_name" value="{{last_name}}">
    <input type="hidden" id="first_name" name="first_name" value="{{first_name}}">

    {% if last_name %}

    <table class='table table-sm table-striped' id='manage-access-table'>
        <thead>
            <tr class='no-top-border'>
                <td></td>
                <td></td>
                <td></td>
                <td scope="col" style='text-align:center;' id='proxy-all'>
                    <label for='proxy-check'><strong>Select All</strong></label><br>
                    <input type='checkbox' id='proxy-check'>
                </td>
                <td scope="col" style='text-align:center;' id='orderer-all'>
                    <label for='orderer-check'><strong>Select All</strong></label><br>
                    <input type='checkbox' id='orderer-check'>
                </td>
                <td scope="col" style='text-align:center;' id='reporter-all'>
                    <label for='reporter-check'><strong>Select All</strong></label><br>
                    <input type='checkbox' id='reporter-check'>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td scope="col" style='text-align:center;'><strong>Edit Role(s)</strong></td>
                <td></td>
                <td></td>
            </tr>
            <tr class='no-top-border'>
                <th scope="col">Department ID</th>
                <th scope="col">Department Name</th>
                <th scope="col">Current User Role(s)&nbsp;<i class="fas fa-question-circle btn-link" aria-label="More Information icon" data-toggle="modal" data-target="#statusIndicatorModal"></i></th>
                <th style='text-align:center;' scope="col">Proxy</th>
                <th style='text-align:center;' scope="col">Orderer</th>
                <th style='text-align:center;' scope="col">Reporter</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td scope="col">{{ row.dept }}</td>
                    <td>{{ row.dept_name }}</td>
                    <td>{{ row.roles_list }}</td>
                    {% if row.disable_proxy %}
                        {% if row.current_roles.proxy %}
                            <td style='text-align:center;'><input class='proxy' type='checkbox' checked disabled></td>
                        {% else %}
                            <td style='text-align:center;'><input class='proxy'type='checkbox' disabled></td>
                        {% endif %}
                    {% else %}
                        {% if row.current_roles.proxy %}
                            <td style='text-align:center;'><input class='proxy' type='checkbox' checked></td>
                        {% else %}
                            <td style='text-align:center;'><input class='proxy' type='checkbox'</td>
                        {% endif %}
                    {% endif %}

                    {% if disable_others %}
                        {% if row.current_roles.orderer %}
                            <td style='text-align:center;'><input class='orderer' type='checkbox' checked disabled></td>
                        {% else %}
                            <td style='text-align:center;'><input class='orderer' type='checkbox' disabled></td>
                        {% endif %}
                    {% else %}
                        {% if row.current_roles.orderer %}
                            <td style='text-align:center;'><input class='orderer' type='checkbox' checked></td>
                        {% else %}
                            <td style='text-align:center;'><input class='orderer' type='checkbox'></td>
                        {% endif %}
                    {% endif %}
                    
                    {% if row.disable_others %}
                        {% if row.current_roles.reporter %}
                            <td style='text-align:center;'><input class='reporter' type='checkbox' checked disabled></td>
                        {% else %}
                            <td style='text-align:center;'><input class='reporter' type='checkbox' disabled></td>
                        {% endif %}
                    {% else %}
                        {% if row.current_roles.reporter %}
                            <td style='text-align:center;'><input class='reporter' type='checkbox' checked></td>
                        {% else %}
                            <td style='text-align:center;'><input class='reporter' type='checkbox'></td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class='save-changes'>
        <button type='button' class='btn btn-outline-primary'>Clear Changes</button>
        <button type='button' class='btn btn-primary'>Save Changes</button>
    </div>

    <!-- <h6>Please select a Task, a Role, and at least one Department then click Submit.</h6>

    <h7>Inactive departments are shown with a <strong class="prv-msgs">red text and the following icon: <i class="fas fa-exclamation-triangle" aria-label="Icon for inactive department"></i></strong></h7>

    <div class="row access-action-row">
        <div class="column">
            <h2>Select Task</h2>
            <div class="form-check">
                <input id="roleAdd" type='radio' name="taskrad" value='add' class="form-check-input">
                <label for="roleAdd" class="form-check-label">Add Access</label><br>
                <input id="roleDelete" type='radio' name="taskrad" value='remove' class="form-check-input">
                <label for="roleDelete" class="form-check-label">Remove Access</label>
            </div>
        </div>
        <div class="column" id="addRole">
            <h2>Select Role</h2>
            <div class="form-check">
                {% for role in grantable_roles %}
                <input type='radio' name="roleAdd" value={{ role.role }} id={{ role.role }} class="form-check-input">
                <label for={{ role.role }} class="form-check-label">{{ role.role }}</label>
                <br>
            {% endfor %}
            </div>
        </div>
        <div class="column" id="deleteRole">
            <h2>Select Role</h2>
            <div class="form-check">
                {% for role in grantable_roles %}
                <input type='checkbox' name="roleDelete" value="{{ role.role }}"" id="{{ role.role }}"" class="form-check-input">
                <label for="{{ role.role }}" class="form-check-label">{{ role.role }}</label>
                <br>
                {% endfor %}
            </div>
            
        </div>
        <div class="column deptid">
            <h2>Select Department</h2>
            <div class="form-check">
                <input type="checkbox" onclick="toggle(this);" id="selectAllDepts" class="form-check-input">
                <label for="selectAllDepts" class="form-check-label">Select All Departments</label><br>
                {% for row in rows %}
                    <div data-manager="{{ row.dept_manager }}">
                    {% if row.dept_status != 'I' %}
                    <input type='checkbox' name="deptck" value={{ row.dept }} id="dept.{{ row.dept }}" class="form-check-input">
                    <label for="dept.{{ row.dept }}" class="form-check-label">{{ row.dept }} - {{ row.dept_name }}</label>
                    {% else %}
                    <input type='checkbox' name="deptck" value={{ row.dept }} id="dept.{{ row.dept }}" class="form-check-input">
                    <label for="dept.{{ row.dept }}" class="form-check-label prv-msgs"><i class="fas fa-exclamation-triangle" aria-label="Icon for inactive department"></i>INACTIVE:  {{ row.dept }} - {{ row.dept_name }}</label>
                    {% endif %}
                    <br>
                    </div>
                {% endfor %} 
            </div>
        </div>
        <div class="column">
            <input type='submit' name='process_access' value='Submit' class="btn btn-primary">
        </div>
    </div> -->

    {% endif %}
</form>


{% endblock %}

{% block js %}
<script language="JavaScript">

$(document).ready(function() {

    $('#deleteRole').hide();

    $("#roleAdd").click(function(event) {
        $('#deleteRole').hide();
        $('#addRole').show();
    });

    $("#roleDelete").click(function(event) {
        $('#deleteRole').show();
        $('#addRole').hide();
    });

    $("#Proxy").click(function(event) {
        $('[data-manager="False"]').hide();
        toggle('False');
    });

    $("#Orderer").click(function(event) {
        $('[data-manager="False"]').show();
    });

    $("#Reporter").click(function(event) {
        $('[data-manager="False"]').show();
    });

    // Select all functionality - proxy
    $('#proxy-all').on('click', function() {
        var checked = false;
        if ($(this).is(':checked')) {
            checked = true;
        }
        $('#manage-access-table tbody tr').each(function() {
            var inner_checked = $(this).find('.proxy').is(':checked');

            if (checked != inner_checked) {
                $(this).find('.proxy').click();
            }
        })
    })

    // Select all functionality - orderer
    $('#orderer-all').on('click', function() {
        var checked = false;
        if ($(this).is(':checked')) {
            checked = true;
        }
        $('#manage-access-table tbody tr').each(function() {
            var inner_checked = $(this).find('.orderer').is(':checked');

            if (checked != inner_checked) {
                $(this).find('.orderer').click();
            }
        })
    })

    // Select all functionality - reporter
    $('#reporter-all').on('click', function() {
        var checked = false;
        if ($(this).is(':checked')) {
            checked = true;
        }
        $('#manage-access-table tbody tr').each(function() {
            var inner_checked = $(this).find('.reporter').is(':checked');

            if (checked != inner_checked) {
                $(this).find('.reporter').click();
            }
        })
    })

});


function toggle(source) {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i] != source)
            checkboxes[i].checked = source.checked;
    }
}

</script>
{% endblock js %}
