{% extends 'base.html' %}
{% block content %}

<style>
    tr.no-top-border td {
        border-top: none;
    }

    tr.no-top-border th {
        border-top: none;
    }
</style>
    

<h1>{{ title }}</h1>

<form action="/auth/get_uniqname/" id='first-form' method="POST">{% csrf_token %}

    <div class="col-lg-8 col-12">
        <div class="form-group">
            <label for="uniqname-field">Enter a Uniqname</label><br>
            <small class="text-muted form-text mb-1" id="manageAccInstrcutions">Enter the uniqname of the person that you want to give/edit access</small>
            <input type='search' name="uniqname_parm" id="uniqname-field" class="form-control text-field-short col-lg-4 col-md-5 col-7" placeholder='Uniqname' aria-describedby="manageAccInstrcutions">
            <input id="search-btn" type='submit' value='Search' class="btn btn-primary">
        </div>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-8 col-12">
        <div class="alert alert-primary">
            Need help? Please refer to our <a class="alert-link" href="https://documentation.its.umich.edu/node/1065" target="_blank">Access & Permissions document</a> to learn how to manage user access.
        </div>
    </div>

    <div>
        {% if uniqname_parm == '' %}
        {% else %}
            {% if result is not None and result != '' %}
                {% if result == 'You are attempting to view your own access. ' %}
                	<i class="fas fa-exclamation-triangle" aria-label="Icon for inactive department"></i><strong class="prv-msgs">
                	&nbsp;{{ result }}
                    Please see <a href='/auth/mypriv/'>View System Privileges</a>.</strong>
                {% else %}
                    {% if osc_user.exists %}
                    <div class='mt-5'>
                        <h2 class='d-inline'>Assign Access Roles for: </h2><h3 class='d-inline'>{{ first_name }} {{ last_name }} ({{ uniqname_parm }})</h3>
                        <p class='prv-msgs mt-2'>Inactive departments are shown with <strong>red text and the following icon:&nbsp;</strong><i class="fas fa-exclamation-triangle" aria-label="Icon for inactive department"></i></p>
                    </div>
                    {% else %}
                        <strong>{{ last_name }}, {{ first_name }}  ({{ uniqname_parm }})</strong> 
                         - User not found, add a role to create them.
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
        <br>
        <strong>{{ submit_msg }}</strong>
    </div>
</form>

<form hidden id='clear-form' action='/auth/get_uniqname/' method='POST'>{% csrf_token %}
    <input type="hidden" id="uniqname" name="uniqname_parm" value="{{uniqname_parm}}">
    <input type="hidden" id="last_name" name="last_name" value="{{last_name}}">
    <input type="hidden" id="first_name" name="first_name" value="{{first_name}}">
</form>

<form action="/auth/modpriv/" method="POST">{% csrf_token %}
    <input type="hidden" id="uniqname" name="uniqname_parm" value="{{uniqname_parm}}">
    <input type="hidden" id="last_name" name="last_name" value="{{last_name}}">
    <input type="hidden" id="first_name" name="first_name" value="{{first_name}}">

    {% if last_name %}

    <table class='table table-sm table-striped' id='manage-access-table'>
        <thead>
            <tr class='no-top-border'>
                <td></td>
                <td></td>
                <td></td>
                <td scope="col" style='text-align:center;' id='proxy-all'>
                    <label for='proxy-check'><strong>Select All</strong></label><br>
                    <input type='checkbox' id='proxy-check'>
                </td>
                <td scope="col" style='text-align:center;' id='orderer-all'>
                    <label for='orderer-check'><strong>Select All</strong></label><br>
                    <input type='checkbox' id='orderer-check'>
                </td>
                <td scope="col" style='text-align:center;' id='reporter-all'>
                    <label for='reporter-check'><strong>Select All</strong></label><br>
                    <input type='checkbox' id='reporter-check'>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td scope="col" style='text-align:center;'><strong>Edit Role(s)</strong></td>
                <td></td>
                <td></td>
            </tr>
            <tr class='no-top-border'>
                <th scope="col">Department ID</th>
                <th scope="col">Department Name</th>
                <th scope="col">Current User Role(s)&nbsp;<i class="fas fa-question-circle btn-link" aria-label="More Information icon" data-toggle="modal" data-target="#userRoleExplanation"></i></th>
                <th style='text-align:center;' scope="col">Proxy</th>
                <th style='text-align:center;' scope="col">Orderer</th>
                <th style='text-align:center;' scope="col">Reporter</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td scope="row">{{ row.dept }}</td>
                    <input hidden name='dept_list' value='{{ row.dept }}'>
                    {% if row.dept_status == 'I' %}
                        <td class='prv-msgs'><i class="fas fa-exclamation-triangle" aria-label="Icon for inactive department"></i>{{ row.dept_name }}</td>
                    {% else %}
                        <td>{{ row.dept_name }}</td>
                    {% endif %}
                    <td>{{ row.roles_list }}</td>
                    {% if row.disable_proxy %}
                        {% if row.current_roles.proxy %}
                            <td style='text-align:center;'><input class='proxy' id="{{ row.dept }}" type='checkbox' checked disabled></td>
                        {% else %}
                            <td style='text-align:center;'><input class='proxy' id="{{ row.dept }}" type='checkbox' disabled></td>
                        {% endif %}
                    {% else %}
                        {% if row.current_roles.proxy %}
                            <td style='text-align:center;'><input class='proxy' id="{{ row.dept }}" type='checkbox' checked></td>
                        {% else %}
                            <td style='text-align:center;'><input class='proxy' id="{{ row.dept }}" type='checkbox'></td>
                        {% endif %}
                    {% endif %}
                    <input hidden name="{{ row.dept }}proxy" id="{{ row.dept }}proxy" value="">

                    {% if disable_others %}
                        {% if row.current_roles.orderer %}
                            <td style='text-align:center;'><input class='orderer' id="{{ row.dept }}" type='checkbox' checked disabled></td>
                        {% else %}
                            <td style='text-align:center;'><input class='orderer' id="{{ row.dept }}" type='checkbox' disabled></td>
                        {% endif %}
                    {% else %}
                        {% if row.current_roles.orderer %}
                            <td style='text-align:center;'><input class='orderer' id="{{ row.dept }}" type='checkbox' checked></td>
                        {% else %}
                            <td style='text-align:center;'><input class='orderer' id="{{ row.dept }}" type='checkbox'></td>
                        {% endif %}
                    {% endif %}
                    <input hidden name="{{ row.dept }}orderer" id="{{ row.dept }}orderer" value="">
                    
                    {% if row.disable_others %}
                        {% if row.current_roles.reporter %}
                            <td style='text-align:center;'><input class='reporter' id="{{ row.dept }}" type='checkbox' checked disabled></td>
                        {% else %}
                            <td style='text-align:center;'><input class='reporter' id="{{ row.dept }}" type='checkbox' disabled></td>
                        {% endif %}
                    {% else %}
                        {% if row.current_roles.reporter %}
                            <td style='text-align:center;'><input class='reporter' id="{{ row.dept }}" type='checkbox' checked></td>
                        {% else %}
                            <td style='text-align:center;'><input class='reporter' id="{{ row.dept }}" type='checkbox'></td>
                        {% endif %}
                    {% endif %}
                    <input hidden name="{{ row.dept }}reporter" id="{{ row.dept }}reporter" value="">
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class='save-changes'>
        <button type='button' class='btn btn-link' onclick="$('#clear-form').submit();">Clear Changes</button>
        <button type='Submit' class='btn btn-primary'>Save Changes</button>
    </div>

    {% endif %}
</form>
<!-- Add Chartfield Modal -->
<div class="modal fade" id="userRoleExplanation" tabindex="-1" role="dialog"
aria-labelledby="userRoles" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="userRoles">User Roles</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
        </div>
        <div class="modal-body">
            <div class="">
                {% autoescape off %}
                    {{ information.bodytext }}
                {% endautoescape %}
            </div>

        </div>
        <div class="modal-footer">
            <!-- Close button -->
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>
<!-- End of Add Cahrtfield Modal -->


{% endblock %}

{% block js %}
<script language="JavaScript">

$(document).ready(function() {

    $('#deleteRole').hide();

    $("#roleAdd").click(function(event) {
        $('#deleteRole').hide();
        $('#addRole').show();
    });

    $("#roleDelete").click(function(event) {
        $('#deleteRole').show();
        $('#addRole').hide();
    });

    $("#Proxy").click(function(event) {
        $('[data-manager="False"]').hide();
        toggle('False');
    });

    $("#Orderer").click(function(event) {
        $('[data-manager="False"]').show();
    });

    $("#Reporter").click(function(event) {
        $('[data-manager="False"]').show();
    });

    // Select all functionality - proxy
    $('#proxy-all').on('click', function() {
        var checked = false;
        if ($('#proxy-check').is(':checked')) {
            checked = true;
        }
        $('#manage-access-table tbody tr').each(function() {
            var inner_checked = $(this).find('.proxy').is(':checked');

            if (checked != inner_checked) {
                $(this).find('.proxy').click();
            }
        })
    })

    // Select all functionality - orderer
    $('#orderer-all').on('click', function() {
        var checked = false;
        if ($('#orderer-check').is(':checked')) {
            checked = true;
        }
        $('#manage-access-table tbody tr').each(function() {
            var inner_checked = $(this).find('.orderer').is(':checked');

            if (checked != inner_checked) {
                $(this).find('.orderer').click();
            }
        })
    })

    // Select all functionality - reporter
    $('#reporter-all').on('click', function() {
        var checked = false;
        if ($('#reporter-check').is(':checked')) {
            checked = true;
        }
        $('#manage-access-table tbody tr').each(function() {
            var inner_checked = $(this).find('.reporter').is(':checked');

            if (checked != inner_checked) {
                $(this).find('.reporter').click();
            }
        })
    })

    // Proxy status changed
    $('.proxy').on('change', function() {
        // Get dept ID
        var dept_id = $(this).attr('id');
        
        // Add or delete
        var method = "delete"
        if ($(this).is(':checked')) {
            method = "add";
        }

        // Set value
        $('#' + dept_id + 'proxy').val(method);
    })

    // Orderer status changed
    $('.orderer').on('change', function() {
        // Get dept ID
        var dept_id = $(this).attr('id');
        
        // Add or delete
        var method = "delete"
        if ($(this).is(':checked')) {
            method = "add";
        }

        // Set value
        $('#' + dept_id + 'orderer').val(method);
    })

    // Reporter status changed
    $('.reporter').on('change', function() {
        // Get dept ID
        var dept_id = $(this).attr('id');

        // Add or delete
        var method = "delete"
        if ($(this).is(':checked')) {
            method = "add";
        }

        // Set value
        $('#' + dept_id + 'reporter').val(method);
    })

});


function toggle(source) {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i] != source)
            checkboxes[i].checked = source.checked;
    }
}

</script>
{% endblock js %}
