{% extends 'base.html' %}
{% block content %}
<h1>{{ title }}</h1>

{{ result }}
<p>Inactive departments are shown with a <strong class="prv-msgs">red text and the following icon: <i class="fas fa-exclamation-triangle" aria-label="Icon for inactive department"></i></strong></p>
<br>
<table class="table table-hover table-striped table-sm">
    <thead>
        <tr>
                <th scope="col">Department ID</th>
                <th scope="col">Department Name</th>
                <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
                {% if row.dept_status != 'I' %}
                <th scope="row"> {{ row.col1 }}</th>
                <td> {{ row.col2 }}</td>
                <td> {{ row.roles }}</td>
                {% else %}
                <th class="prv-msgs"><i class="fas fa-exclamation-triangle" aria-label="Icon for inactive department"></i>{{ row.col1 }}</th>
                <td class="prv-msgs"><i class="fas fa-exclamation-triangle" aria-label="Icon for inactive department"></i>INACTIVE: {{ row.col2 }}</td>
                <td class="prv-msgs"> {{ row.roles }}</td>
                {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<button class="btn btn-primary" onclick="window.history.back()">Back</button>
{% endblock %}