<table id="workorder_table" class="table table-hover table-striped sortable" aria-live=”polite”>
    <thead>
        <tr>
            <th>Workorder</th>
            <th>Preorder</th>
            <th>Project</th>
            <th>Estimate Label</th>
            <th>Estimate Status</th>
            <th>PM</th>
            <th>Engineer</th>
            <th>UMNet</th>
            <th>Start Date</th>
            <th>Engineering Due Date</th>
        </tr>
    </thead>
    <tbody id="workOrderTableBody">
        {% for record in search_list %}
        <tr data-estimate_id="{{ record.id }}" data-pre_order_id="{{ record.pre_order_id }}">
            <td>{{ record.wo_number_display }}</td>
            <td>{{ record.pre_order_number }}</td>
            <td>{{ record.project_display }}</td>
            <td>{{ record.label }}</td>
            <td>{{ record.status }}</td>
            <td>{{ record.project_manager }}</td>
            <td>{{ record.assigned_engineer }}</td>
            <td>{{ record.assigned_netops }}</td>
            <td>{{ record.estimated_start_date|date:"Y-m-d" }}</td>
            <td>{{ record.estimated_completion_date|date:"Y-m-d" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>