{% for item in item_list %}
{% load humanize %}
<tr data-item_id="{{ item.id }}" data-item_code="{{ item.code }}">
    <td><a href="{% url 'item_details' item_pk=item.id %}">{{ item.code }}</a></td>
    <td>{{ item.name }}</td>
    <td>{{ item.class_code }}</td>
    <td>{{ item.subclass_name }}</td>
    <td>{{ item.manufacturer }}</td>
    <td>{{ item.manufacturer_part_number }}</td>
    <td class="text-right">{{ item.price|intcomma }}</td>
</tr>
{% empty %}
<tr>
    <td colspan="7" class="text-center">No items found.</td>
</tr>
{% endfor %}