{% extends 'baseapps.html' %}
{% load rte_tags %}

{% block content %}
	<h1>{{ title }}</h1>
	
	<div class='row'>
		<div class='col-8'>
			<div class="alert alert-secondary col-8" role="alert">
				<strong><a href='single-tech/'>Single Technician, Multiple Orders/Entries</a></strong>
			</div>

			{% if perms.rte.add_submitalltechs %}
			<div class="alert alert-secondary col-8" role="alert">
				<strong><a href='multiple-tech/'>Multiple Technicians, Single Work Order</a></strong>
			</div>
			{% endif %}

			<div class="alert alert-secondary col-8" role="alert">
				<strong><a href='update/'>Update Time</a></strong>
			</div>

			<div class="alert alert-secondary col-8" role="alert">
				<strong><a href='view-time/'>View Time</a></strong>
			</div>
			<div class="alert alert-secondary col-8" role="alert">
				<strong><a href='actual-vs-estimate-open/'>Actual Time / Estimated Time</a></strong>
			</div>
			<div class="alert alert-secondary col-8" role="alert">
				<strong><a href='employee-time-report/'>Employee Time Report</a></strong>
			</div>
		</div>
	</div>

{% endblock %}
