{% extends 'base.html' %}

{% block content %}

<h1>{{ title }}</h1>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    {% for tab in tab_list %}
      <li class="nav-item">
        <a class="nav-link disabled" data-toggle="tab" data-tab="{{ tab.name }}" id="pills-{{ tab.step }}" href="#{{ tab.step }}" role="tab" name="pills-{{ tab.name }}" aria-controls="{{ tab.step }}" aria-selected="false">{{ tab.label }}</a>
      </li>
    {% endfor %}
  </ul>
  <div class="tab-content" id="pills-tabContent">
    {% for tab in tab_list %}
      <div class="tab-pane fade" id="{{ tab.step }}" data-pane="{{ tab.name }}" role="tabpanel" aria-labelledby="pills-{{ tab.step }}">
          {% include tab.template %}
      </div>
    {% endfor %}

    <div style="overflow:auto;">
      <div style="float:right;">
        <button type="button" class="btn btn-outline-primary disabled" id="prevBtn" onclick='prev();'>Previous</button>
        <button type="button" class="btn btn-primary {{wf}}-next" id="nextBtn" onclick='next({{ tab_list|length }});'>Next</button>
        <button type="button" class="btn btn-primary {{wf}}-submit" id="submitBtn">Submit</button>
      </div>
    </div>

  </div>

{% endblock %}

{% block js %}
<script src='/static/js/rte/workflow.js'></script>
<script src="/static/js/rte/single_tech.js"></script>
<script src="/static/js/rte/multiple_tech.js"></script>
<script src="/static/js/rte/update.js"></script>
{% endblock %}
