{% extends 'softphone/base_softphone.html' %}
{% block content %}

{% load humanize %}

<h1>Telephone Upgrade Request Form</h1>
<div class="row">

    <div class="col-6">
        <p>
            Departments with numbers to submit or have submitted numbers in the past are listed below. If there are no departments listed, the departments have no lines to transition.
        </p>
        {% if dept_list %}
        <p>
            You have access to these departments:
        </p>
        <ul>
            {% for dept in dept_list %}
            <li><a href="/softphone/dept/{{ dept.dept_id }}/">{{ dept.dept_id }}</a> - {{ dept.dept_name }}</li>
            {% endfor %}

        </ul>
        {% else %}
        <p>
            No departments found for current user
        </p>
        {% endif %}
    </div>

    <div class="col-6">
        {% autoescape off %}
        {{ notices.bodytext }}
        {% endautoescape %}
    </div>
</div>

{% endblock %}