{% extends 'softphone/base_softphone.html' %}

{% block content %}

<div id="main-content" class="container" role="main">
    <div class="container" role="main">
        <div class="row">
            <div class="col-lg-12">
                <div class="message">
                    <h1>YOUR REQUEST HAS BEEN SUBMITTED</h1>
                    <hr class="style1">
                    <a href="/softphone/" class="btn btn-outline-primary" role="button">Return to Homepage</a>

                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}