{% extends 'softphone/base_softphone.html' %}
{% block content %}

{% load humanize %}

<h1>{{ title }}</h1>

<ul>
    <li>Refer to this <a href="https://documentation.its.umich.edu/node/3514">guide </a> for more information regarding pausing transitions for your Unit</li>
    <li>Read more about the <a href="https://record.umich.edu/articles/new-zoom-phone-service-to-offer-greater-flexibility-mobility/">Telephone Service Upgrade Project</a></li>
</ul>

<div class="container">

<form method="post">
    <a class="float-right col-6" href="?file=CSV">Download CSV</a>
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
    <div id="{{ form.prefix }}" class="col-6 card border-primary shadow p-3 my-3">    
        {{ form.initial.subscriber }}

        <div class="row">
            <div class="col-sm">
                {{ form.subscriber.id }}
                <strong>Phone</strong><br>
                {{ form.initial.service_number }}<br>
                Uniqname: {{ form.initial.subscriber_uniqname }}{{ form.initial.uniqname }}<br>
                {{ form.initial.subscriber_first_name }} {{ form.initial.subscriber_last_name }}<br>
                {{ form.initial.dept_id }} &nbsp; {{ form.initial.dept_name }}<br>
                {{ form.initial.building }} &nbsp; {{ form.initial.building_name }}
            </div>

            <div class="form-group col-sm upgrade_to_softphone" id="div_id_form-0-migrate" data-location="ARBOR LAKES 3">
                <div class="form-check">
                    <input class="form-check-input change_location" type="checkbox" value="Yes" name="{{ form.prefix }}-update" id="id_{{ form.prefix }}-update">
                    <label class="form-check-label" for="id_{{ form.prefix }}-update">
                      Update Location?
                    </label>
                </div><br>
                
                <div id="div_{{ form.prefix }}-building" class="form-group" style="display: none;">
                    <label for="browser">Search by building Name or Number:</label>
                    <input class='form-control change_building' list="buildings" name="{{ form.prefix }}-building" id="id_{{ form.prefix }}-building">
                </div>
                <div id="div_{{ form.prefix }}-floor" class="form-group" style="display: none;">
                    <label for="id_{{ form.prefix }}-floor">Floor</label>
                    <input type="text" class="form-control change_floor" name="{{ form.prefix }}-floor" id="id_{{ form.prefix }}-floor">
                </div>
                <div id="div_{{ form.prefix }}-room" class="form-group" style="display: none;">
                    <label for="id_{{ form.prefix }}-room">Room</label>
                    <input type="text" class="form-control" name="{{ form.prefix }}-room" id="id_{{ form.prefix }}-room">
                </div>

            </div>
        </div>
        <br>
        <div id="div_{{ form.prefix }}-comment" class="row" style="display: none;">
            <div class="form-group col-sm">
                <label for="exampleFormControlTextarea1">Please explain reason for pause in transition</label>
                <textarea  placeholder="Limit 4,000 Characters" maxlength="4000" name="{{ form.prefix }}-comment" class="form-control" id="id_{{ form.prefix }}-comment" rows="3"></textarea>
            </div>
        </div>
    </div>
    {% endfor %}
    <div id="footered" class="container-fluid fixed-bottom border border-top-primary" style="background-color: #E2E4E4">
        <div class="container mt-1 mb-1">
            <button type="submit" class="btn" style="background-color: #0068A8; color:white">Save</button>
        </div>

    </div>
</form>
</div>

<datalist id="buildings">
    {% for building in building_list %}
        <option value="{{ building.building_code }}">{{ building.building_name }}</option>    
    {% endfor %}
</datalist>

{% endblock %}

{% block footer %}

{% endblock %}

{% block js %}

<script>

    $(document).ready(function () {

        $(".change_location").change(function () {
            target = '#' + $(this).attr('id').replace("update", "building")
            target_div = target.replace("id_", "div_"); 
            if (this.checked) {
                $(target_div).show();
                $(target).attr("required", true);
            } else {
                $(target_div).hide();
                $(target).removeAttr("required");
            }
        });

        $(".change_building").change(function () {
            target = '#' + $(this).attr('id').replace("building", "floor")
            target_div = target.replace("id_", "div_"); 
            myval = this;
            console.log(this.value);
            if (this.value) {
                $(target_div).show();
                $(target).attr("required", true);
            } else {
                $(target_div).hide();
                $(target).removeAttr("required");
            }
        });

        $(".change_floor").on("keyup", function() {
            target = '#' + $(this).attr('id').replace("floor", "room")
            target_div = target.replace("id_", "div_"); 
            myval = this;
            console.log(this.value);
            if (this.value) {
                $(target_div).show();
                $(target).attr("required", true);
            } else {
                $(target_div).hide();
                $(target).removeAttr("required");
            }
        });


        $('input[type=text][name=buildingFloor]').on("keyup", function () {
            var code = $('#buildingID').val();
            var floor = $(this).val();
            $("#roomselect").hide();
            $("#jackselect").hide();
            $('#buildingRoom').val('');
            $('#buildingJack').val('');
            $.ajax({
                type: "GET",
                url: "floor/",
                data: {
                    "buildingID": code,
                    "buildingFloor": floor,
                },
                dataType: 'json',
                success: function (data) {

                    $('#buildingFloor').val(floor);
                    $('#buildingRoom').empty();
                    var option = document.createElement("option");
                    option.value = "%";
                    option.text = "--Select--";
                    document.getElementById('buildingRoom').appendChild(option);

                    for (var i = 0; i < data.rooms.length; i++) {
                        var option = document.createElement("option");
                        option.value = data.rooms[i];
                        option.text = data.rooms[i];
                        document.getElementById('buildingRoom').appendChild(option);
                    }
                    if (data.floor != '')
                        $("#roomselect").show();
                    console.log(typeof data);
                },
                error: function (data) {
                    alert("ok nice try guy");
                }
            });
        });




    });

</script>
{% endblock %}