<fieldset>
    <legend><strong>{{ field.label }}</strong> 
    {% if field.help_text %}
        <a tabindex="0" role="button" data-toggle="popover" data-container="body"
        data-trigger="focus" data-placement="bottom" 
        data-content="{{ field.help_text }}"><i class="far fa-question-circle"></i> <span class="sr-only">{{ field.help_text }}</span>
        </a>
    {% endif %}
    </legend>
    {% for choice in field.choices %}
    <div class="form-group form-check">
        <input class="form-check-input" type="checkbox" id="{{ field.name }}_{{ choice|first }}" name="{{ field.name }}" value="{{ choice|first }}">
        <label class="form-check-label" for="{{ field.name }}_{{ choice|first }}">{{ choice|last }}</label>
    </div>
    {% endfor %}
</fieldset>