<div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped" style="width: 100%">
        <caption><h4>Pool</h4></caption>
        <tbody>
            <tr><td>Name</td><td>{{ pool.name }}</td></tr>
            <tr><td>Size</td><td>{{ pool.quantity }}</td></tr>
            <tr><td>Shortcode</td><td>{{ pool.shortcode }}</td></tr>
            <tr><td>Owner</td><td>{{ pool.owner }}</td></tr>
        </tbody>
    </table>
</div>

<div class="table-responsive">
    {% for image in pool.images.all %}
    <table class="table table-bordered table-condensed table-hover table-striped" style="width: 100%">
        <caption><h4>Image</h4></caption>
        <tbody>
            <tr><td>Name</td><td>{{ image.name }}</td></tr>
            <tr><td>Size</td><td>{{ image.cpu }}</td></tr>
            <tr><td>Shortcode</td><td>{{ image.gpu }}</td></tr>
            <tr><td>Network</td><td>{{ image.network.name }}</td></tr>
            <tr><td>Network Size</td><td>{{ image.network.size }}</td></tr>
            <tr><td>Disk</td><td>
                <table>
                    {% for disk in image.storage.all %}
                    <tr>
                        <td>{{ disk.name }}</td>
                        <td>{{ disk.size }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td></tr>
        </tbody>
    </table>
    <ul>







    </ul>


    {% endfor %}
</div>
