.sort-table th {
    cursor: pointer;
}
.sort-table th .fa-sort-up,
.sort-table th .fa-sort-down {
    display: none;
}
.sort-table th .fa-sort {
    display: inline;
}
.sort-table th.sorted-asc .fa-sort-up,
.sort-table th.sorted-desc .fa-sort-down {
    display: none;
}
.sort-table th.sorted-asc .fa-sort,
.sort-table th.sorted-desc .fa-sort {
    display: none;
}