{% extends 'baseapps.html' %}

{% block title %}
    <title>Capital Tool List</title>
{% endblock title %}
{% block content %}
<table class="table" style="margin-top:50px;">
    <thead>
      <tr>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">MANUFACTURER</th>
        <th scope="col">MODEL NO.</th>
        <th scope="col">PRICE</th>
        <th scope="col">SERIAL NUMBER</th>
        <th scope="col">REPAIRED</th>
        <th scope="col">CALIBRATED</th>
        <th scope="col">HEADS REPLACED</th>
        <th scope="col">GROUP</th>
        <th scope="col">ASSIGNED TO</th>
        <th scope="col">COMMENTS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Air Compressor</td>
        <td>Porter Cable</td>
        <td>C2002-WK</td>
        <td>231.10</td>
        <td>2964091312</td>
        <td></td>
        <td></td>
        <td></td>
        <td>OSP</td>
        <td>Cable Yard</td>
        <td></td>
      </tr>
      <tr>
        <td>Cable Puller</td>
        <td>Greenlee</td>
        <td>6801</td>
        <td>5641.74</td>
        <td>ABJ10270NG/ABN10820NQ</td>
        <td></td>
        <td></td>
        <td></td>
        <td>Field Service Unit</td>
        <td>Cable Yard</td>
        <td></td>
      </tr>
      <tr>
        <td>LCD Color TV - 7"</td>
        <td>Accurian</td>
        <td>16-454</td>
        <td>235</td>
        <td>A0707017882</td>
        <td></td>
        <td></td>
        <td></td>
        <td>Field Service Unit</td>
        <td>Tool Room</td>
        <td></td>
      </tr>
    </tbody>
  </table>
{% endblock content %}