<div class='card mb-4 col-4'>
	<div class='card-body'>
		<strong>Tech ID:&nbsp;</strong>{{ techid }}<br>
	</div>
</div>

<table class='table table-striped mt-2' id='update-entries-table'>
	<thead>
		<tr>
			<th scope='col'>Work Order</th>
			<th scope='col'>Assigned Date</th>
			<th scope='col'>Duration</th>
			<th scope='col'>Rate Level</th>
			<th scope='col'>Assigned Group</th>
		</tr>
	</thead>
	<tbody>
		{% for i in '0123456789'|make_list %}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<select class='form-control'>
						{% for rate in rate_levels %}
							<option>{{ rate.labor_rate_level_name }}</option>
						{% endfor %}
					</select>
				</td>
				<td>
					<select class='form-control'>
						{% for group in assigned_groups %}
							<option>{{ group.wo_group_name }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>