<div class='card mb-4 col-4'>
	<div class='card-body'>
		<strong>Tech ID:&nbsp;</strong><span class='tech_id'>{{ techid }}</span><br>
		<strong><span class='search_topic'></span>:&nbsp;</strong><span class='search_criteria'></span><br>
	</div>
</div>

<strong>Please select up to 10 entries to update.</strong>

<table class='table table-striped mt-2' id='select-entries-table'>
	<thead>
		<tr>
			<th scope='col'></th>
			<th scope='col'>Work Order</th>
			<th scope='col'>Assigned Date</th>
			<th scope='col'>Duration</th>
			<th scope='col'>Rate Level</th>
			<th scope='col'>Assigned Group</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<div class='text-center'>
	<i class="fa fa-spinner fa-spin fa-3x fa-fw" id='loading'></i>
</div>

<div class='alert alert-danger mt-2 col-4' hidden id='no-entries'>
	<p>There are no entries for your current filters. Please select new filters.</p>
</div>

<nav aria-label="results pagination navigation">
  <ul class="pagination justify-content-end" id='pagination'>
  </ul>
</nav>

<div class='alert alert-danger mt-2 col-4' hidden id='num-checked-error'></div>

<p hidden id='rate_levels'></p>
<p hidden id='assigned_groups'></p>
