{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block after_field_sets %}


    <fieldset class="module aligned {{ fieldset.classes }}">
        <h4>Rendering:</h4>

        <table>
        {% for step in step_list %}
        <tr><td>{{ step.label }}</td></tr>
            {% for element in step.element_list %}
            <tr>
                <td></td>
                <td> {{ element.label }} </td>
                <td> {{ element.type }} </td>
                <td> {{ element.target }} </td>
            </tr>
            {% endfor %}
        {% endfor %}
        </table>
        <hr>
        <h4>Constants</h4>
        <table>
            {% for con in consts %}
            <tr>
            <td>{{ con.field }}</td><td>{{ con.value }}</td> 
            </tr>
            {% endfor %}
        </table>

    </fieldset>
    

{% endblock %}