<div id="mainBody">
    <div class="form-row" id="authdiv">
        <div class="form-check">
            <input class="form-check-input col-2" type="radio" value="Individual" name="type" id="individual" required>
            <label class="form-check-label col-2" for="individual">Individual</label>
        </div>
        <div class="form-check">
            <input class="form-check-input wg-rad col-2" type="radio" value="Workgroup" name="type" id="workgroup" required>
            <label class="form-check-label wg-rad col-2" for="workgroup">Workgroup</label>
        </div>
        <input class="col-2" id="auth" type="text" name="name" placeholder="Name of Group/Individual" required>
    </div>
</div>

