<div id="mainBody">
    <div class="form-row" id="authdiv">
        <div class="form-check">
        <input data-label="Subscriber ID" id="sub" type="text" name="authName" placeholder="Subscriber ID" required>
        </div>
        <div class="form-check">
        <input data-label="Group/Person" id="group" type="text" name="name" placeholder="Name of Group/Individual" required>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Cancel" name="type" id="cancel" required>
            <label class="form-check-label" for="cancel">Cancel</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Change" name="type" id="change" required>
            <label class="form-check-label" for="change">Change</label>
        </div>

    </div>
</div>

