<div class="col-6">

    {% for field in tab.form %}

    {% if field.name == 'shortcode' %}

    <div class="form-group" id="shortcode_list">

        <label for="shortcode"><strong>Enter shortcode(s) for costs to be billed to</strong></label>


        <div class="form-inline" id="shortcode_new" style="display: none;">
            <input class="sm-1 form-control form-inline" name="terabytes" type="number" value="0" aria-describeby="terabytes", placeholder="terabytes">
            <input class="sm-2 form-control form-inline" name="shortcode" type="text" aria-describeby="shortcode", placeholder="shortcode">  
            &nbsp;&nbsp;<a onclick="this.parentElement.remove();" href="javascript:void(0)"><i class="fas fa-minus-circle"></i></a>
        </div>

        {% for rec in tab.form.shortcode_list %} 
        <div class="form-inline" id="shortcodes">
            <!---
            <input class="sm-2 form-control form-inline" name="shortcode" type="text" value="{{ rec.shortcode }}" aria-describeby="shortcode", placeholder="shortcode">            
            <input class="sm-2 form-control form-inline" name="terabytes" type="text" value="{{ rec.size }}" aria-describeby="terabytes", placeholder="terabytes">   -->


            <input class="sm-1 form-control form-inline" name="terabytes" type="number" value="{{ rec.size }}" aria-describeby="terabytes", placeholder="terabytes">
            <input class="sm-2 form-control form-inline" name="shortcode" type="text" value="{{ rec.shortcode }}" aria-describeby="shortcode", placeholder="shortcode">  

            &nbsp;&nbsp;<a onclick="this.parentElement.remove();" href="javascript:void(0)"><i class="fas fa-minus-circle"></i></a>

            <div role="alert" class="invalid-feedback"><i class="fas fa-exclamation-triangle"
                aria-label="Icon signifying that user must enter a value"></i></div>

            {% for error in field.errors %}
            <div role="alert" class="invalid-feedback"><i class="fas fa-exclamation-triangle"
                    aria-label="Icon signifying that user must enter a value"></i>{{error}}def</div>
            {% endfor %}

        </div>
        {% endfor %}

        



    </div>

    <div class="form-inline" id="shortcodes">
        <input readonly class="{% if tab.form.shortcode_error %}is-invalid{% endif %} sm-2 form-control form-inline" name="total_size" type="text" value="{{ tab.form.new_total_size }}" aria-describeby="terabytes", placeholder="0"> Total

        <div role="alert" class="invalid-feedback"><i class="fas fa-exclamation-triangle"
            aria-label="Icon signifying that user must enter a value"></i>{{ tab.form.shortcode_error }}</div>

    </div>

    <a href="javascript:addRow('shortcode')" class="d-block"><i class="fas fa-plus-circle"></i> Add another shortcode</a><hr>


    {% else %}
        {% include field.field.template_name %}
    {% endif %}

    {% endfor %}

</div>
