{% with fields=tab.form.fields %}
<h2>Access & Billing</h2>
<div class="row mb-4 mt-4">
    <div class="col-8">
        <div class="form-group">
            <label for="shortcode"><strong>{{ fields.shortcode.label }}</strong></label>
            <input type="text" class="form-control" id="shortcode" required>
        </div>
        <div class="form-group">
            <label for="signer"><strong>{{ fields.authorizedSigner.label }}</strong></label>
            <input type="text" class="form-control" id="signer" required>
        </div>
        <fieldset>
            <legend><strong>{{ fields.billingAuthority.label }}</strong></legend>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="shortcodeConfirm" value="authorized">
                <label class="form-check-label" for="shortcodeConfirm">
                    I confirm I have approval from an individual with the authority to use the Shortcode.
                </label>
            </div>
        </fieldset>
        <div class="mt-4 mb-4">
            <strong>You must consult the Sensitive Data Guide to verify that your use of this service complies with those guidelines, and you must accept the terms of the Service Level Agreement. Contact the ITS Storage team before ordering if your planned use does not comply.</strong>
        </div> 
        <fieldset>
            <legend><strong>{{ fields.serviceLvlAgreement.label }}</strong></legend>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="serviceAgreement" value="authorized">
                <label class="form-check-label" for="serviceAgreement">
                    I have read the <a href="void:javaScript(0)">Sensitive Data Guide</a>, agree that my use of this service complies with those guidelines and accept the terms of the <a href="void:javaScript(0)">Service Level Agreement</a>.
                </label>
            </div>
        </fieldset>
    </div>
</div>
{% endwith %}