{% extends 'base.html' %}
{% block content %}
    {% if item_list %}
        <table class="table">
            <tr>
                <th>Item</th>
            </tr>
            {% for item in item_list %}


            <tr>
                <td>{{ item.action }}</td>
            </tr>
            
        {% endfor %}
        </table>
        <form action="/orders/submit/" method="post" id="submitOrder" >
            {% csrf_token %}
            <button type="button" class="btn btn-primary" id="nextBtn" onclick="nextPrev(1)">Submit Order</button>
        </form>

    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
{% endblock %}