{% extends 'base.html' %}
{% block content %}

<!-- Beginning of Content -->
<div class="row header-info">
    <div class="col-12">
            <h1>
                {{ title }}
                <small class="text-muted">
                    for Department: <strong>{{department.id}} - {{department.name}}</strong>
                </small>
            </h1>
        {% if dept_list|length > 1 %}   
        <div class='row'>
            <div class="col-xl-8 col-12 dept-select">
                <form action="/orders/cart/" id="cart-department-dropdown" method="POST" class="cart-form">
                    {% csrf_token %}
                    <div class="input-group dept-dropdown">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="department-dropdown">
                                Switch Department
                            </label>
                        </div>
                        <select name="deptid" class="form-select order-status-dropdown" onchange="this.form.submit()"
                            id="department-dropdown">
                            {% for dept in dept_list %}
                                {% if dept.active == 'A' %}
                                <option name="dept" value="{{dept.deptid}}">{{dept.deptid}} - {{dept.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <noscript><input type="submit" class="btn btn-outline-secondary" value="Go"></noscript>
                    </div>
                    <p>*Departments without items in cart are not displayed in list.</p>
                </form>
            </div>
        </div>
        {% endif %}
        {% if dept_list|length == 0 %} 
        <div class="row justify-content-center align-items-center">
            <i class="fas fa-shopping-cart" style="font-size:60px;color:Gray"></i>
        </div>
        <div class="row justify-content-center align-items-center">
            <h2 style="color:Gray"> Your Cart is Empty </h2>
        </div>
        {% endif %}
    </div>
</div>

<section role="contentinfo">
    <div class="row cart-tables">
        <div class="col-12">
            <form action="/orders/review/" id="cart-orders" method="POST" class="cart-table">{% csrf_token %}
                {% for section in status %}
                <div class="ready-to-order">
                    <h2>{{section.label}}</h2>
                    {% for chartcom in section %}
                    <div class="cart-table">
                        <h3 class="h4 cart-chartfield-title">
                            Billed to:
                            <!-- Insert Chartfield Nickname here -->
                            <small>{{chartcom.chartcom__name}} ({{chartcom.chartcom__account_number}}) </small>
                        </h3>
                    </div>
                    <div class="table-responsive-md">
                        <table class="table table-hover table-striped table-sm" id="{{chartcom.table}}">
                            <thead>
                                <tr class="col-headings">
                                    <th scope="col">Date Created</th>
                                    <th scope="col">Created By</th>
                                    <th scope="col">Details</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>

                            <!-- Beginning of table body -->
                            <tbody>


                                {% for item in chartcom.items %}
                                <tr data-item="{{item.id}}" data-chartcom="{{item.chartcom}}"
                                    data-chartcomid="{{item.chartcom.id}}">
                                    <th scope="row">{{ item.create_date|date:"m/d/y" }}</th>
                                    <td>{{ item.created_by }}</td>
                                    <td>{{ item.description }}</td>
                                    <td class="action">
                                        <a class="delete" href="#" data-toggle="modal" data-target="#deleteCartItem"
                                            data-item="{{item.id}}" role="button">Delete<span class="sr-only"> item that
                                                was created on {{ item.create_date|date:"m/d/y" }} by
                                                {{ item.created_by }}. Item description: {{ item.description }}. Item
                                                Id: {{item.id}}. Item chartfield: {{item.chartcom}}</span></a>
                                        {% if section == status|first %}
                                        <a class="ready-link" onclick="moveRow(this)" href="#">Save for
                                            Later<span class="sr-only"> item that was created on
                                                {{ item.create_date|date:"m/d/y" }} by {{ item.created_by }}. Item
                                                description: {{ item.description }}. Item Id: {{item.id}}. Item
                                                chartfield: {{item.chartcom}}</span></a>
                                        {% else %}
                                        <a class="saved-for-later" onclick="moveRow(this)" href="#">Move to
                                            Cart<span class="sr-only"> item that was created on
                                                {{ item.create_date|date:"m/d/y" }} by {{ item.created_by }}. Item
                                                description: {{ item.description }}. Item Id: {{item.id}}. Item
                                                chartfield: {{item.chartcom}}</span></a>
                                        {% endif %}
                                        {% if item.days_to_deletion < 30 %}
                                        <a tabindex="0" role="button" data-toggle="popover" data-container="body"
                                            data-trigger="focus" data-placement="right"
                                            data-content="This item will be erased in {{ item.days_to_deletion }} days">
                                            <i class="fas fa-exclamation-circle"></i></a>
                                        {% endif %}
                                    </td>
                                    <input type="hidden" id="custId" name="includeInOrder" value="{{item.id}}">
                                </tr>

                                {% endfor %}
                                <tr></tr>
                            </tbody>
                            <!-- End of table body -->
                        </table>
                    </div>
                    {% endfor %}
                    {% if section == status|first %}
                    <div class="col-sm-12 cart-button">
                        <input id="deptSubmit" type="hidden" name="deptSubmit" value="{{department.id}}">
                        <input type="submit" class="hidden" value="Review Order" id="cartReviewbtn">
                        <label for="cartReviewbtn" class="btn btn-primary">Proceed to Checkout</label>
                    </div>
            </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    </div>
    <!-- Delete Cart Item Modal -->
    <div class="modal fade" id="deleteCartItem" tabindex="-1" role="dialog" aria-labelledby="deleteCartItem"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteCartItem">Delete Cart Item</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    <strong class="remove-text">
                        Are you sure you want to delete the following cart item?
                    </strong>
                    <form id="deleteCartItemForm" method="POST" action="/orders/deletefromcart/">{% csrf_token %}
                        <input id="itemId" type="hidden" name="itemId" value="0">
                        <input id="itemIdDept" type="hidden" name="itemIdDept" value="{{department.id}}">

                        <div class="card-body">
                            <strong class="card-text">
                                Date Submitted:
                            </strong>
                            <p id="dateSubmitted" class="card-text">mm/dd/yyyy</p>
                            <br>
                            <strong class="card-text">
                                Submitted by:
                            </strong>
                            <!-- Replace the following text with the value of the uniqname of the order's submitter that the user selected to be removed from the shortlist -->
                            <p id="uniqname" class="card-text">uniqname here</p>
                            <br>

                            <strong class="card-text">
                                Cart Item Details:
                            </strong>
                            <!-- Replace the following text with the value of the description of the order that the user selected to be removed from the shortlist -->
                            <p id="itemDetails" class="card-text">Detailed information goes here</p>
                            <br>
                            <strong class="card-text">
                                Chartfield:
                            </strong>
                            <!-- Replace the following text with the value of the chartfield of the order that the user selected to be removed from the shortlist -->
                            <p id="chartCom" class="card-text">Chartfield here</p>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <!-- cancel Form button -->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep Cart Item</button>
                    <!-- Submit Form button -->
                    <label for="submitBtn" hidden>Delete</label>
                    <input type="submit" form="deleteCartItemForm" id="submitBtn" class="btn btn-danger"
                        value="Delete Item">
                </div>
            </div>
        </div>
        <!-- End of Cancel Order Modal -->
</section>

<!-- End of Content -->
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });

    dept = $("#deptSubmit").val();
    $("#department-dropdown").val(dept);

    if ($('.ready-link').length < 1) {
        $('.cart-button').hide();
    } else {
        $('.cart-button').show();
    }

    $('#deleteCartItem').on('show.bs.modal', function (e) {
        item = e.relatedTarget.dataset.item
        row = $("tr[data-item='" + item + "']");

        $("#dateSubmitted").text(row.find("th").html());
        $("#uniqname").text(row.find("td").eq(0).html());
        $("#itemDetails").html(row.find("td").eq(1).html());
        $("#chartCom").text(row.data('chartcom'));
        $("#itemId").val(item);
    })

    function moveRow(row) {
        var tr = $(row).closest("tr").remove().clone();
        chartcom = tr.data('chartcomid');

        if (row.className == 'ready-link') {
            tr.find("a.ready-link").text('Move to Cart').attr("class", "saved-for-later")
            $("#tableSaved" + chartcom + " tbody").append(tr);
        }

        if (row.className == 'saved-for-later') {
            tr.find("a.saved-for-later").text('Save for Later').attr("class", "ready-link")
            $("#tableReady" + chartcom + " tbody").append(tr);
        }

        if ($('.ready-link').length < 1) {
            $('.cart-button').hide();
        } else {
            $('.cart-button').show();
        }
    }


</script>
{% endblock %}