<div class="form-group">
    <label for="id_phone_number">Enter Phone Number (eg: 7341234567):</label>

    <div class="form-inline">
        <input data-label="Phone Number" type="tel" class="form-control" id="id_phone_number" name="phone" required>
        <button type="button" class="btn btn-primary findBtn" id="phoneLookup">Find</button>
        <div role=”alert” class="invalid-feedback">
            <i class="fas fa-exclamation-triangle" aria-label="Icon signfying that number was not found"></i><span
                id="error_msg">Number Not Found</span>
        </div>
    </div>

</div>

<div class="m-3" id="PhoneInfo">
    
</div>

<div class="form-group" id="div_new_uniqname" style="display: None;">
    <label for="id_new_uniqname">Enter New Uniqname:</label>

    <div class="form-inline">
        <input type="text" name="new_uniqname" required id="id_new_uniqname">
        <div role=”alert” class="invalid-feedback"><i class="fas fa-exclamation-triangle"
            aria-label="Icon signfying that user must enter a value"></i>Uniqname not found.</div>
    </div>
    <span id="full_user_name"></span>



</div>

<div class="form-group" id="div_new_building" style="display: None;">
    <label for="id_building">Search for the building name or building ID of where you want the new service to be activated or equipment to be delivered.</label> 
    <div class="form-inline">
        <input list="buildings" type="text" name="new_building" required id="id_building">
    </div>
    <span id="building_name"></span>
</div>

<datalist id="buildings">
    {% for rec in tab.form.building_list %}
    <option value="{{ rec.building_code }}">{{ rec.building_name }}</option>
    {% endfor %}
</datalist>