{% with fields=tab.form.fields %}
<h2>Access</h2>
<div class="row mb-4">
    <div class="col-8">
        <div class="form-group">
            <label for="groupAccess">
                <strong>{{ fields.accessGroup.label }}</strong>
                (UMROOT Active Directory group)
            </label>
            <small class="text-muted form-text" id="groupHelpText">{{ fields.accessGroup.description }}</small>
            <input class="form-control" type="text" id="groupAccess" aria-describedy="groupHelpText" required>
        </div>
        <div class="form-group">
            <label for="owner">
                <strong>{{ fields.owner.label }}</strong>
                (<a href="#">MCommunity</a> group)
            </label>
            <small class="text-muted form-text" id="communityGroupText">{{ fields.owner.description }}</small>
            <input class="form-control" type="text" id="owner" aria-describedy="communityGroupText" required>
        </div>
    </div>
</div>
{% endwith %}