<div id="mainBody">
    <div class="form-group mb-4" id="cmcdiv">
        <label for="cmc">Please enter a valid CMC code</label>
        <input class="col-xl-2 col-md-3 col-4 form-control" id="cmc" type="number" name="cmc" placeholder="CMC Code" maxlength="5" required>
        <div class="invalid-feedback"><i class="fas fa-exclamation-triangle"
            aria-label="Icon signfying that user must select a value"></i>Please enter a value.</div>
        <div role=”alert” class="valid-feedback">Good.</div>
    </div>
</div>

