<div class="form-group row col-md-4" id="contactCenter" data-sequence="88" data-condition="" style="display: flex;">
    <div class="form-check" id="contactCenter">
        <label for="telnum">Lead Phone Number (Main/Primary)</label>
        <input type="tel" name="phone_number" id="telnum" maxlength="12" required>
        <div role="”alert”" class="invalid-feedback"><i class="fas fa-exclamation-triangle"
                aria-label="Icon signfying that user must enter a value"></i>Please enter a value.</div>
        <div role="”alert”" class="valid-feedback">Good.</div>
    </div>
</div>

<div class="form-group row col-md-4" id="ccDescr" data-sequence="99" data-condition="">
    <div class="form-check">
        <label for="id_descr">Enter a desctription about your request (e.g. phone numbers, users & uniqnames, etc.)</label>
        <textarea class="form-control" name="descr" rows="3" id="id_descr"></textarea>
        <div role=”alert” class="invalid-feedback"><i class="fas fa-exclamation-triangle"
                aria-label="Icon signfying that user must enter a value"></i>Please enter a value.</div>
        <div role=”alert” class="valid-feedback">Good.</div>
    </div>
</div>