<div class="modal" tabindex="-1" role="dialog" id="order_server">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dedicated Server</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Databases larger than 50 GB or containing Sensitive Data require a dedicated server. 
          Would you like to proceed to the Server ordering form?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" id="go_button" class="btn btn-primary">Yes, Take me there</button>
        <button type="button" id="not_dedicated" class="btn btn-secondary" data-dismiss="modal">No, I'll change my selections</button>
      </div>
    </div>
  </div>
</div>

{% extends 'order/base_form.html' %}