{% for field in tab.form %}
{% if field.field.type == 'Radio' %}
<fieldset id="{{ field.name }}" data-sequence="{{ field.field.display_seq_no }}" {% if field.field.display_condition %}
    data-condition="{{ field.field.display_condition }}" {% endif %}>
    <legend id="legend{{ field.name }}">
        {% if field.label == "Is there conduit at the location?" %}
        <strong>{{ field.label }} </strong><i class="fas fa-question-circle btn-link" aria-label="More Information icon" data-toggle="modal" data-target="#datatarget"></i>
        {% else %}
        <strong>{{ field.label }}</strong>
        {% endif %}
        {% if field.help_text %}
        <a tabindex="0" role="button" data-toggle="popover" data-container="body"
        data-trigger="focus" data-placement="bottom" 
        data-content="{{ field.help_text }}"><i class="far fa-question-circle"></i> <span class="sr-only">{{ field.help_text }}</span>
        </a>
    {% endif %}
    </legend>
    {% for choice in field.field.choices %}
    <div class="form-check custom-radio">
        <input type="radio" class="form-check-input" id="{{ field.name }}_{{ choice|first }}" value="{{ choice|first }}"
            name="{{ field.name }}" required>
        <label class="form-check-label" for="{{ field.name }}_{{ choice|first }}">{{ choice|last }}</label>
        {% if choice == field.field.choices|last %}
        <div class="invalid-feedback"><i class="fas fa-exclamation-triangle"
                aria-label="Icon signfying that user must select a value"></i>Please choose one.</div>
        {% endif %}
        {% if field.label == "Is there conduit at the location?" and choice != field.field.choices|first %}
                   (<a href='#blank' data-toggle="modal" data-target="#datatarget2">Order a conduit</a>)
       {% endif %}
    </div>
    {% endfor %}
    <br>
</fieldset>
{% elif field.field.type == 'Label' %}
<div id="{{ field.name }}" data-sequence="{{ field.field.display_seq_no }}" class='dynlabel'
    {% if field.field.display_condition %} data-condition="{{ field.field.display_condition }}" {% endif %}>
    <label>{{ field.label }}</label>
</div>
{% else %}
<div class="form-group row col-md-4" id="{{ field.name }}" data-sequence="{{ field.field.display_seq_no }}"
    data-condition="{{ field.field.display_condition }}">
    <div class="form-check">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        <div role=”alert” class="invalid-feedback"><i class="fas fa-exclamation-triangle"
                aria-label="Icon signfying that user must enter a value"></i>Please enter a value.</div>
        <div role=”alert” class="valid-feedback">Good.</div>
    </div>
</div>
{% endif %}

{% endfor %}

<!-- Add Checking for Conduit Modal -->
<div class="modal fade" id="datatarget" tabindex="-1" role="dialog"
aria-labelledby="checkConduit" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="checkConduit">Checking for Conduit</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="">
                {% autoescape off %}
                    {{ conduit_check.bodytext }}
                {% endautoescape %}
            </div>

        </div>
        <div class="modal-footer">
            <!-- Close button -->
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>
<!-- End of Add Checking for Conduit Modal -->

<!-- Add Checking for Conduit Modal -->
<div class="modal fade" id="datatarget2" tabindex="-1" role="dialog"
aria-labelledby="orderConduit" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="orderConduit">Order Conduit</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="">
                {% autoescape off %}
                    {{ conduit_order.bodytext }}
                {% endautoescape %}
            </div>

        </div>
        <div class="modal-footer">
            <!-- Close button -->
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>
<!-- End of Add Checking for Conduit Modal -->