{% for category in tab.form.list %}
  <div id="cat{{category.id}}" >
  <h3> {{category.name}} </h3>

    <div class="form-row">
      {% for type in category.type %}
      {{type.name}}
        <div class="form-check col">
        <legend>{{type.label}}</legend>

          {% for feature in type %}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{feature.id}}" id="feature{{feature.id}}">
            <label class="form-check-label" for="feature{{feature.id}}">
                {{feature}}
            </label>
          </div>
          {% endfor %}
    </div>
    {% endfor %}
  </div>

  </div>
{% endfor %}
