{% for category in tab.form.categories %}
<div id="cat{{category.id}}" data-phoneset="{{category.name}}">
  <p class="h2"> {{category}}
  </p>

  <div class="features-restriction-msg mb-4">
    <em>
      We can't display the current features for this phone. Review the Inventory and Location Report to see your phone's
      current features.
    </em>
    <strong>
      Select the features you want this phone to have.
    </strong>
  </div>

  <div class="form-row">
    {% for type in category.types %}
    <div class="form-check col">
      <legend>{{type.label}}   
        <small>
          <a tabindex="0" role="button" data-toggle="popover" data-container="body"
              data-trigger="focus" data-placement="bottom" title="{{action.label}}"
              data-content="{{type.description}}"> Learn more
          </a>
        </small>
      </legend>

      {% if type.label == 'Standard' %}
      Standard features included with this phone type:
      <ul>
        {% for feature in type %}
        <li>
          {{ feature.label }}
        </li>
        {% endfor %}
      </ul>
      {% elif type.label == 'Optional' %}
      {% for feature in type %}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="{{feature.id}}" name="{{category.name}}{{type.label}}"
          id="cat{{category.id}}feature{{feature.id}}">
        <label class="form-check-label" for="cat{{category.id}}feature{{feature.id}}">
          {{feature.label}}
        </label>
        {% if feature.description %}
        <a class="popover-icon" data-toggle="popover" tabindex="0" role="button"
        data-container="body" data-trigger="focus" data-placement="right"
        title="{{feature.label}}"
        data-content="{{feature.description}}">
        <i class="fas fa-question-circle"
            aria-label="More informaiton about {{feature.label}}"></i>
        </a>
        {% endif %}
        {% if feature.additional_info %}
        <input style="display:none" id="addinfo{{category.id}}feature{{feature.id}}" class="col-sm-4" type="text" maxlength="15" id="update" name="update"
        <a tabindex="0" role="button" data-toggle="popover" data-container="body"
        data-trigger="focus" data-placement="right" title="{{feature.label}}"
        data-content="{{feature.additional_info}}"></a>
        {% endif %}
      </div>
      {% endfor %}
      {% else %}
      {% for feature in type %}
      <div class="form-check">
        <input class="form-check-input" type="radio" value="{{feature.id}}" name="{{category.name}}{{type.label}}"
          id="cat{{category.id}}feature{{feature.id}}" required>
        <label class="form-check-label" for="cat{{category.id}}feature{{feature.id}}">{{feature}}</label>
        {% if feature.id == type.last %}
        <div class="invalid-feedback"><i class="fas fa-exclamation-triangle"
            aria-label="Icon signfying that user must select a value"></i>Please choose one.</div>
        {% endif %}
      </div>
      {% endfor %}
      {% endif %}
    </div>
    {% endfor %}
  </div>

</div>
{% endfor %}