{% extends 'base.html' %}
{% block content %}
    {% if item_list %}
        <table class="table">
            <tr>

                <th>Service</th>
                <th>Action</th>
                <th>Number</th>
            </tr>
            {% for item in item_list %}


            <tr>
                <td>{{ item.service }}</td>
                <td>{{ item.service_action }}</td>
                <td>{{ item.service_detail }}</td>
            </tr>
            
        {% endfor %}
        </table>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
{% endblock %}