<div class="col-lg-5 col-md-6 col-12">
  <div class="form-group" id="searchBuilding">
    <label for="buildingSearch" id="labelBuildingSearch">
      <strong>Search for a Building Name or Building ID</strong>
    </label>
    <small id="buildingSearchBlock" class="form-text text-muted">
        Search for the building name or building ID of where you want the new service to be activated or equipment to be delivered.
      </small>
    <input id="buildingSearch" class="form-group" type="text" aria-describedby="buildingSearchBlock"
      placeholder="Search.." required>
    <div role=”alert” class="invalid-feedback"><i class="fas fa-exclamation-triangle"
        aria-label="Icon signfying that user must enter a value"></i>Please enter a building.
    </div>
  </div>

  <table id="buildingTable" class="table table-hover" aria-live=”polite”>
    {% for building in tab.form.building_list %}
    <tr id="{{ building.building_code }}">
      <td>{{ building.building_code }}</td>
      <td name="buildingName">{{ building.building_name }}</td>
    </tr>
    {% endfor %}
    <tr id="buildingNA">
      <td>Not Listed</td>
      <td name="buildingName"></td>
    </tr>
  </table>
</div>


<div class="col-lg-5 col-md-6 col-12" id="buildingFields">
  <div class="form-group">
    <label for="id_new_building_code">
      <strong>Enter the Building Code (if known)</strong>
    </label>
    <input type="text" name="newBuildingCode" required="" id="id_new_building_code" class=" form-control">
  </div>
  <div class="form-group">
    <label for="id_new_building_name">
      <strong>Enter the Building Name</strong>
    </label>
    <input type="text" name="newBuildingName" required="" id="id_new_building_name" class=" form-control">
  </div>
  <div class="form-group">
    <label for="id_new_floor">
      <strong>Enter a Floor</strong>
    </label>
    <input type="text" name="newBuildingFloor" required="" id="id_new_floor" class=" form-control">
    <div role=”alert” class="invalid-feedback"><i class="fas fa-exclamation-triangle"
        aria-label="Icon signfying that user must enter a value"></i>Please enter floor.
    </div>
  </div>
  <div class="form-group">
    <label for="id_new_room">
      <strong>Enter a Room Number</strong>
    </label>
    <input type="text" name="newBuildingRoom" required="" id="id_new_room" class=" form-control">
    <div role=”alert” class="invalid-feedback"><i class="fas fa-exclamation-triangle"
        aria-label="Icon signfying that user must enter a value"></i>Please enter room.
    </div>
  </div>
</div>