{% extends 'base.html' %}

{% block content %}

<!-- Beginning of Content -->
    <div class="row header-info">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h1>
                        {{ title }}
                        <small class="text-muted">
                            for Department: <strong>{{department.id}} - {{department.name}}</strong>
                        </small>
                    </h1>
                </div>
                {% if dept_list|length > 1 %}
                <div class="col-12 dept-select">
                    <form action="/orders/chartcom/" id="cart-department-dropdown" method="POST">{% csrf_token %}
                        <div class="input-group dept-dropdown">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="deptid">
                                    Switch Department
                                </label>
                            </div>
                            <select class="custom-select order-status-dropdown" id="deptid" name="deptid">
                                {% for dept in dept_list %}
                                <option name="dept" value="{{dept.dept}}">{{dept.dept}} - {{dept.name}}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" class="btn btn-outline-secondary dept-dropdown-btn" value="Go">
                            <input id="deptSubmit" type="hidden" name="deptSubmit" value="{{department.id}}">
                        </div>
                    </form>
                </div>
                {% else %}
                <h6>No departments found.</h6>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2>
                        Chartfield List
                    </h2>
                </div>
                <div class="col-12 add-chartfield-link">
                    <span>
                        <a href="#" role="button" data-toggle="modal" data-target="#addChartfieldModal"
                            class="popover-test">
                            <i class="fas fa-plus-circle" aria-label="Icon for add a chartfield"></i> Add a Chartfield to List
                        </a>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive-md">
                        <table class="table table-hover table-striped table-sm">
                            <!-- table headers -->
                            <thead>
                                <tr class="col-headings">
                                    <th scope="col">Associated Name</th>
                                    <th scope="col">Fund</th>
                                    <th scope="col">Dept. ID</th>
                                    <th scope="col">Program</th>
                                    <th scope="col">Class</th>
                                    <th scope="col">Project Grant</th>
                                    <th scope="col">Shortcode</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <!-- end of table headers -->
                            <tbody>
                                {% for chartcom in chartcoms %}
                                <tr data-cfid="{{chartcom.id}}" data-chartcom="{{chartcom.account_number}}" id = "{{chartcom.id}}" >
                                    <th scope="row">{{chartcom.name}}</th>
                                    <td>{{chartcom.fund}}</td>
                                    <td>{{chartcom.dept}}</td>
                                    <td>{{chartcom.program}}</td>
                                    <td>{{chartcom.class_code}}</td>
                                    <td>{{chartcom.project_grant}}</td> 
                                    <script>
                                       var key = "{{chartcom.fund}}"+"-"+"{{chartcom.dept}}"+"-"+"{{chartcom.program}}"+"-" +"{{chartcom.class_code}}"
                                       if("{{chartcom.project_grant}}" != ""){
                                            key = key + "-"+"{{chartcom.project_grant}}";
                                       }
                                       var s_d = "{{short_code_list}}";
                                       s_d = s_d.replace(/&quot;/g,"'"); 
                                       var value;
                                       if(s_d.substring(s_d.indexOf(key)+ key.length + 4,s_d.indexOf(key) + key.length +5 ) == "'")
                                            value = "";
                                        else
                                            value = s_d.substring(s_d.indexOf(key)+ key.length + 4,s_d.indexOf(key) + key.length +10 );
                                       var x = document.createElement("TD");
                                       x.innerHTML = value;
                                       document.getElementById("{{chartcom.id}}").appendChild(x);

                                    </script>
                                    

                                    <td class="action">
                                        <a id="{{chartcom.id}}" class="edit" href="#" data-toggle="modal"
                                            data-target="#editChartfieldModal1">
                                            Edit <span class="sr-only">{{chartcom.name}}</span>
                                        </a>
                                        <a id="{{chartcom.id}}" class="delete" href="#" role="button"
                                            data-toggle="modal" data-target="#deleteChartfieldModal1">
                                            Remove <span class="sr-only">{{chartcom.name}}</span>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Chartfield Modal -->
        <div class="modal fade" id="addChartfieldModal" tabindex="-1" role="dialog"
            aria-labelledby="addChartfieldToShortlist" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addChartfieldToShortlist">Add Chartfield to List</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addChartfieldForm" method="POST" action="/orders/chartcom/">{% csrf_token %}
                            <div class="form-group">
                                <label for="chartfieldSelectSearch">Select a Chartfield</label>
                                <!-- Replace this select widget to be searchable select widget with column headings (see Paco's wireframe for example) -->
                                <select class="form-control" id="chartfieldSelectSearch" name="chartfieldSelection">
                                    {% for addcc in add_chartcoms %}
                                        <option data-shortcode="{{addcc.short_code}}" value="{{addcc.chartfield}}">{{addcc.chartfield}}</option>
                                        

                                    {% endfor %}
                                </select>
                            </div>
                            <!-- After user select a chartfield from the select widget above, the chartfield should authomatically populate the following text input (read only so the user can't change the chartfield) -->
                            <div class="form-group">
                                <label for="chartfieldSelected">Chartfield</label>
                                <input type="text" class="form-control" id="chartfieldSelected" name="chartfieldCode"
                                    readonly>
                            </div>
                            <!-- After user select a chartfield from the select widget above, the shortcode assocaited to chartfield (if any) should authomatically populate the following text input (read only so the user can't change the shortcode) -->
                            <div class="form-group">
                                <label for="chartfieldSelectedShortcode">
                                    Shortcode
                                </label>
                                <input type="text" class="form-control" id="chartfieldSelectedShortcode"
                                    name="shortcode" readonly>
                                <script>
                                        console.log("Shortcode populated");
                                        var value = document.getElementById("chartfieldSelectedShortcode").value;
                                        console.log(value);

                                </script>
                            </div>
                            <!-- user enters description/nickname in following text input field -->
                            <div class="form-group">
                                <label for="chartfieldDescription">
                                    Associated Name<span style="color:red;">*</span> <span style="color:red; font-size: 8px;">(This is a required field)</span>
                                </label>
                                <input type="text" class="form-control" id="chartfieldDescription" maxlength="120"
                                    placeholder="Enter a description or nickname (120 character limit)..." name="description" onchange="updateAddButton()">
                            </div>
                            <input type="hidden" name="action" value="add">
                            <input type="hidden" name="deptid" value="{{department.id}}">
                            <input id="addCCId" type="hidden" name="chartcomId" value="0">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <!-- cancel Form button -->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <!-- Submit Form button -->
                        <label for="submitBtn" hidden>Save to List</label>
                        <input type="submit" form="addChartfieldForm" id="submitBtn" class="btn btn-primary"
                            value="Add to List" disabled>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Add Cahrtfield Modal -->

        <!-- Edit Chartfield Modal #1 -->
        <div class="modal fade" id="editChartfieldModal1" tabindex="-1" role="dialog" aria-labelledby="editChartfield"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editChartfield">Edit Chartfield</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="editChartfieldForm" method="POST" action="/orders/chartcom/">{% csrf_token %}
                            <div class="form-group">
                                <label for="chartfieldComponent">Chartfield Selected</label>
                                <!-- Replace the value of the input form to be the chartfield that the user selected to edit -->
                                <input type="text" class="form-control" id="chartfieldComponent" name="chartfieldVal"
                                     readonly>
                            </div>

                            <div class="form-group">
                                <label for="shortCode1">Shortcode</label>
                                <!-- Replace the value of the input form below to be the shortcode (if any) of the chartfield that the user selected to edit -->
                                <input type="text" class="form-control" id="shortCode1" name="shortcodeVal"
                                     readonly>
                            </div>

                            <div class="form-group">
                                <label for="newChartfieldDescription" id="chartComDescr1">
                                    Enter a New Associated Name<span style="color:red;">*</span> <span style="color:red; font-size: 8px;">(This is a required field)</span>

                                </label>
                                <!-- Replace the value of the input form below to be the description of the chartfield that the user selected to edit -->
                                <input type="text" class="form-control" id="newChartfieldDescription" name="newDescription" maxlength="120" onchange="updateEditButton()">
                            </div>
                            <input type="hidden" name="action" value="edit">
                            <input type="hidden" name="deptid" value="{{department.id}}">
                            <input id="editCCId" type="hidden" name="chartcomId" value="0">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <!-- cancel Form button -->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <!-- Submit Form button -->
                        <label for="editBtn" hidden>Update</label>
                        <input type="submit" form="editChartfieldForm" id="editBtn" class="btn btn-primary"
                            value="Update" enabled>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Edit Chartfield Modal #1 -->

        <!-- Delete Chartfield Modal #1 -->
        <div class="modal fade" id="deleteChartfieldModal1" tabindex="-1" role="dialog"
            aria-labelledby="deleteChartfield" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteChartfield">Remove Chartfield</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body remove-chartfield-form-body">
                        <strong class="remove-text">
                            Are you sure you want to remove the following chartfield?
                        </strong>
                        <form id="deleteChartfieldForm" method="POST" action="/orders/chartcom/">{% csrf_token %}
                            <div class="card-body">
                                <strong class="card-text" >Chartfield:</strong>
                                <!-- Replace the following text with the value of the chartfield that the user selected to be removed from the shortlist -->
                                <p id="chartCom" class="card-text"></p>
                                <br>
                                <strong class="card-text" >
                                    Shortcode:
                                </strong>
                                <!-- Replace the following text with the value of the shortcode of the chartfield that the user selected to be removed from the shortlist -->
                                <p id="shortCode" class="card-text"></p>
                                <br>
                                <strong class="card-text" >
                                    Associated Name
                                </strong>
                                <!-- Replace the following text with the value of the description of the chartfield that the user selected to be removed from the shortlist -->
                                <p id="chartComDescr" class="card-text" id="chartcomDescr"></p>
                            </div>
                            <input type="hidden" name="action" value="delete">
                            <input type="hidden" name="deptid" value="{{department.id}}">
                            <input id="deleteCCId" type="hidden" name="chartcomId" value="0">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <!-- cancel Form button -->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <!-- Submit Form button -->
                        <label for="submitBtn" hidden>Remove from List</label>
                        <input type="submit" form="deleteChartfieldForm" id="submitBtn" class="btn btn-danger"
                            value="Remove from List">
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete Chartfield Modal #1 -->

    </div>

{% endblock %}

{% block js %}
<script>
const modalButton = document.getElementById('submitBtn');
const chartfieldDescription = document.getElementById('chartfieldDescription');

const editBtn = document.getElementById('editBtn')
const newChartfieldDescription = document.getElementById('newChartfieldDescription');
function updateAddButton() {
        if(chartfieldDescription.value){
            modalButton.disabled = false
        }else{
            modalButton.disabled = true
        }
    }

function updateEditButton() {
    console.log(newChartfieldDescription)
    console.log('edit')
    if(newChartfieldDescription.value){
        editBtn.disabled = false
    }else{
        editBtn.disabled = true
    }
}

$(document).ready(function () {
    dept = $("#deptSubmit").val();
    $("#deptid").val(dept);

    $('#chartfieldSelectSearch').change(function () {
        chartfield = $("#chartfieldSelectSearch option:selected").val();
        shortcode = $("#chartfieldSelectSearch option:selected").data('shortcode');
        $("#chartfieldSelected").val(chartfield);
        $("#chartfieldSelectedShortcode").val(shortcode);
    });

    $('#addChartfieldModal').on('show.bs.modal', function (e) {
        id = e.relatedTarget.id;
        row = $("tr[data-cfid='" + id + "']");
        $("#chartComDescr").text(row.find("th").html());
        $("#shortCode").text(row.find("td").eq(5).html());
        $("#chartCom").text(row.data('chartcom'));
        $("#addCCId").val(id);
        console.log("shortcode")
        console.log(row.find("td").eq(5).html())
    })

    $('#editChartfieldModal1').on('show.bs.modal', function (e) {
        id = e.relatedTarget.id;
        row = $("tr[data-cfid='" + id + "']");
        $("#chartfieldComponent").val(row.data('chartcom'));
        $("#shortCode1").val(row.find("td").eq(5).html());
        $("#newChartfieldDescription").val(row.find("th").html());
        $("#editCCId").val(id);
    })

    $('#deleteChartfieldModal1').on('show.bs.modal', function (e) {
        id = e.relatedTarget.id;
        row = $("tr[data-cfid='" + id + "']");
        $("#chartComDescr").text(row.find("th").html());
        $("#shortCode").text(row.find("td").eq(5).html());
        $("#chartCom").text(row.data('chartcom'));
        console.log("Chart")
        console.log($("#chartCom").text(row.data('chartcom')).html())
        console.log("shortcode")
        console.log($("#shortCode").val())
        $("#deleteCCId").val(id);
    })

});

</script>
{% endblock %}