<div class="col-6">

    {% with field=tab.form.volumeAdmin %}
    {% include field.field.template_name %}
    {% endwith %}

    {% with field=tab.form.owner %}
    {% include field.field.template_name %}
    {% endwith %}

    {% with field=tab.form.permittedHosts %}
    <div id="host_list" class="form-group">
        <label for="hosts">
            <strong>{{ field.label }}</strong>
        </label>

        <small class="text-muted form-text" id="hostsText">{{ field.field.description }}</small>

        <div class="form-inline" id="host_new">
            <input class="form-control form-inline" name="host" type="text" value="{{ host.name }}" aria-describedy="hostsText" required>
            &nbsp;&nbsp;<a href="javascript:$('#host_new').remove()"><i class="fas fa-minus-circle"></i></a>
        </div>

        {% for host in tab.form.host_list %}
        <div class="form-inline" id="host_{{ host.id }}">
            <input class="form-control form-inline" name="host" type="text" value="{{ host.name }}" aria-describedy="hostsText" required>
            &nbsp;&nbsp;<a href="javascript:$('#host_{{ host.id }}').remove()"><i class="fas fa-minus-circle"></i></a>
        </div>
        {% endfor %}
        <span id="lastrec"></span>
    </div>
    <a href="javascript:addHost()" class="d-block"><i class="fas fa-plus-circle"></i> Add another host</a>
    {% endwith %}

</div>