<div class="mb-3">
    <div class="form-group col-lg-6 col-12">
        <label for="id_phone_number">
            <strong>Enter your service number (10 digits, e.g. 7347642700 or ATVRX00106) to search for the current location
            </strong> </label>
        <div class="row">
            <div class="col">
                <input data-label="Phone Number" type="tel" class="form-control" id="id_phone_number" name="phone" required>
                <div role=”alert” class="invalid-feedback">
                    <i class="fas fa-exclamation-triangle" aria-label="Icon signfying that number was not found"></i> Number Not Found
                </div>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary findBtn" id="phoneLookup">Find</button>
            </div>
        </div>
    </div>
    <input type="hidden" id="subscriber_id" name="subscriber_id" value="">
    <input type="hidden" id="service_number" name="service_number" value="">
    <input type="hidden" id="location_id" name="location_id" value="">
    <input type="hidden" id="service_type" name="service_type" value="">
    <br>
    <div class="container" id="phLocationFields">
        <div class="col-12 mb-3">
            <strong>Select the Current Service Location for:</strong> <em id="foundPhone">123-123-1234</em>
            <em class="prv-msgs select-loc-directions">You can only select one location</em>
        </div>
        <!-- use the following div to specify that user must select a location card. 
        Add the class card-not-selected to all the cards as well. Remove that class when a card is selected & add the class selected-card when the location card is selected -->
        <div class="col-lg-4 col-12 alert alert-danger invalid-feedback" role="alert">
            Please select a current service location
        </div>
        <!-- Use the following to indicate the the phone number the user enetered is not in the DB. Remove the "hidden" attribute & do not let the user proceed to next screen. -->
        <div class="col-lg-4 col-12 alert alert-danger" role="alert" hidden>
            The service number cannot be found in our database
        </div>
        <div class="col-12">
            <div id="cardDeck" class="row card-columns">

                <div id="mainCard" class="col-sm-12 col-md-6 col-lg-4" style="display: none;">
                    <!-- Beginning of service location cards: Please pass in the appropriate parameters for the location that are shown in the card -->
                    <div class="card location-card">
                        <div class="card-body" data-location="">
                            <div>
                                <strong class="card-text">
                                    Building Name:
                                </strong>
                                <p id="name" class="card-text">
                                    
                                </p>
                            </div>

                            <div>
                                <strong class="card-text">
                                    Building ID:
                                </strong>
                                <p id="code" class="card-text">
                                    
                                </p>
                            </div>

                            <div>
                                <strong class="card-text">
                                    Floor:
                                </strong>
                                <p id="floor" class="card-text">
                                    1
                                </p>
                            </div>

                            <div>
                                <strong class="card-text">
                                    Room:
                                </strong>
                                <p id="room" class="card-text">
                                    
                                </p>
                            </div>
                           
                            <div>
                                <strong class="card-text">
                                    Jack #:
                                </strong>
                                <p id="jack" class="card-text">

                                </p>
                            </div>
                            <hr class="style">
                            <button id="loc" name="currloc" type="button" class="btn btn-outline-success select-button location-button current-button" value="loc" onclick="selectCard(this)">Select</button>
<!-----   <button id="product{{field.id}}" name="product" type="button" class="btn btn-outline-success select-button" value="{{ field }}" onclick="selectProductCard(this)">Select</button> -->               

                        </div>

                    </div>
                </div>


                <div id="newCard" class="col-sm-12 col-md-6 col-lg-4">
                    <div id="updateLocationCard" class="card location-card">
                        <div class="card-body">
                            <strong class="card-text">
                                Can't find the correct service location?
                            </strong>
                            <p class="card-text">
                                Update the current service location with the correct information
                            </p>

                            <hr class="style">
                            <button id="updateLocation" type="button" class="btn btn-outline-success select-button location-button"
                                value="Update Your Location" onclick="selectCard(this)">Update Your Location</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3" id="newLocationFields">
        <div class="mb-3">
            <strong>Please update the current service location</strong>
        </div>

        <div class="form-group">
            <label for="newBuildingName">
                <strong>Enter the Building Name</strong>
            </label>
            <input type="text" name="currentBuildingName" class="form-control col-lg-4 col-sm-6" id="newBuildingName" required>
            <div role=”alert” class="invalid-feedback"><i class="fas fa-exclamation-triangle" aria-label="Icon signfying that user must enter a value"></i>Please enter a value.</div>
            <div role=”alert” class="valid-feedback">Good.</div>
        </div>
        <input type="hidden" id="newBuildingCode" value="">
        <div class="form-group">
            <label for="newBuildingFloor">
                <strong>Enter a Floor</strong>
            </label>
            <input type="text" name="currentBuildingFloor" class="form-control col-lg-4 col-sm-6" id="newBuildingFloor" required>
            <div role=”alert” class="invalid-feedback"><i class="fas fa-exclamation-triangle" aria-label="Icon signfying that user must enter a value"></i>Please enter a value.</div>
            <div role=”alert” class="valid-feedback">Good.</div>
        </div>
        <div class="form-group">
            <label for="newBuildingRoom">
                <strong>Enter a Room Number</strong>
            </label>
            <input type="text" name="currentBuildingRoom" class="form-control col-lg-4 col-sm-6" id="newBuildingRoom" required>
            <div role=”alert” class="invalid-feedback"><i class="fas fa-exclamation-triangle" aria-label="Icon signfying that user must enter a value"></i>Please enter a value.</div>
            <div role=”alert” class="valid-feedback">Good.</div>
        </div>
        <div class="form-group">
            <label for="newBuildingJack">
                <strong>Enter a Jack Number</strong>
                </label>
            <input type="text" name="currentBuildingJack" class="form-control col-lg-4 col-sm-6" id="newBuildingJack" required>
            <div role=”alert” class="invalid-feedback"><i class="fas fa-exclamation-triangle" aria-label="Icon signfying that user must enter a value"></i>Please enter a value.</div>
            <div role=”alert” class="valid-feedback">Good.</div>
        </div>
        <div class="form-group">
            <label for="addinfo">
                <strong>Additional Information</strong>
                </label>
            <input type="text" name="addinfo" class="form-control col-lg-4 col-sm-6" id="addinfo">
            <div role=”alert” class="valid-feedback">Good.</div>
        </div>
    </div>

    <br>

    <div id="div_suspend_restore" class="form-group col-lg-6 col-12"  style="display: none;">
        <label for="addinfo">
            <strong>{{ tab.form.suspend_restore.label }}</strong>
            </label>
            {{ tab.form.suspend_restore }}
    </div>

</div>