
  <div class="row">
    <div class="col">

      <label for="exampleInputEmail1">Do you want to purchase equipment from ITCOM? </label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="purchaseYes" value="Yes">
        <label class="form-check-label" for="inlineRadio1">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="purchaseNo" value="Yes">
        <label class="form-check-label" for="inlineRadio2">No</label>
      </div>

      <div class="form-group", id="byod", style="display:none">
        <label for="phone_type_byod">Enter Phone Type</label>
        <input type="password" class="form-control" id="phone_type_byod" placeholder="Phone Make and Model">
      </div>

      <div class="form-group", id="phone_type", style="display:none">
        <label for="phone_type_purchase">Select Phone Type</label>
        <select class="form-control" id="phone_type_purchase">
          <option>Basic</option>
          <option>Advanced</option>
          <option>VOIP</option>
        </select>
      </div>

    </div>
    <div class="col">

    </div>
  </div>
  

  

<script>
//document.getElementById("nextBtn").style.display = 'disabled'
//$('nextBtn').prop('disabled', true);
//$('#nextBtn').disable(true);


// Phone Set Type - Buy Equipment
purchaseYes.onclick = function() {
    document.getElementById("byod").style.display = "none";
    document.getElementById("phone_type").style.display = "block";
    $('#nextBtn').prop('disabled', false);
}

purchaseNo.onclick = function() {
    document.getElementById("byod").style.display = "block";
    document.getElementById("phone_type").style.display = "none";
}

</script>