<div class="mb-3">
    <div class="input-group form-check col-6">
        <div class="input-group-prepend">
            <label class="input-group-text" for="validationServer01">Enter your phone number to look for the location </label>
        </div>
        <input type="tel" id="id_phone_number" name="phone" required>
        <button type="button" class="btn btn-primary findBtn" id="phoneLookup" style="margin-left:1rem;">Find</button>
        <div class="invalid-feedback"><i class="fas fa-exclamation-triangle" aria-label="Icon signfying that number was not found"></i>Number Not Found</div>
    </div>
    <br>
    <div class="container" id="phLocationFields">
        <div class="row">
            <div class="col-1">ID:</div>
            <span class="col-2" style="text-align: left" id="buildingCode"></span>
        </div>
        <div class="row">
            <div class="col-1">Building:</div>
            <span class="col-2" style="text-align: left" id="building"></span>
        </div>
        <div class="row">
            <div class="col-1">Floor:</div>
            <span class="col-2" style="text-align: left" id="floor"></span>
        </div>
        <div class="row">
            <div class="col-1">Room:</div>
            <span class="col-2" style="text-align: left" id="room"></span>
        </div>
        <div class="row">
            <div class="col-1">Jack:</div>
            <span class="col-2" style="text-align: left" id="jack"></span>
        </div>
    </div>
</div>