{% for list in tab.form.cat %}
  <div id="equip{{list.id}}" data-phoneset="{{list.id}}">

    <div class="card-columns">
    {% for field in list %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/media/{{field.picture}}" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">{{ field }}</h5>
          <p class="card-text">{{ field.description }}</p>
          <button type="button" class="btn btn-outline-sucess">Select</button>
          <strong>Price: ${{ field.price }}</strong>
        </div>
    </div>

    {% endfor %}
    </div>

  </div>
{% endfor %}