{% for list in tab.form.cat %}
  <div id="equip{{list.id}}" data-phoneset="{{list.id}}">

    <div class="card-columns">
    {% for field in list %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/media/{{field.picture}}" alt="Product Image of {{ field }}">
        <div class="card-body">
          <p class="card-title h5">{{ field }}</p>
          <p class="card-text">{{ field.description }}</p>
          <button type="button" class="btn btn-outline-success">Select</button>
          <p><strong>Price: ${{ field.price }}</strong></p>
        </div>
    </div>

    {% endfor %}
    </div>

  </div>
{% endfor %}