{% for tab in tab_list %}
{% if tab.name != 'Review' and tab.label != 'Things you will need' and tab.label != 'Order Equipment Information'%}
<div data-tab="{{ tab.name }}" class="card border-secondary mb-3">
  <div class="card-header">{{tab.label}}</div>
  <div class="card-body">
    <p id="review{{ tab.step }}" class="card-text" data-label="{{tab.label}}" style="white-space: pre-line;">

    </p>
  </div>
</div>
{% endif %}
{% endfor %}

{% if tab_list %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Please note:</strong> You cannot edit orders once they are added to the cart
  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
</div>
<!------ capture notes -->
<input id="reviewSummary" type="hidden" name="reviewSummary" value="">
{% endif %}

<!--- new section to handle saved data -->
{% for section in tab.form.data %}
<div data-tab="{{ tab.name }}" class="card border-secondary mb-3">
  <div class="card-header">{{section.title}}</div>
  <div class="card-body">
      {% for field in section.fields %}             
      <div class="mb-1 indented-form-input">
        {% if field.label == "MCommunity Admin Group" or field.label == "*MCommunity Admin Group" %}
          <strong class="question">MCommunity Owner Group</strong>
        {% else %}
          <strong class="question">{{field.label}}</strong>
        {% endif %}
          <p class="d-inline" id="questionAnswer">{{field.value}}</p>
            {% if field.list %}
            <ul>
              {% for sub in field.list %}
              <li>{{ sub }}</li>
              {% endfor %}
            </ul>
            {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

{% endfor %}