{% extends 'base.html' %}

{% block content %}

<h1>{{ title }}</h1>
<p>
    Your items have been grouped into <strong># of orders goes here</strong> based on the activation chartfields.
</p>
<div class="row">
    <div class="col-xl-12 col-lg-10 col-12">
        <form action="/orders/submit/" id="order-processing-form" method="POST">{% csrf_token %}
            {% for order in order_list %}
            <input type="hidden" id="order{{order.num}}" name="order[]" value="{{order.num}}">
            <h2>Order #{{order.num}}</h2>
            <div class="col-12">
                <div class="row-cards">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Chartfield:
                                <small class="chartfield-text">{{order.chartcom}}</small>
                            </strong>
                        </div>
                        <div class="horizontal-card">
                            <div class="card-body col-5 card-order-details">
                                <strong class="card-title">
                                    Items included in order:
                                </strong>
                                <ul>
                                    {% for item in order.items %}
                                    <li>
                                        {{item}}
                                    </li>
                                    <input type="hidden" id="item{{item.id}}" name="orderItems[{{order.num}}]"
                                        value="{{item.id}}">
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="card-body col-7">
                                <p>
                                    <strong>Date Request:</strong>
                                    When would you like the items in this order processed?
                                </p>
                                <div class="form-group">
                                    <input type="radio" name="processingTime[{{order.num}}]"
                                        id="standardProcessing{{order.num}}" value="standardProcessing" checked
                                        aria-label="Radio button for following text input" form="order-processing-form"
                                        onclick="hideDateDivs()">
                                    <label for="standardProcessing{{order.num}}">Standard Processing Time
                                        (varies on request type)</label>
                                    <a class="popover-icon" data-toggle="popover" tabindex="0" role="button"
                                        data-container="body" data-trigger="focus" data-placement="bottom"
                                        title="Standard Processing"
                                        data-content="The amount of time it takes ITCom to process your order depends on what you have requested. Most can be completed within 5-7 business days">
                                        <i class="fas fa-question-circle"
                                            aria-label="More informaiton about Standard Processing Time option"></i>
                                    </a>
                                </div>

                                <div class="form-group">
                                    <input type="radio" name="processingTime[{{order.num}}]"
                                        id="specificDay{{order.num}}" value="specificDay"
                                        aria-label="Radio button for following text input"
                                        onclick="showSpecificDayDiv()">
                                    <label for="specificDay{{order.num}}" class="form-check-label">Do on
                                        specific day</label>
                                    <a class="popover-icon" data-toggle="popover" tabindex="0" role="button"
                                        data-container="body" data-trigger="focus" data-placement="bottom"
                                        title="Standard Processing"
                                        data-content="The amount of time it takes ITCom to process your order depends on what you have requested. Most can be completed within 5-7 business days">
                                        <i class="fas fa-question-circle"
                                            aria-label="More informaiton about Standard Processing Time option"></i>
                                    </a>
                                    <!-- this div should remain hidden unless the user selected the radio button "specific day" -->
                                    <div id="specificDayDivForm">
                                        <label for="specificDayInput">
                                            Please select a date for this order to be processed on
                                        </label>
                                        <input type="date" id="specificDayInput" class="form-control-sm">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="radio" name="processingTime[{{order.num}}]" value="expediteOrder"
                                        id="expedite{{order.num}}" aria-label="Radio button for following text input"
                                        onclick="showExpediteOrderDiv()">
                                    <label for="expedite{{order.num}}" class="form-check-label">
                                        Expedite Order ($$)
                                    </label>
                                    <a class="popover-icon" data-toggle="popover" tabindex="0" role="button"
                                        data-container="body" data-trigger="focus" data-placement="bottom"
                                        title="Expedite Order"
                                        data-content="Expedited orders are done the next day or during non-standard business hours. A fee will be added to your order if appropriate">
                                        <i class="fas fa-question-circle"
                                            aria-label="More informaiton about Expedited Processing Time option"></i>
                                    </a>
                                    <!-- this div should remain hidden unless the user selected the radio button "expedite order" -->
                                    <div id="expediteDivForm">
                                        <label for="expediteDayInput">
                                            Please select a date for this order to be processed on
                                        </label>
                                        <input type="date" id="expediteDayInput" class="form-control-sm">
                                    </div>
                                </div>
                                <input type="submit" id="submit-order" class="btn btn-primary hidden">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </form>

        <div class="row">
            <div class="buttons">
                <a href="/orders/cart/{{dept}}" class="btn btn-outline-primary">Back to Cart</a>
                <label for="submit-order" class="btn btn-primary submit-order-btn" tabindex="0">Submit
                    Order</label>
            </div>
        </div>


    </div>

</div>

<!-- Please insert this line at the bottom of the "revieworder" page so that the popovers can work -->

{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });

    // Paco's JS for toggling input fields to enter a date if expediting order or want order completed on certain date
    function showSpecificDayDiv() {
        if (document.getElementById("expediteDivForm").style.display === "block") {
            document.getElementById("expediteDivForm").style.display = "none"
        }
        document.getElementById("specificDayDivForm").style.display = "block";
    }

    function showExpediteOrderDiv() {
        if (document.getElementById("specificDayDivForm").style.display === 'block') {
            document.getElementById("specificDayDivForm").style.display = 'none'
        }
        document.getElementById("expediteDivForm").style.display = 'block'
    }

    function hideDateDivs() {
        if (document.getElementById("specificDayDivForm").style.display === 'block') {
            document.getElementById("specificDayDivForm").style.display = 'none'
        }
        if (document.getElementById("expediteDivForm").style.display === "block") {
            document.getElementById("expediteDivForm").style.display = "none"
        }
    }
</script>
{% endblock %}