{% extends 'base.html' %}
{% block content %}

<h1>{{title}}</h1>
<div class="row">
    <div class="col-xl-3 col-md-3 col-12">
        <h2 class="service-menu-header">Category</h2>
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            {% for item in menu.nodes %}
            <a class="nav-link {{ service.active }}" id="{{ item }}-tab" data-toggle="pill" href="#{{ item.code }}" role="tab" {% if forloop.first %}active{% endif %}
                aria-controls="v-pills-profile" aria-selected="false">{{ item }}</a>
            {% endfor %}
        </div>
        <div class="alert alert-primary large-order">
            <strong>Have a question or Feedback?</strong><br>
            Use the form below to <strong><a href="/help" class="alert-link">contact us.</a></strong>
        </div>
    </div>

    <div class="tab-content col-xl-6 col-md-9 col-12" id="v-pills-tabContent">
        {% for item in menu.nodes %}
        <div class="tab-pane fade {{ item.active }}" id="{{ item.code }}" role="tabpanel" aria-labelledby="v-pills-profile-tab" {% if forloop.first %}active{% endif %}>
            <div class="row service" id="{{item.code}}" name="serviceCards">
                <h3 class="lead">{{ item }}</h3>
                <p>{{ item.help_text }}</p>
                <div class="col-md-12 card-deck">
                    {% for link in item.nodes %}
                    <div class="card col-12">
                        <div class="card-body">
                            <strong>
                                <a href="{{link.path}}">
                                    {{link.label}}
                                </a>
                            </strong>
                            <p class="learn-more-link">
                                <a tabindex="0" role="button" data-toggle="popover" data-container="body"
                                    data-trigger="focus" data-placement="bottom" title="{{link.label}}"
                                    data-content="{{link.help_text}}"> Learn more <span class="sr-only"> about
                                        {{ link.help_text }}</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-xl-3 col-md-6 col-12 helpful-links">
        {% autoescape off %}
        {{ notices.bodytext }}
        {% endautoescape %}
        <div class="alert alert-secondary hlinks" role="alert">
            <h3 class="alert-heading">
                Helpful ITS Links
            </h3>
            {% autoescape off %}
            {{ link_list.bodytext }}
            {% endautoescape %}

        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>

$(function () {

    $('[data-toggle="popover"]').popover();

    // Restore tab from URL hash
    if (window.location.hash) {
        const hash = window.location.hash;

        const $tab = $('a[data-toggle="pill"][href="' + hash + '"]');

        if ($tab.length) {
            $tab.tab('show');
        }
    } else {
        // Default to first tab
        $('#v-pills-tab .nav-link:first').tab('show');
    }

    // Update URL when tab changes
    $('a[data-toggle="pill"]').on('shown.bs.tab', function (e) {
        const hash = $(e.target).attr('href');

        history.replaceState(null, null, hash);
    });

    // Accessibility
    $('.nav-link').on('show.bs.tab', function (event) {
        const id = $(event.target).attr('href');

        $('.tab-pane').attr('tabindex', '0');
        $(id).attr('tabindex', '-1');
    });

});

</script>
{% endblock %}