{% for field in tab.form %}

{% if field.name == 'backup_time' %}
<div class="row">
    <div class="col-3">
    {% include field.field.template_name %}
    </div>
</div>
{% elif field.name == 'patch_day' %}
<div class="row">
    <div class="col-3">
    {% include field.field.template_name %}
    </div>
{% elif field.name == 'patch_time' %}
    <div class="col-3">
    {% include field.field.template_name %}
    </div>
</div>
{% elif field.name == 'reboot_day' %}
<div class="row">
    <div class="col-3">
    {% include field.field.template_name %}
    </div>
{% elif field.name == 'reboot_time' %}
    <div class="col-3">
    {% include field.field.template_name %}
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-6">
        {% include field.field.template_name %}
    </div>
</div>
{% endif %}
{% endfor %}


{% block js %}
<script>
    const production = document.getElementById("production_0");
    const nonProduction = document.getElementById("production_1");
    const onCallFieldSet = document.getElementById("div_on_call")

    if(production && nonProduction){
        if(nonProduction.checked){
        onCallFieldSet.style.display = 'none';
        }

        if(production.checked)
        {
            onCallFieldSet.style.display = '';
        }
    }

    
</script>
{% endblock %}