{% for field in tab.form %}

{% if field.name == 'misevdisk' %}
<div class="form-row">
    {% include field.field.template_name %}
    <div class="form-group com-md-6 float-bottom">
        <label><strong><br> </strong></label>
        <small class="text-muted form-text"><br></small>
        <select class="form-control" id="exampleFormControlSelect1">
            <option value="GB">Gigabytes</option>
            <option value="TB">Terabytes</option>
        </select>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-6">
        {% include field.field.template_name %}
    </div>
</div>
{% endif %}
{% endfor %}