{% extends 'base.html' %}
{% block content %}

<h1>{{title}}</h1>
<div class="row">
    <div class="col-xl-3 col-md-3 col-12">
        <h2 class="service-menu-header">Category</h2>
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            {% for service in service_list %}
            <a class="nav-link {{ service.active }}" id="{{ service.name }}-tab" data-toggle="pill" href="#{{ service.name }}" role="tab"
                aria-controls="v-pills-profile" aria-selected="false">{{ service }}</a>
            {% endfor %}
        </div>
        <div class="alert alert-primary large-order">
            <strong>Have a question or Feedback?</strong><br>
            Use the form below to <strong><a href="/help" class="alert-link">contact us.</a></strong>
        </div>
    </div>

    <div class="tab-content col-xl-6 col-md-9 col-12" id="v-pills-tabContent">
        {% for service in service_list %}
        <div class="tab-pane fade {{ service.active }}" id="{{ service.name }}" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="row service" id="{{service.name}}" name="serviceCards">
                <h3 class="lead">{{ service }}</h3>
                <div class="col-md-12 card-deck">
                    {% for action in service.actions %}
                    <div class="card col-12">
                        <div class="card-body">
                            <strong>
                                <a href="{{action.target}}">
                                    {{action.label}}
                                </a>
                            </strong>
                            <p class="learn-more-link">
                                <a tabindex="0" role="button" data-toggle="popover" data-container="body"
                                    data-trigger="focus" data-placement="bottom" title="{{action.label}}"
                                    data-content="{{action.description}}"> Learn more <span class="sr-only"> about
                                        {{ action.label }}</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-xl-3 col-md-6 col-12 helpful-links">
        {% autoescape off %}
        {{ notices.bodytext }}
        {% endautoescape %}
        <div class="alert alert-secondary hlinks" role="alert">
            <h3 class="alert-heading">
                Helpful ITS Links
            </h3>
            {% autoescape off %}
            {{ link_list.bodytext }}
            {% endautoescape %}

        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();

        if (window.location.href.indexOf('#') > 1) {
            var url = window.location.href;
            var hash = url.substring(url.indexOf('#'));

            $(hash + '-tab').addClass(' active');
            $(hash).addClass(' active show');
        //} else {
            //$('#phoneData-tab').addClass(' active');
            //$('#phoneData').addClass(' active show');

            //$('#miBackup-tab').addClass(' active');
            //$('#miBackup').addClass(' active show');
        }

        $('.nav-link').on('show.bs.tab', function (event) {
            id = '#' + event.target.id.slice(0, -4);
            $('.tab-pane').attr('tabindex', '0');
            $(id).attr('tabindex', '-1');
        })

    });
</script>
{% endblock %}