{% for field in tab.form %}

{% if field.name == 'misevdisk' %}
<div class="form-row">
    {% include field.field.template_name %}
    <div class="form-group com-md-6 float-bottom">
        <label><strong><br> </strong></label>
        <small class="text-muted form-text"><br></small>
        <select class="form-control" id="exampleFormControlSelect1">
            <option value="GB">Gigabytes</option>
            <option value="TB">Terabytes</option>
        </select>
    </div>
</div>
{% elif field.name == 'misevos' %}
<div class="row">
    <div class="col-6">
        <div class="form-group" id="div_{{field.name}}">
            <label for="{{field.id_for_label}}">
                <strong>{{ field.label }}</strong>
            </label>
            {% if field.help_text %}
            <a tabindex="0" role="button" data-toggle="popover" data-container="body" data-trigger="focus"
                data-placement="bottom" data-content="{{ field.help_text }}"><i class="far fa-question-circle"></i>
                <span class="sr-only">{{ field.help_text }}</span>
            </a>
            {% endif %}
            <small class="text-muted form-text" id="{{ field.name }}">{{ field.field.description }}</small>

            <select class="form-control" id="id_misevos" name="misevos">
                <option value='RedHatEnterpriseLinux764bitmanaged'>Red Hat Enterprise Linux 7 64-bit - Managed</option>
                <option value='Ubuntu1804LTS64bitManaged'>Ubuntu 18.04 LTS 64-bit - Managed</option>
                <option value='Windows2019managed'>Windows 2019 - Managed</option>
                <option value='Windows2016managed'>Windows 2016 - Managed</option>
            </select>

            {% for error in field.errors %}
            <div role="alert" class="invalid-feedback"><i class="fas fa-exclamation-triangle"
                    aria-label="Icon signifying that user must enter a value"></i>{{error}}</div>
            {% endfor %}
            <div role="alert" class="valid-feedback">Good.</div>
        </div>
    </div>
</div>
{% elif field.name == 'misevRAM' %}
<div class="row">
    <div class="col-6">
        <div class="form-group" id="div_{{field.name}}">
            <label for="{{field.id_for_label}}">
                <strong>{{ field.label }}</strong>
            </label>
            {% if field.help_text %}
            <a tabindex="0" role="button" data-toggle="popover" data-container="body" data-trigger="focus"
                data-placement="bottom" data-content="{{ field.help_text }}"><i class="far fa-question-circle"></i>
                <span class="sr-only">{{ field.help_text }}</span>
            </a>
            {% endif %}
            <small class="text-muted form-text" id="{{ field.name }}">{{ field.field.description }}</small>

            <select style="width: 150px" class="form-control" id="misevRAM" name="misevRAM">
                <option>2 GB</option>
                <option>4 GB</option>
                <option>8 GB</option>
                <option>16 GB</option>
                <option>32 GB</option>
                <option>64 GB</option>
                <option>More than 64 GB (requires approval)</option>
            </select>

            {% for error in field.errors %}
            <div role="alert" class="invalid-feedback"><i class="fas fa-exclamation-triangle"
                    aria-label="Icon signifying that user must enter a value"></i>{{error}}</div>
            {% endfor %}
            <div role="alert" class="valid-feedback">Good.</div>
        </div>
    </div>
</div>

{% else %}
<div class="row">
    <div class="col-6">
        {% include field.field.template_name %}
    </div>
</div>
{% endif %}
{% endfor %}