{% for field in tab.form %}

{% if field.name == 'diskSize' %}
<div id="host_list" class="form-group">
    <label for="hosts">
        <strong>{{ field.label }}</strong>
    </label>

    <small class="text-muted form-text" id="hostsText">{{ field.field.description }}</small>

    <div class="form-inline" id="host_new" style="display: none;">
        <input readonly class="form-control form-inline" name="diskName" type="text" value="disk0">
        <input class="form-control form-inline" name="diskSize" type="number">

        <select name="diskUOM" id="diskUOM" class="form-control">
            <option value="GB">GB</option>
            <option value="TB">TB</option>
        </select>
        &nbsp;&nbsp;<a onclick="this.parentElement.remove();" href="javascript:void(0)"><i
                class="fas fa-minus-circle"></i></a>
    </div>

    {% for disk in tab.form.disk_list %}
    <div class="form-inline" id="host_{{ host.id }}">
        <input readonly class="form-control form-inline" name="diskName" type="text" value="{{ disk.name }}">
        <input class="form-control form-inline" name="diskSize" type="number" value="{{ disk.size }}">

        <select name="diskUOM" id="diskUOM" class="form-control">
            {% for opt in tab.form.uom_list %}
            {% if opt ==  disk.uom  %}
            <option selected value="{{opt}}">{{opt}}</option>
            {% else %}
            <option value="{{opt}}">{{opt}}</option>
            {% endif %}
            {% endfor %}
        </select>
        &nbsp;&nbsp;<a onclick="this.parentElement.remove();" href="javascript:void(0)"><i
                class="fas fa-minus-circle"></i></a>
    </div>
    {% endfor %}
</div>
<div>
    {% for error in field.errors %}
    <div role="alert" class="invalid-feedback-"><i class="fas fa-exclamation-triangle"
            aria-label="Icon signifying that user must enter a value"></i>{{error}}</div>
    {% endfor %}
    <a href="javascript:addHost()" class="d-block-"><i class="fas fa-plus-circle"></i>Add another disk</a><br><br>
</div>

{% elif field.name == 'misevdiskuom' %}
{% else %}
<div class="row">
    <div class="col-6">
        {% include field.field.template_name %}
    </div>
</div>
{% endif %}
{% endfor %}