<h2>Server Selection</h2>
<p>Please select the server you wish to modify</p>
<input type="hidden" id="instance_id" name="instance_id" value="0">
    <a href="/admin/order/server/download_csv/" class="viewlink">
     Download CSV
    </a>
<div class="row mb-4">
    <div class="table-responsive-lg">
        <table class="table table-hover table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Server Name</th>
                    <th scope="col">Owner (MCommunity Group)</th>
                    <th scope="col">Size</th>
                    <th scope="col">CPU</th>
                    <th scope="col">RAM</th>
                    <th scope="col">Shortcode</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for volume in tab.form.volume_list %}
                    <tr>
                        <th data-id="{{volume.id}}" scope="row">{{ volume.name }}</th>
                        <td>{{ volume.owner }}</td>
                        <td>{{ volume.total_disk_size }}{{ volume.rate.unit_of_measure }}</td>
                        <td class="text-center">{{ volume.cpu }}</td>
                        <td class="text-center">{{ volume.ram }}</td>
                        <td>{% for sc in volume.shortcode_list %}
                            {{ sc.shortcode }}<br>
                    
                            {% endfor %}
                        </td>

                        <td class="action">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                                <button type="button"
                                        class="btn btn-outline-primary"
                                        onclick="modifyVolume(0, {{ volume.id }})">
                                    Edit
                                </button>

                                <a href="/orders/server/{{ volume.id }}/delete/"
                                class="btn btn-outline-danger">
                                    Delete
                                </a>

                                <a href="/orders/server/{{ volume.id }}/clone/"
                                class="btn btn-outline-secondary">
                                    Clone
                                </a>
                            </div>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>