{% extends 'base.html' %}
{% block content %}

<!-- Beginning of Content -->
<div class="row header-info">
    <div class="col-12">
        <div class="row">
            <h1>
                {{ title }}
                <small class="text-muted">
                    for Department: <strong><span id=deptHeading></span></strong>
                </small>
            </h1>
        </div>
        <div class='row'>
            <div class="col-xl-8 col-12 dept-select">
                <div class="input-group mb-3 dept-dropdown">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="selectDept">
                            Switch Department
                        </label>
                    </div>
                    <select class="form-select order-status-dropdown" id="selectDept">
                        <!--                         <option id="alldepts" name="dept" data-filter="dept" value="all_departments">
                            All Departments
                        </option> -->
                        {% for dept in dept_list %}

                        <option id="mydept{{dept.deptid}}" name="dept" data-filter="dept" value="{{dept.deptid}}">
                            {{dept.deptid}} - {{dept.dept_name}}
                        </option>

                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div><p>{{deltatest}}</p></div>
<div role="contentinfo">
    <div class="row cart-table">
        <div class="col-12">
            <!-- Beginning of Filter/Search -->
            <!-- <div class="filter-container"> -->
            <!-- Beginning of Search Bar -->
            <!-- <div class="input-group mb-3 search-bar">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-search" aria-label="Search Icon"></i>
                        </span>
                    </div>
                    <input id="orderSearch" type="text" class="form-control"
                        placeholder="Search by pre-order or uniqname…" aria-label="Search by pre-order or uniqname…"
                        aria-describedby="basic-addon2">
                </div> -->
            <!-- End of Search -->
            <!-- Beginning of Order Status Filter Dropdown -->
            <div class="mt-2 mb-2">
                <strong>Filter By:</strong>
            </div>
            <div class="form-row">

                <!-- Date submitted filter -->
                <div class="col-3">
                    <div class="input-group col-auto">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="timeDiff">
                                Submitted within
                            </label>
                        </div>
                        <select class="form-select" name="timeDiff" id="timeDiff">
                            <option value=''>--Select--</option>
                            {% for date in dates_list %}
                            <option data-dept="{{ date.1 }}" value="{{ date.0.1 }}"> {{ date.0.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Submitted by filter -->
                <div class="col-3">
                    <div class="input-group col-auto">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="submitter">
                                Submitted By
                            </label>
                        </div>
                        <select class="form-select" name="submitter" id="submitter">
                            <option value=''>--Select--</option>
                            {% for people in people_list %}
                            <option data-dept="{{people.1}}" value="{{ people.0 }}">{{ people.0 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Status filter -->
                <div class="col-3">
                    <div class="input-group col-auto">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="orderStatus">
                                Status
                            </label>
                        </div>
                        <select class="form-select" name="orderStatus" id="orderStatus">
                            <option value=''>--Select--</option>
                            {% for status in status_list %}
                            <option data-dept='{{status.1}}' value="{{ status.0 }}">{{ status.0 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button id='clearfilters' class='btn btn-primary'>Clear Filters</button>
                <br>
            </div>
            <!-- End of Order Status Filter Dropdown -->
            <!-- End of Filter/Search -->

            <!-- Beginning of table -->

            <div class="table-responsive-lg">
                <table class="table table-hover table-striped table-sm">
                    <!-- beginning of Table headers -->
                    <thead>
                        <tr>
                            <th scope="col">Order #</th>
                            <th scope="col">Date Submitted</th>
                            <th scope="col">Submitted By</th>
                            <th scope="col" class="wismo-order-details">Order Details</th>
                            <th scope="col">Chartfield Billed</th>
                            <th scope="col">Status
                                <!-- <i class="fas fa-question-circle btn-link"
                                    aria-label="More Information icon" data-toggle="modal"
                                    data-target="#statusIndicatorModal"></i> -->
                            </th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <!-- End of table headers -->

                    <!-- Beginning of table body -->
                    <tbody id="statusTable">

                        {% for order in order_list %}
                        <!-- First table row -->
                        <tr data-dept="{{order.deptid}}" data-order="{{order.id}}"
                            data-reference="{{order.order_reference}}" submitter="{{ order.created_by }}"
                            timeDiff='{{ order.timeDiff.1 }}' orderStatus='{{order.srs_status}}'>
                            <th scope="row">{{order.order_reference}}
                                {% if request.session.exit_users_pk or perms.oscauth.can_impersonate %}
                                <a href="/orders/integration/{{order.id}}"><i class="fas fa-info-circle"></i></a>
                            </th>
                            {% endif %}
                            <td>{{ order.create_date|date:"m/d/Y" }}</td>
                            <td>{{ order.created_by }}</td>
                            <td>
                                {% for item in order.items %}
                                <p style='font-family: Roboto; font-size: 1rem; margin-bottom: 0rem;'>
                                    {{ item.description }}</p>
                                {% endfor %}
                                <a href="/orders/detail/{{ order.id }}">Order details</a>
                            </td>
                            <td>{{ order.chartcom.name }} ({{order.chartcom.account_number}})</td>
                            <td>{{order.srs_status}}</td>
                            <td class="action">
                                <!-- <a class="delete" href="#">Cancel</a> -->
                                <a class="cancel" href="#" data-toggle="modal" data-target="#cancelOrderModal"
                                    data-order="{{order.id}}">
                                    Cancel <span class="sr-only">Order Number: {{order.order_reference}}</span>
                                </a>
                            </td>
                        </tr>
                        <!-- end of table row 1 -->
                        {% endfor %}
                    </tbody>
                    <!-- End of table body -->
                </table>
            </div>

            <!-- end of table  -->
            <!-- statusIndicatorModal -->
            <div class="modal fade" id="statusIndicatorModal" tabindex="-1" role="dialog"
                aria-labelledby="statusIndicatorModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="statusIndicatorModalLabel">Order Status Indicators</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                        </div>
                        <div class="modal-body">
                            {% autoescape off %}
                            {{ status_help.bodytext }}
                            {% endautoescape %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Cancel Order Modal -->
            <div class="modal fade" id="cancelOrderModal" tabindex="-1" role="dialog" aria-labelledby="cancelOrder"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form id="cancelOrderForm" method="POST" action="/orders/sendemail/">
                            <div class="modal-header">
                                <h5 class="modal-title" id="cancelOrder">Cancel Order</h5>
                                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                            </div>
                            <div class="modal-body remove-chartfield-form-body">
                                <strong class="remove-text">
                                    Are you sure you want to cancel the following order?
                                </strong>

                                <div class="card-body">
                                    <strong>Pre-Order #:</strong><span id="preOrder"></span>
                                    <div>
                                        <strong>
                                            Date Submitted:
                                        </strong>
                                        <span id="dateSubmitted"></span>
                                    </div>

                                    <div>
                                        <strong>
                                            Submitted by:
                                        </strong>
                                        <span id="uniqname"></span>
                                    </div>

                                    <div>
                                        <strong>Order Details:</strong><span style="text-align: left"
                                            id='orderDetails'></span>
                                    </div>
                                    <div>
                                        <strong>
                                            Chartfield:
                                        </strong>
                                        <span id="chartCom"></span>
                                    </div>

                                    <div>
                                        <strong>
                                            Status:
                                        </strong>
                                        <span id="status"></span>
                                    </div>
                                </div>
                                <input type="hidden" id="emailSubject" name="emailSubject" value="Cancel Order">
                                <input type="hidden" id="emailBody" name="emailBody" value="Cancel Order">

                            </div>
                            <div class="modal-footer">
                                <!-- cancel Form button -->
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep
                                    Order</button>
                                <!-- Submit Form button -->

                                <label for="submitBtn" hidden>Cancel Order</label>
                                <input type="submit" form="cancelOrderForm" id="submitBtn" class="btn btn-danger"
                                    value="Cancel Order">

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End of Cancel Order Modal -->
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();

        $('[data-dept]').hide(); //hides all elements with data-dept attribute
        $("[data-dept='" + $('#selectDept').val() + "']").show();

        dept = $("#selectDept option:selected").text();
        $('#deptHeading').text(dept);

        $('#cancelOrderModal').on('show.bs.modal', function (e) {

            order = e.relatedTarget.dataset.order
            row = $("tr[data-order='" + order + "']");

            $("#preOrder").text(row.data('reference'));
            $("#dateSubmitted").text(row.find("td").eq(0).html());
            $("#uniqname").text(row.find("td").eq(1).html());
            $("#orderDetails").html(row.find("td").eq(2).html());
            $("#chartCom").text(row.find("td").eq(3).html());
            $("#status").text(row.find("td").eq(4).html());

            //preorder = $(row).find("th").html();
            $("#emailSubject").val("Cancel preorder " + row.data('reference'));
        })

        $('#order-status-options').change(function () {
            status = $("#order-status-options option:selected").text();
            $("#statusTable tr:visible").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(status) > -1)
            });
        });

        $('#selectDept').on('change', function () {
            if (this.value == 'Select a department') {
                $('[data-dept]').show();
            } else {
                $('[data-dept]').hide();
                $("[data-dept='" + this.value + "']").show();
                dept = $("#selectDept option:selected").text();
                $('#deptHeading').text(dept);

                //reset filters
                $('#timeDiff').val('').change()
                $('#submitter').val('').change()
                $('#orderStatus').val('').change()
            }
        });

        $("#orderSearch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#statusTable tr:visible").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        //Filters

        $('#clearfilters').click(function () {
            $('#timeDiff').val('').change()
            $('#submitter').val('').change()
            $('#orderStatus').val('').change()
        })

        $('#timeDiff, #submitter, #orderStatus').on('change', function () {
            $("[data-dept='" + $('#selectDept option:selected').val() + "']").show();
            //default all are blank
            if (($('#timeDiff').val() == '') && ($('#submitter').val() == '') && ($('#orderStatus').val() == '')) {
                console.log('default view')
            }
            //only submitter has value
            else if (($('#timeDiff').val() == '') && ($('#submitter').val() != '') && ($('#orderStatus').val() == '')) {
                $('tbody tr').not('[submitter="' + $('#submitter').val() + '"]').hide()
            }
            //only timeDiff has value
            else if (($('#timeDiff').val() != '') && ($('#submitter').val() == '') && ($('#orderStatus').val() == '')) {
                $('tbody tr').not('[timeDiff="' + $('#timeDiff').val() + '"]').hide()
            }
            //only orderStatus has value
            else if (($('#timeDiff').val() == '') && ($('#submitter').val() == '') && ($('#orderStatus').val() != '')) {
                $('tbody tr').not('[orderStatus="' + $('#orderStatus').val() + '"]').hide()
            }
            //only submitter is blank, hide all that don't match the other 2
            else if (($('#timeDiff').val() != '') && ($('#submitter').val() == '') && ($('#orderStatus').val() != '')) {
                $('tbody tr').not('[timeDiff="' + $('#timeDiff').val() + '"]').hide()
                $('tbody tr').not('[orderStatus="' + $('#orderStatus').val() + '"]').hide()
            }
            //only timeDiff is blank
            else if (($('#timeDiff').val() == '') && ($('#submitter').val() != '') && ($('#orderStatus').val() != '')) {
                $('tbody tr').not('[orderStatus="' + $('#orderStatus').val() + '"]').hide()
                $('tbody tr').not('[submitter="' + $('#submitter').val() + '"]').hide()
            }
            //only orderStatus is blank
            else if (($('#timeDiff').val() != '') && ($('#submitter').val() != '') && ($('#orderStatus').val() == '')) {
                $('tbody tr').not('[submitter="' + $('#submitter').val() + '"]').hide()
                $('tbody tr').not('[timeDiff="' + $('#timeDiff').val() + '"]').hide()
            }
            //if all are filled
            else {
                $('tbody tr').not('[submitter="' + $('#submitter').val() + '"]').hide()
                $('tbody tr').not('[timeDiff="' + $('#timeDiff').val() + '"]').hide()
                $('tbody tr').not('[orderStatus="' + $('#orderStatus').val() + '"]').hide()
            };

        });
    });

</script>
{% endblock %}