{% extends 'base.html' %}
{% block content %}

<!-- Beginning of Content -->
<div id="main-content" class="container" role="main">
    <div class="row header-info">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h1>
                        {{title}}
                        <small class="text-muted">
                            for Department: <strong><span id=deptHeading></span></strong>
                        </small>
                    </h1>
                </div>
            </div>
            <div class='row'>
                <div class="col-xl-8 col-12 dept-select">
                    <div class="input-group mb-3 dept-dropdown">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="selectDept">
                                Switch Department
                            </label>
                        </div>
                        <select class="custom-select order-status-dropdown" id="selectDept">
                            {% for dept in dept_list %}
                            <option id="mydept{{dept.dept}}" name="dept" data-filter="dept" value="{{dept.dept}}">
                                {{dept.dept}} - {{dept.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" role="main">
        <div class="row">
            <div class="col-lg-12">
                <!-- Beginning of Filter/Search -->
                <div class="filter-container">
                    <!-- Beginning of Search Bar -->
                    <div class="input-group mb-3 search-bar">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-search" aria-label="Search Icon"></i>
                            </span>
                        </div>
                        <input id="orderSearch" type="text" class="form-control" placeholder="Search by pre-order or uniqname…"
                            aria-label="Search by pre-order or uniqname…" aria-describedby="basic-addon2">
                    </div>
                    <!-- End of Search -->

                    <!-- Beginning of Order Status Filter Dropdown -->
                    <div class="input-group mb-3 order-status">
                        <div class="input-group-prepend">
                            <label class="input-group-text">
                                Filter By Order Status
                            </label>
                        </div>
                        <select class="custom-select order-status-dropdown" id="order-status-options">
                            <option selected>Select a status indicator</option>
                            <option value="Submitted">Submitted</option>
                            <option value="Scheduled">Scheduled for</option>
                            <option value="Billed">Billed</option>
                            <option value="Cancelled">Cancelled</option>
                        </select>
                    </div>
                    <!-- End of Order Status Filter Dropdown -->
                </div>
                <!-- End of Filter/Search -->

                <!-- Beginning of table -->
                <div class="table">
                    <table class="table table-hover table-striped table-sm">
                        <caption>List of Orders & their respective statuses</caption>
                        <!-- beginning of Table headers -->
                        <thead>
                            <tr>
                                <th scope="col">PreOrder #</th>
                                <th scope="col">Date Submitted</th>
                                <th scope="col">Submitted By</th>
                                <th scope="col" class="wismo-order-details">Order Details</th>
                                <th scope="col">Chartfield Billed</th>
                                <th scope="col">Status <i class="fas fa-question-circle btn-link"
                                        aria-label="More Information icon" data-toggle="modal"
                                        data-target="#statusIndicatorModal"></i></th>
                                <th scope="col">Cancel</th>
                            </tr>
                        </thead>
                        <!-- End of table headers -->

                        <!-- Beginning of table body -->
                        <tbody id="statusTable" >

                            {% for order in order_list %}
                            <!-- First table row -->
                            <tr data-dept="{{order.dept}}">
                                <th scope="row">{{order.order_reference}}</th>
                                <td>{{ order.create_date|date:"m/d/y" }}</td>
                                <td>{{ order.created_by }}</td>
                                <td>
                                    <ul class="order-details-list">
                                        {% for item in order.items %}
                                        <li>
                                            {{ item.description }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>{{ order.chartcom }}</td>
                                <td>{{order.status}}</td>
                                <td class="action">
                                    <!-- <a class="delete" href="#">Cancel</a> -->
                                    <a class="cancel" href="#" data-toggle="modal"
                                        data-target="#cancelOrderModal">
                                        Cancel
                                    </a>
                                </td>
                            </tr>
                            <!-- end of table row 1 -->
                            {% endfor %}
                        </tbody>
                        <!-- End of table body -->
                    </table>
                </div>
                <!-- end of table  -->
                <!-- statusIndicatorModal -->
                <div class="modal fade" id="statusIndicatorModal" tabindex="-1" role="dialog"
                    aria-labelledby="statusIndicatorModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="statusIndicatorModalLabel">Order Status Indicators</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {% autoescape off %}
                                {{ status_help.bodytext }}
                                {% endautoescape %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Cancel Order Modal -->
                <div class="modal fade" id="cancelOrderModal" tabindex="-1" role="dialog" aria-labelledby="cancelOrder"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="cancelOrder">Cancel Order</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body remove-chartfield-form-body">
                                <strong class="remove-text">
                                    Are you sure you want to cancel the following order?
                                </strong>
                                <form id="cancelOrderForm" method="GET" action="status.html">
                                    <div class="card-body">
                                        <strong>Pre-Order #:</strong>
                                        <!-- Replace the following text with the value of the Pre Order Number that the user selected to be removed from the shortlist -->
                                        12345
                                        <div>
                                            <strong>
                                                Date Submitted:
                                            </strong>
                                            <!-- Replace the following text with the value of the date of the order that the user selected to be removed from the shortlist -->
                                            mm/dd/yyyy
                                        </div>

                                        <div>
                                            <strong>
                                                Submitted by:
                                            </strong>
                                            <!-- Replace the following text with the value of the uniqname of the order's submitter that the user selected to be removed from the shortlist -->
                                            uniqname here
                                        </div>

                                        <div>
                                            <strong>
                                                Order Details:
                                            </strong>
                                            <!-- Replace the following text with the value of the description of the order that the user selected to be removed from the shortlist -->
                                            <ul>
                                                <li>
                                                    Items here
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <strong>
                                                Chartfield:
                                            </strong>
                                            <!-- Replace the following text with the value of the chartfield of the order that the user selected to be removed from the shortlist -->
                                            Chartfield here
                                        </div>

                                        <div>
                                            <strong>
                                                Status:
                                            </strong>
                                            <!-- Replace the following text with the value of the status of the order that the user selected to be removed from the shortlist -->
                                            Status here
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <!-- cancel Form button -->
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep Order</button>
                                <!-- Submit Form button -->
                                <label for="submitBtn" hidden>Cancel Order</label>
                                <input type="submit" form="cancelOrderForm" id="submitBtn" class="btn btn-danger"
                                    value="Cancel Order">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Cancel Order Modal -->

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();

        dept = $("#selectDept option:selected").text();
        $('#deptHeading').text(dept);

        
        $('#order-status-options').change(function () {
            status = $("#order-status-options option:selected").text();
            $("#statusTable tr:visible").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(status) > -1)
            });
            console.log(status);
        });

        $('#selectDept').change(function () {
            if (this.value == 'Select a department') {
                $('[data-dept]').show();
            } else {
                $('[data-dept]').hide();
                $("[data-dept='" + this.value + "']").show();
                dept = $("#selectDept option:selected").text();
                $('#deptHeading').text(dept);
            }
        });

        $("#orderSearch").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#statusTable tr:visible").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

    });

</script>
{% endblock %}