<h2>Volume Selection</h2>
<p>Please select the storage volume you wish to modify</p>
<input type="hidden" id="instance_id" name="instance_id" value="0">
<div class="row mb-4">
    <div class="table-responsive-lg">
        <table class="table table-hover table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Volume Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Department</th>
                    <th scope="col">Shortcode</th>
                    <th scope="col">Size</th>
                    <th scope="col">Add Ons</th>
                    <th scope="col">Total Cost</th>
                </tr>
            </thead>
            <tbody>
                {% for volume in tab.form.volume_list %}
                    
                    <tr>
                        <th data-id="{{volume.storage_instance.id}}" scope="row">{{ volume.storage_instance.name }}</th>
                        <td>{{ volume.storage_instance.type }}</td>
                        <td>{{ volume.storage_instance.dept }}</td>
                        <td>{{ volume.storage_instance.shortcode }}</td>
                        <td>{{ volume.storage_instance.size }}GB</td>
                        <td>{{ volume.storage_instance.rate.label }}</td>
                        <td style="text-align:right">{{ volume.storage_instance.total_cost }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>Total Cost</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align:right">{{ tab.form.total_cost }}</td>
                    <td></td>                    
                </tr>
            </tfoot>
        </table>
    </div>
</div>