<h2>Volume Selection</h2>
<p>Please select the storage volume you wish to modify</p>
<div class="row mb-4">
    <div class="table-responsive-lg">
        <table class="table table-hover table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Volume Name</th>
                    <th scope="col">Owner (MCommunity Group)</th>
                    <th scope="col">Size</th>
                    <th scope="col">Performance Level</th>
                    <th scope="col">Add Ons</th>
                    <th scope="col">Shortcode</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for volume in tab.form.volume_list %}
                    
                    <tr>
                        <th data-id="{{volume.id}}" scope="row">{{ volume.storage_instance.name }}</th>
                        <td>{{ volume.storage_instance.owner }}</td>
                        <td>{{ volume.storage_instance.size }}GB</td>
                        <td>{{ volume.storage_instance.type }}</td>
                        <td>{{ volume.storage_instance.add_ons }}</td>
                        <td>{{ volume.storage_instance.shortcode }}</td>
                        <td class="action">
                            <a href="#" onclick="modifyVolume(0, {{ volume.id }})">Edit</a><a href="#" onclick="modifyVolume(1, {{ volume.id }})">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>