{% extends 'base.html' %}

{% block content %}

<form action="/orders/addtocart/" method="post" id="workflowForm" >
  {% csrf_token %}

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    {% for tab in tab_list %}
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" id="pills-{{ tab.step }}" href="#{{ tab.step }}" role="tab" aria-controls="pills-{{ tab.name }}" aria-selected="false">{{ tab }}</a>
      </li>
    {% endfor %}
  </ul>
  <div class="tab-content" id="pills-tabContent">
    {% for tab in tab_list %}
      <div class="tab-pane fade" id="{{ tab.step }}" role="tabpanel" aria-labelledby="pills-contact-tab">
        {% if tab.form.template %}
          {% include tab.form.template %}
        {% else %}
          {{tab.form.as_p}}
        {% endif %}
      </div>
    {% endfor %}
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#" id="previous">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#" id="next">Next</a></li>
    </ul>
  </div>


</form>

{% endblock %}

{% block js %}
<script>
  $(document).ready(function(){

    $('#pills-tab li:first-child a').tab('show')
    $curtab = 1;

  });

  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    e.target // newly activated tab
    e.relatedTarget // previous active tab
    console.log(e.target.index)
  })

  document.getElementById("next").addEventListener("click", next);
  document.getElementById("previous").addEventListener("click", previous);

  function next() {

    $curtab++;
    $step = '#pills-step' + $curtab;
    $($step).tab('show')
  }

  function previous() {
    console.log('next event' + $curtab);
    $curtab--;
    $step = '#pills-step' + $curtab;
    $($step).tab('show')
  }

</script>
{% endblock %}