{% extends 'base.html' %}

{% block content %}

<h1>{{title}}</h1>

<form action="/orders/addtocart/" method="post" id="workflowForm" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="hidden" id="wfid" name="action_id" value="{{action.id}}">
  <input type="hidden" id="wftype" name="action_type" value="{{action.type}}">
  <input type="hidden" id="wfname" name="action" value="{{title}}">
  <input type="hidden" id="wfcart" name="cart" value="{{action.use_cart}}">
  <input type="hidden" id="wfajax" name="ajax" value="{{action.use_ajax}}">

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    {% for tab in tab_list %}
      <li class="nav-item">
        <a class="nav-link disabled" data-toggle="tab" data-tab="{{ tab.name }}" id="pills-{{ tab.step }}" href="#{{ tab.step }}" role="tab" name="pills-{{ tab.name }}" aria-controls="{{ tab.step }}" aria-selected="false">{{ tab.label }}</a>
      </li>
    {% endfor %}
  </ul>
  <div class="tab-content" id="pills-tabContent">
    {% for tab in tab_list %}
      <div class="tab-pane fade" id="{{ tab.step }}" data-pane="{{ tab.name }}" role="tabpanel" aria-labelledby="pills-{{ tab.step }}">
          {% include tab.form.template %}
      </div>
    {% endfor %}

    <div style="overflow:auto;">
      <div style="float:right;">
        <button type="button" class="btn btn-outline-primary" id="prevBtn">Previous</button>
        <button type="button" class="btn btn-primary" id="nextBtn">Next</button>
      </div>
    </div>

  </div>


</form>

{% endblock %}

{% block js %}
<script src="/static/order/js/workflow.js"></script>
{% for js_file in js_files %}
<script src="/static/order/js/{{js_file}}.js"></script>
{% endfor %}
{% endblock %}