<div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="{{widget.name}}_Yes" name="{{widget.name}}_name" required>
        <label class="custom-control-label" for="{{widget.name}}_Yes">Yes</label>
      </div>
      <div class="custom-control custom-radio mb-3">
        <input type="radio" class="custom-control-input" id="{{widget.name}}_No" name="{{widget.name}}_name" required>
        <label class="custom-control-label" for="{{widget.name}}_No">No</label>
    <div class="invalid-feedback">Please choose one.</div>
</div>