{% extends 'bom/base.html' %}
{% block content %}
<h2>{{ title }}</h2>



<div class="form-inline">
    <input type="search" id="workorder_search" class="form-control form-inline"
    aria-label = "Search through site content" placeholder="filter">
    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-1"
        aria-expanded="true" aria-controls="collapse-{{ forloop.counter }}">
    </button>
</div>
<br>
<div id="div_workorder_table">
    <table id="workorder_table" class="table table-hover table-striped sortable" aria-live=”polite”>
        <thead>
            <tr>
                <th>Workorder</th>
                <th>Preorder</th>
                <th>Project</th>
                <th>Comment</th>
                <th>Building</th>
                <th>Estimates</th>
            </tr>
        </thead>
        <tbody id="workOrderTableBody">
            {% for record in search_list %}
            <tr data-estimate_id="{{ record.estimate_id }}" data-pre_order_id="{{ record.pre_order_id }}">
                <td>{{ record.wo_number_display }}</td>
                <td>{{ record.pre_order_number }}</td>
                <td>{{ record.project_display }}</td>
                <td>{{ record.comment }}</td>
                <td>{{ record.building }}</td>
                <td>{{ record.multi_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'bom/modal_add_estimate.html' %}

{% endblock content %}


{% block js %}
<script>

    document.getElementById("workorder_search").addEventListener("keyup", function () {
        document.getElementById("div_workorder_table").style.display = "block";
        var value = this.value.toLowerCase();
        var tableRows = document.querySelectorAll("#workOrderTableBody tr");
        tableRows.forEach(function (row) {
            var text = row.textContent.toLowerCase();
            row.style.display = text.indexOf(value) > -1 ? "table-row" : "none";
        });
    });

    var tableRows = document.querySelectorAll("#workOrderTableBody tr");
    tableRows.forEach(function (row) {
        row.addEventListener("click", function () {
            var estimate_id = this.getAttribute('data-estimate_id');
            if (estimate_id !== 'None') {
                    window.location.replace("/apps/bom/estimate/" + estimate_id + "/");
            } else {
                var pre_order_id = this.getAttribute('data-pre_order_id');
                console.log(pre_order_id, 'pid');
                document.getElementById("pre_order_id").value = pre_order_id;
                $('#addEstimate').modal();
            }
        });
    });

</script>


{% endblock js %}