{% extends 'bom/base.html' %}
{% block content %}
{% load humanize %}


<h2>{{ title }}</h2>

<form hx-post="{% url 'item_lookup_endpoint' %}" 
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-trigger="input delay:500ms, keyup[key=='Enter']"
        hx-target="#itemTableBody"
        hx-indicator=".htmx-indicator">
    <div class="form-group">
        <input type="text" class="form-control border border-primary" id="item_code" name="item_code" placeholder="Search items...">
    </div>
</form>

{% include 'bom/partials/searching_indicator.html' %}

<table id="item_table" class="table table-hover table-striped" aria-live="polite">
    <thead>
        <tr>
            <th>Code</th>
            <th>Description</th>
            <th>Type</th>
            <th>Subclass</th>
            <th>Manufacturer</th>
            <th>Manufacturer#</th>
            <th class="text-right">Price</th>
        </tr>
    </thead>
    <tbody id="itemTableBody">
        {% include 'bom/partials/item_table_rows.html' %}
    </tbody>
</table>


{% endblock %}