{% extends 'bom/base.html' %}
{% block content %}
<h2>{{ title }}</h2>

<div class="form-group col-md-6">
    <label for="search">Search by preorder number</label>
    <select class="form-control estimate-search-ajax" id="estimate_search"></select>
</div>

{% include 'bom/modal_add_estimate.html' %}

{% endblock content %}

{% block js %}
<script>

    $(".estimate-search-ajax").select2({
        ajax: {
            url: "/apps/bom/search_ajax/",
            dataType: 'json',
            delay: 250,

            cache: true
        },
        placeholder: 'Search for an estimate',
        minimumInputLength: 3,
        display: "inline",
        //templateResult: formatRepo,
        //templateSelection: formatRepoSelection
    });

    $('#estimate_search').on('select2:select', function (e) {
        console.log('selected',e.params.data.id)
        window.location.replace("/apps/bom/estimate/" + e.params.data.id + "/");
        // Do something
    });


</script>


{% endblock js %}