<table class="table table-hover table-striped table-sm">
    <thead>
        <tr>
            <th>Item</th>
            <th style="width: 10%">Quantity</th>
            <th style="width: 11%">Status</th>
            <th>Staged</th>
            <th>Order Date</th>
            <th>Est Receive Date</th>
            <th>Release Number</th>
            <th>Vendor</th>
            <th>Delete</th>
        </tr>
    </thead>
    {% for form in material_formset %}
    <tbody>
        <tr>
            {{ form.id }}
            <td>{{ form.item_code.value }}</td>
            <td>{{ form.quantity }}</td>
            <td>{{ form.status }}</td>
            <td>{{ form.staged }}</td>
            <td>{{ form.order_date }}</td>
            <td>{{ form.estimated_receive_date }}</td>
            <td>{{ form.release_number }}</td>
            <td>{{ form.vendor }}</td>
            <!----          <td><select class="form-select" name="{{ form.item.html_name }}" id="{{ form.item.auto_id }}" list="items"></td>  -->
            <td>{{ form.DELETE }}</td>
        </tr>
        {% if form.errors %} 
        <tr>
            <td colspan="9">
                {% for field in form %} 
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                        <strong>{{field.label}}: {{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
            </td>
        </tr>
        {% endif %}

    </tbody>
    {% endfor %}
</table>
<button type="submit" class="btn btn-primary">Save</button>