{% extends 'bom/base.html' %}
{% block content %}

{% include "bom/preorder.html" %}
<br>

<form method="post">
    {{ material_formset.management_form }}
    {% csrf_token %}
    <input type="hidden" id="current_tab" name="current_tab" value="{{ current_tab }}">
    <input type="hidden" id="element" value="{{ element }}">


    <div class="row sticky-top bg-white" style="z-index: 1;">

        <div class="input-group col-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">{{ form.status.label }}</span>
            </div>
            {{ form.status }}
        </div>

        <div class="input-group col-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="estimate-label">Label</span>
            </div>

            <input type="text" class="form-control" name="label" value="{{ estimate.label }}" id="estimte-label"
                aria-describedby="basic-addon3">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>

        <a class='ml-auto mr-3' style="align-content: flex-end" href='/apps/bom/estimate/{{ estimate.id }}'>Return to
            Main</a>
        <div style="border: 1px solid black; margin: 1%;">
            <table style="margin: 1%;">
                <thead>
                    <th>Status</th>
                    <th>Staged</th>
                    <th>Order Date</th>
                    <th>Est Receive Date</th>
                    <th>Release Number</th>
                    <th>Vendor</th>
                    <th style="width: 7%">Reel</th>
                    <th> </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select id="copy_status">
                                <option value="1">Estimate</option>
                                <option value="2">In Stock</option>
                                <option value="3">Ordered</option>
                            </select>
                        </td>
                        <td style="text-align: center; vertical-align: middle;"><input id="copy_staged" type="checkbox">
                        </td>
                        <td><input id="copy_order_date" type="date"></td>
                        <td><input id="copy_estimated_receive_date" type="date"></td>
                        <td><input id="copy_release_number"></td>
                        <td><input id="copy_vendor"></td>
                        <td><input id="copy_reel_number"></td>
                        <td><button type="button" class='btn btn-success' onclick="copier()">Copy</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <a style="float:right;" href="/apps/bom/estimate/{{ estimate.id }}">Return to Main</a>

    <table class="table-borderless table-hover table-striped table-sm">
        <thead>
            <tr>
                <th style="width: 10%">Quantity</th>
                <th style="width: 11%">Status</th>
                <th>Staged</th>
                <th>Order Date</th>
                <th>Est Receive Date</th>
                <th>Release Number</th>
                <th>Vendor</th>
                <th style="width: 7%">Reel</th>
            </tr>
        </thead>
        {% for form in material_formset %}
        {% with rec=form.instance %}
        <tbody>
            <tr>
                <td colspan="7"><b>{{rec.item_code}}</b> - {{ rec.item_description }} &emsp;
                    <i>({{rec.manufacturer}} - {{rec.manufacturer_part_number}})</i>
                    &nbsp;&nbsp;Location: {{ rec.material_location }}</td>
            </tr>
            <tr class="border-bottom">
                {{ form.id }}
                <td>{{ form.quantity }}</td>
                <td>{{ form.status }}</td>
                <td>{{ form.staged }}</td>
                <td>{{ form.order_date }}</td>
                <td>{{ form.estimated_receive_date }}</td>
                <td>{{ form.release_number }}</td>
                <td>{{ form.vendor }}</td>
                <td>{{ form.reel_number }}</td>
            </tr>
            {% if form.errors %}
            <tr>
                <td colspan="9">
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{field.label}}: {{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </td>
            </tr>
            {% endif %}

        </tbody>
        {% endwith %}
        {% endfor %}
    </table>
    
</form>

{% endblock content %}



{% block js %}
<script>
    $('.collapse').collapse();

    // Popovers for record timestamps
    $(document).ready(function () {

        $('[data-toggle="popover"]').popover();

        // Class form up with bootstrap
        $("select").addClass("form-control custom-select");
        $('input:not(:checkbox)').addClass("form-control");

        $('#addEstimateBtn').hide();

        status = $("#id_status").val()
        if (status == 0 || status > 3) {
            $(':input').not('.always-enabled').prop("disabled", true);
        }


    });

</script>
{% endblock js %}