{% extends 'bom/base.html' %}
{% block content %}

{% include "bom/preorder.html" %}
<br>

<form method="post">
    {{ material_formset.management_form }}
    {% csrf_token %}
    <input type="hidden" id="current_tab" name="current_tab" value="{{ current_tab }}">
    <input type="hidden" id="element" value="{{ element }}">



    <div class="row">

        <div class="input-group col-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">{{ form.status.label }}</span>
            </div>
            {{ form.status }}
        </div>

        <div class="input-group col-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="estimate-label">Label</span>
            </div>

            <input type="text" class="form-control" name="label" value="{{ estimate.label }}" id="estimte-label"
                aria-describedby="basic-addon3">
        </div>

    </div>

    <a style="float:right;" href="/apps/bom/estimate/{{ estimate.id }}">Return to Main</a>

    <table class="table-borderless table-hover table-striped table-sm">
        <thead>
            <tr>
                <th style="width: 10%">Quantity</th>
                <th style="width: 11%">Status</th>
                <th>Staged</th>
                <th>Order Date</th>
                <th>Est Receive Date</th>
                <th>Release Number</th>
                <th>Vendor</th>
                <th style="width: 7%">Reel</th>
            </tr>
        </thead>
        {% for form in material_formset %}
        {% with rec=form.instance %}
        <tbody>
            <tr>
                <td colspan="7"><b>{{rec.material_location}}:</b> {{ rec.item_code }} - {{ rec.item_description }} &emsp;
                    <i>({{rec.manufacturer}} - {{rec.manufacturer_part_number}})</i></td>
            </tr>
            <tr class="border-bottom">
                {{ form.id }}
                <td>{{ form.quantity }}</td>
                <td>{{ form.status }}</td>
                <td>{{ form.staged }}</td>
                <td>{{ form.order_date }}</td>
                <td>{{ form.estimated_receive_date }}</td>
                <td>{{ form.release_number }}</td>
                <td>{{ form.vendor }}</td>
                <td>{{ form.reel_number }}</td>
            </tr>
            {% if form.errors %}
            <tr>
                <td colspan="9">
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{field.label}}: {{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </td>
            </tr>
            {% endif %}

        </tbody>
        {% endwith %}
        {% endfor %}
    </table>
    <button type="submit" class="btn btn-primary">Save</button>

</form>

{% endblock content %}



{% block js %}
<script>
    $('.collapse').collapse();

    // Popovers for record timestamps
    $(document).ready(function () {

        $('[data-toggle="popover"]').popover();

        // Class form up with bootstrap
        $("select").addClass("form-control custom-select");
        $('input:not(:checkbox)').addClass("form-control");

        $('#addEstimateBtn').hide();

        status = $("#id_status").val()
        if (status == 0 || status > 3) {
            $(':input').not('.always-enabled').prop("disabled", true);
        }


    });

</script>
{% endblock js %}