<p>Please review the following information</p>
<table style="display: inline-block;">
    <th>Old Location</th>
    <tr>
        <td>Service Number: {{phone_number}}</td>
    </tr>
    <tr>
        <td>Campus: {{selected.1}}</td>
    </tr>
    <tr>
        <td>Building: {{selected.9}}</td>
    </tr>
    <tr>
        <td>Building ID: {{selected.8}}</td>
    </tr>
    <tr>
        <td>Floor: {{selected.10}}</td>
    </tr>
    <tr>
        <td>Room: {{selected.12}}</td>
    </tr>
    <tr>
        <td>Jack: {{selected.14}}</td>
    </tr>
</table>