<p>Please review the following information.</p>

<div class='card-deck mb-5'>
    <div class='card' style='width:30%;'>
        <div class='card-header'>
            Old Location
        </div>
        <div class='card-body'>
            <strong class='d-inline'>Service Number:&nbsp;</strong><p class='d-inline' id='old-num'></p><br>
            <strong class='d-inline'>Campus:&nbsp;</strong><p class='d-inline' id='old-campus'></p><br>
            <strong class='d-inline'>Building:&nbsp;</strong><p class='d-inline' id='old-name'></p><br>
            <strong class='d-inline'>Building ID:&nbsp;</strong><p class='d-inline' id='old-id'></p><br>
            <strong class='d-inline'>Floor:&nbsp;</strong><p class='d-inline' id='old-floor'></p><br>
            <strong class='d-inline'>Room:&nbsp;</strong><p class='d-inline' id='old-room'></p><br>
            <strong class='d-inline'>Jack:&nbsp;</strong><p class='d-inline' id='old-jack'></p>
        </div>
    </div>

    <div class='card' style='width:30%;'>
        <div class='card-header'>
            New Location
        </div>
        <div class='card-body'>
            <strong class='d-inline'>Service Number:&nbsp;</strong><p class='d-inline' id='new-num'></p><br>
            <strong class='d-inline'>Campus:&nbsp;</strong><p class='d-inline' id='new-campus'></p><br>
            <strong class='d-inline'>Building:&nbsp;</strong><p class='d-inline' id='new-buildingName'></p><br>
            <strong class='d-inline'>Building ID:&nbsp;</strong><p class='d-inline' id='new-buildingID'></p><br>
            <strong class='d-inline'>Floor:&nbsp;</strong><p class='d-inline' id='new-buildingFloor'></p><br>
            <strong class='d-inline'>Room:&nbsp;</strong><p class='d-inline' id='new-buildingRoom'></p><br>
            <strong class='d-inline'>Jack:&nbsp;</strong><p class='d-inline' id='new-buildingJack'></p>
        </div>
    </div>
</div>
