


{% if submit %}
<br>
<div>
    <p>Location information for:  <strong>{{phone_number}}</strong>. Please select the current service location.</p>
    <p></p><input type="text" style='font-size:20px' method = "GET"name = 'holder' id = 'phone' value = {{phone_number}} hidden readonly>

 
</div>
<table class = "table table-sm mb-5 table-striped" cellpadding = "10">
    <thead class = "thead-light">
        <th></th>
        <th>Campus</th>
        <th>Building</th>
        <th>Bldg ID</th>
        <th>Floor</th>
        <th>Room</th>
        <th>Jack</th>
    </thead>
    {% for jack in current %}
    
    <tr id = '{{jack}}'>
        <td><input type="radio" method: "GET" style='font-size:20px' name = 'jacks' value ="{{jack.15}}"></td>
        <td> {{jack.1}} </td>
        <td> {{jack.9}} </td>
        <td> {{jack.8}} </td>
        <td> {{jack.10}} </td>
        <td> {{jack.13}} </td>
        <td> {{jack.15}} </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready( function(){
        $('input[type=radio][name=jacks]').change(function () {
            var jack = $(this).val();
            $.ajax({
                type: "GET",
                url: "",
                data: {
                    'jacks': jack,

                },
                dataType: 'json',
                success: function(data) {
                    document.getElementById('r').innerHTML = "Phone Number: " + data.phone_number;
                    document.getElementById('r1').innerHTML = "Campus: " + data.selected[0][1];
                    document.getElementById('n').innerHTML = "Phone Number: " + data.phone_number;
                    document.getElementById('n1').innerHTML = "Campus: " + data.selected[0][1];
                    document.getElementById('r2').innerHTML = "Building Name: " + data.selected[0][9];
                    document.getElementById('r3').innerHTML = "Building ID: " + data.selected[0][9];
                    document.getElementById('r4').innerHTML = "Floor: " + data.selected[0][11];      
                    document.getElementById('r5').innerHTML = "Room: " + data.selected[0][13];      
                    document.getElementById('r6').innerHTML = "Jack: " + data.selected[0][15];
                },
                error: function(data) {
                    alert("this fucking sucks");
                }
            });
        });
    });
</script>

