<p></p>
<h5>Search for New Location</h5>
  <div class = "row align-items-start" id = "select_loc">
      <div class = "input-group col-md-10">
          <div class ="input-group-prepend">
              <label class = "input-group-text" for="inv_dropdown">Building Name or ID</label>
          </div>
          <input id="buildingSearch" type="text" class = "form-control col-3" placeholder="Search..">
      </div>
  </div>


<table id="buildingTable" class="table table-hover">
  {% for building in building_list %}
    <tr id="{{ building.0 }}">
      <td>{{ building.0 }}</td>
      <td name="buildingName">{{ building.1 }}</td>
    </tr>
  {% endfor %}
  </table>
</p>


<div class="form-group" id="buildingFields">
    <div class="col-xs-4">
        <label for="id_OneTimeCharges">Building Code:</label>
        
        <input type="text"  method: "GET" name="buildingCode" id="buildingID" class=" form-control">

        <label for="id_OneTimeCharges">Building Name:</label>
        <input type="text"  method: "GET" name="buildingName" id="buildingName" class=" form-control">

        <label for="id_OneTimeCharges">Floor:</label>
        <input type="text" method: "GET" name="buildingFloor" id="buildingFloor" class=" form-control">
        <div class="invalid-feedback">Please enter floor.</div>

        <div id = "roomselect">
          <label for="id_OneTimeCharges">Room:</label>
            <select type = "GET" name = "buildingRoom" id="buildingRoom" class=" form-control">
              <option value = "%">--Select--</option>
            </select>
          {% comment %} <input type="text" method: "GET" name="buildingRoom" id="buildingRoom" class=" form-control"> {% endcomment %}
          <div class="invalid-feedback">Please enter room.</div>
        </div>
        <div id = "jackselect">
          <label for="id_OneTimeCharges">Jack:</label>
          <select type = "GET" name = "buildingJack" id="buildingJack" class=" form-control">
                <option value = "%">--Select--</option>
              </select>
          {% comment %} <input type="text" method: "GET" name="buildingJack" id="buildingJack" class=" form-control"> {% endcomment %}
          <div class="invalid-feedback">Please enter jack.</div>
        </div>
    </div>
</div>

<script>
  $(document).ready( function(){
    

    $('#buildingTable tr').click(function() {
        $("#roomselect").hide();
        $("#jackselect").hide();
        document.getElementById('buildingFloor').value = '';  
        var name = $(this).find("td").eq(1).html();   
        var code = $(this).find("td").eq(0).html();   
        $.ajax({
          type: "GET",
          url: "building/",
          data:{
            "buildingName":name,
            "buildingID":code,
          },
          dataType:'json',
          success: function(data) {
            document.getElementById('n2').innerHTML = "Building Name: " + data.name;
            document.getElementById('n3').innerHTML = "Building ID: " + data.code;  
            console.log(typeof data);
          },
          error: function(data) {
            alert("ok nice try guy");
          }
        });
    });

    $('input[type=text][name=buildingFloor]').on("keyup", function () {
        var code = $('#buildingID').val();
        var floor = $(this).val();
        $("#roomselect").hide();
        $("#jackselect").hide();
        $.ajax({
          type: "GET",
          url: "floor/",
          data:{
            "buildingID": code,
            "buildingFloor": floor,
          },
          dataType:'json',
          success: function(data) {
            
            $('#buildingRoom').empty();
            var option = document.createElement("option");
            option.value = "%";
            option.text = "--Select--";
            document.getElementById('buildingRoom').appendChild(option);

            document.getElementById('n4').innerHTML = "Floor: " + data.floor;
            for (var i =0; i < data.rooms.length; i++) {
              var option = document.createElement("option");
              option.value = data.rooms[i];
              option.text = data.rooms[i];
              document.getElementById('buildingRoom').appendChild(option);
            }
            if (data.floor != '')
              $("#roomselect").show();
            console.log(typeof data);
          },
          error: function(data) {
            alert("ok nice try guy");
          }
        });
    });

    $('#buildingRoom').change(function () {
        var code = $('#buildingID').val();
        var floor = $("#buildingFloor").val();
        var room = $(this).val();
        $.ajax({
          type: "GET",
          url: "room/",
          data:{
            "buildingID": code,
            "buildingFloor": floor,
            "buildingRoom": room,
          },
          dataType:'json',
          success: function(data) {
            document.getElementById('n5').innerHTML = "Room: " + data.room;

            $('#buildingJack').empty();
            var option = document.createElement("option");
            option.value = "%";
            option.text = "--Select--";
            document.getElementById('buildingJack').appendChild(option);

            for (var i =0; i < data.jacks.length; i++) {
              var option = document.createElement("option");
              option.value = data.jacks[i];
              option.text = data.jacks[i];
              document.getElementById('buildingJack').appendChild(option);
            }
            console.log(typeof data);
            $("#jackselect").show();
          },
          error: function(data) {
            alert("ok nice try guy");
          }
        });
    });

    $('#buildingJack').change(function () {
        var jack = $(this).val();
        $.ajax({
          type: "GET",
          url: "jack/",
          data:{
            "buildingJack": jack,
          },
          dataType:'json',
          success: function(data) {
            document.getElementById('n6').innerHTML = "Jack: " + data.jack;
            console.log(typeof data);
          },
          error: function(data) {
            alert("ok nice try guy");
          }
        });
    });
  });
</script>