{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<form action="/tools/voip/" method="POST" onsubmit="return validate()" name="Select">{% csrf_token %}
  
    <h2>Phone Number:</h2>
    <input type="text" style='font-size:20px' name = 'number' id = 'phone'><br><p></p>
    <input type="submit" value="Submit" class="btn btn-primary"><br>
    <p></p>
</form>
<p>{{ current }}</p>
<p>{{ locations }}</p>

{% endblock %}