{% extends 'base.html' %}
{% block content %}
<h1>{{ title }}</h1>

<div class="container">

    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name in form.skip %}
            {% elif field.name in form.custom %}
                {% include 'services/'|add:field.name|add:'.html' %}
            {% else %}
                <div class="form-group {{ field.field.div_class }} col-6" id="div_{{ field.name }}">
                    <label for="exampleInputEmail1"><strong>{{ field.label }}</strong></label>
                    <small id="emailHelp" class="form-text text-muted">{{ field.help_text }}</small>
                    {{ field }}
                    
                    {% for error in field.errors %}
                    <div role="alert" class="invalid-feedback"><i class="fas fa-exclamation-triangle"
                            aria-label="Icon signifying that user must enter a value"></i>{{error}}</div>
                    {% endfor %}
                </div>
            {% endif %}

        {% endfor %}

        <div class="form-group col-6">
            <label for="region"><strong>Preferred Region</strong></label>
            <small id="emailHelp" class="form-text text-muted">Some initial network scaffolding is constructed in the your preferred region.  Other regions are also available within the account.  If unsure leave the default.</small>
            <select id="region" class="form-control col-6">
                    <option val="117">US East (N. Virginia)</option>
                    <option>US East (Ohio)</option>
                    <option>US West (N. California)</option>
                    <option>US West (Oregon)</option>
                    <option>Asia Pacific (Tokyo)</option>
                    <option>Asia Pacific (Seoul)</option>
                    <option>Asia Pacific (Mumbai)</option>
                    <option>Asia Pacific (Singapore)</option>
                    <option>Asia Pacific (Sydney)</option>
                    <option>Canada (Central)</option>
                    <option>China (Beijing)</option>
                    <option>China (Ningxia)</option>
                    <option>EU (Frankfurt)</option>
                    <option>EU (Ireland)</option>
                    <option>EU (London)</option>
                    <option>EU (Paris)</option>
                    <option>South America (Sao Paulo)</option>
            </select>
        </div>
        <br>
        <div class="form-check">
            {{ form.acknowledge_sle}}
            <label class="form-check-label" for="id_acknowledge_sle">I have read and awknowledge the 
                <a target="_blank" href="https://docs.google.com/document/d/1m401diwNcS70iFEWd861XW7dtKcoAOZfTupgFDs8cEI/edit?usp=sharing">
                    Service Charter
                </a>
            </label>
        </div>

        <div class="form-check">
            {{ form.acknowledge_srd}}
            <label class="form-check-label" for="id_acknowledge_srd">I have read and awknowledge the 
                <a target="_blank" href="https://docs.google.com/spreadsheets/d/1UwNYBqUPeMABrYb6OeEdlzY6hZn5mNrT_mW9B_2yV2U/edit#gid=1259966563">
                    Shared Responsibility Document
                </a>
            </label>
        </div>


        <hr>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

{% endblock %}



{% block js %}
<script>

    $("#id_migrate_existing").change(function() {
        if (this.value=="Yes") {
            $("#div_aws_account_info").show();
        } else {
            $("#div_aws_account_info").hide();
        }
    });

    $("#id_sensitive_data_yn").change(function() {
        if (this.value=="Yes") {
            $("#div_sensitive_data").show();
        } else {
            $("#div_sensitive_data").hide();
        }
    });



</script>
{% endblock js %}