{% extends 'base.html' %}
{% block content %}
<h1>{{ title }}</h1>

<div class="container">

    <form method="POST">
        {% csrf_token %}

        {% if 'container_sensitive' in form.fields %}
        {% include 'services/container_sensitive.html' %}
        {% endif %}

        {% if 'oncampus_container_sensitive' in form.fields %}
        {% include 'services/oncampus_container_sensitive.html' %}
        {% endif %}

        <div id="div_formbody">
        {% for field in form %}
            {% if field.name in form.skip %}
            {% elif field.name in form.custom %}
                {% include 'services/'|add:field.name|add:'.html' %}
            {% else %}
                <div class="form-group {{ field.field.div_class }} col-6" id="div_{{ field.name }}">
                    <label for="{{ field.id_for_label }}"><strong>{{ field.label }}</strong></label>
                    <small class="form-text text-muted">{% autoescape off %}{{ field.help_text }}{% endautoescape %}</small>
                    {{ field }}
                    
                    {% for error in field.errors %}
                    <div role="alert" class="invalid-feedback"><i class="fas fa-exclamation-triangle"
                            aria-label="Icon signifying that user must enter a value"></i>{{error}}</div>
                    {% endfor %}
                </div>
            {% endif %}

        {% endfor %}

        {% if form.acknowledge_sle %}
        <div class="form-check">
            {{ form.acknowledge_sle}}
            <label class="form-check-label" for="id_acknowledge_sle">I have read and awknowledge the 
                <a target="_blank" href="https://docs.google.com/document/d/1m401diwNcS70iFEWd861XW7dtKcoAOZfTupgFDs8cEI/edit?usp=sharing">
                    Service Charter
                </a>
            </label>
        </div>
        {% endif %}

        {% if form.acknowledge_srd %}
        <div class="form-check">
            {{ form.acknowledge_srd}}
            <label class="form-check-label" for="id_acknowledge_srd">I have read and awknowledge the 
                <a target="_blank" href="https://docs.google.com/spreadsheets/d/1UwNYBqUPeMABrYb6OeEdlzY6hZn5mNrT_mW9B_2yV2U/edit#gid=1259966563">
                    Shared Responsibility Document
                </a>
            </label>
        </div>
        {% endif %}
        </div>
        <hr>

        <button id="submit_btn" type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

{% endblock %}



{% block js %}
<script>
    $(document).ready(function () {

        $("#id_database").change(function () {
            console.log('db type', this.value);
            if (this.value == "NONE") {
                $("#div_database_type").hide();
            } else {
                $("#div_database_type").show();
            }
        });

        $("#id_migrate_existing").change(function () {
            if (this.value == "Yes") {
                $("#div_aws_account_info").show();
            } else {
                $("#div_aws_account_info").hide();
            }
        });

        $("#id_sensitive_data_yn").change(function () {
            if (this.value == "Yes") {
                $("#div_sensitive_data").show();
            } else {
                $("#div_sensitive_data").hide();
            }
        });

        $("#id_gcp_existing").change(function () {
            if (this.value == "Yes") {
                $("#div_gcp_account_info").show();
            } else {
                $("#div_gcp_account_info").hide();
            }
        });

        $("#id_vpn").change(function () {
            if (this.value == "Yes") {
                $("#div_vpn_tier").show();
            } else {
                $("#div_vpn_tier").hide();
            }
        });

        $("#id_container_sensitive").change(function () {
            if (this.checked) {
                $("#div_formbody").show();
                $("#submit_btn").show();
            } else {
                $("#div_formbody").hide();
                $("#submit_btn").hide();
            }
        });

        $("#id_oncampus_container_sensitive").change(function () {
            if (this.checked) {
                $("#div_formbody").show();
                $("#submit_btn").show();
            } else {
                $("#div_formbody").hide();
                $("#submit_btn").hide();
            }
        });

        

        $("#id_nih_yn").change(function () {
            if (this.value == "Yes") {
                $("#div_nih_info").show();
            } else {
                $("#div_nih_info").hide();
            }
        });

        $("#id_course_yn").change(function () {
            if (this.value == "Yes") {
                $("#div_course_info").show();
                $("#div_shortcode").hide()
                $('#id_shortcode').prop('required',false);

                

            } else {
                $("#div_course_info").hide();
                $("#div_shortcode").show();
                $('#id_shortcode').prop('required',true);
            }
        });

        $('#id_container_sensitive').trigger('change')
        $('#id_oncampus_container_sensitive').trigger('change')
        $('#id_migrate_existing').trigger('change')
        $('#id_sensitive_data_yn').trigger('change')
        $('#id_gcp_existing').trigger('change')
        $('#id_vpn').trigger('change')
        $('#id_nih_yn').trigger('change')

    });

</script>
{% endblock js %}