{% extends 'base.html' %}
{% block content %}
<h1>{{ title }}</h1>

<div class="container">

    <form method="POST">
        {% csrf_token %}
        <div id="div_formbody">
            <div class="form-group {{ field.field.div_class }}" id="div_{{ field.name }}">
                <div class="form-group">
                    <label for="{{ form.admin_group.id_for_label }}"><h6><span style="color:red; font-size:12px;">* </span>MCommunity Group</h6></label>
                    {{ form.admin_group }}
                    <label for="{{ form.shortcode.id_for_label }}"><h6><span style="color:red; font-size:12px;">* </span>Shortcode</h6></label>
                    {{ form.shortcode }}
                </div>
                <div class="form-group">
                    <label for="{{ form.shared_network.id_for_label }}"><h6>Will you be using a shared network or do you need a new dedicated network?</h6></label>
                    {{ form.shared_network }}
                    <div class="container">
                        <div id="network_options" style="display:none">
                            <label for="{{ form.purpose.id_for_label }}"><h6>What is the purpose of the network?</h6></label>
                            {{ form.purpose }}
                            <label for="{{ form.access_internet.id_for_label }}"><h6>Do the desktops need to access sites outside of the University of Michigan (on the internet)?</h6></label>
                            {{ form.access_internet }}
                            <label for="{{ form.mask.id_for_label }}"><h6>What subnet mask does this pool need?</h6></label>
                            {{ form.mask }}
                            <label for="{{ form.protection.id_for_label }}"><h6>Do you need your network protected by the IPS?</h6></label>
                            {{ form.protection }}
                            <label for="{{ form.technical_contact.id_for_label }}"><h6>Please enter the email address of the technical contact:</h6></label>
                            {{ form.technical_contact }}
                            <label for="{{ form.billing_contact.id_for_label }}"><h6>Please enter the email address of the business contact:</h6></label>
                            {{ form.billing_contact }}
                            <label for="{{ form.security_contact.id_for_label }}"><h6>Please enter the email address of the security contact:</h6></label>
                            {{ form.security_contact }}
                        </div>
                    </div>
                    
                    <label for="{{ form.base_image_name.id_for_label }}"><h6>Base Image Name</h6></label>
                    {{ form.base_image_name }}
                    <label for="{{ form.initial_image.id_for_label }}"><h6>Initial Image</h6></label>
                    {{ form.initial_image }}
                    <label for="{{ form.operating_system.id_for_label }}"><h6>Operating System</h6></label>
                    {{ form.operating_system }}
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="{{ form.cpu.id_for_label }}"><h6>CPU</h6></label>
                            {{ form.cpu }}
                        </div>
                        <div class="col">
                            <label for="{{ form.cpu_cost.id_for_label }}"><h6>CPU Total</h6></label>
                            {{ form.cpu_cost }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="{{ form.memory.id_for_label }}"><h6>Memory</h6></label>
                            {{ form.memory }}
                        </div>
                        <div class="col">
                            <label for="{{ form.memory_cost.id_for_label }}"><h6>RAM Total</h6></label>
                            {{ form.memory_cost }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="{{ form.storage.id_for_label }}"><h6>Disk Space</h6></label>
                            {{ form.storage }}
                        </div>
                        <div class="col">
                            <label for="{{ form.storage_cost.id_for_label }}"><h6>Disk Space Total</h6></label>
                            {{ form.storage_cost }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="{{ form.gpu.id_for_label }}"><h6>GPU (optional)</h6></label>
                            {{ form.gpu }}
                        </div>
                        <div class="col">
                            <label for="{{ form.gpu_cost.id_for_label }}"><h6>GPU Total</h6></label>
                            {{ form.gpu_cost }}
                        </div>
                    </div>
                    <label for="id_total"><h6>Base Image Total</h6></label>
                    {{ form.total }}
                </div>
                <h2>Order New Pool</h2>
                <div class="form-group">
                    <label for="{{ form.pool_name.id_for_label }}"><h6><span style="color:red; font-size:12px;">* </span>Pool Display Name</h6></label>
                    {{ form.pool_name }}
                    <h2>Connection Options</h2>
                    <label for="{{ form.auto_logout.id_for_label }}"><h6>Time Delay Until Auto Logout</h6></label>
                    {{ form.auto_logout }}
                    <label for="{{ form.pool_maximum.id_for_label }}"><h6><span style="color:red; font-size:12px;">* </span>Pool Size (Max Number of Desktops)</h6></label>
                    {{ form.pool_maximum }}
                    <label for="{{ form.powered_on_desktops.id_for_label }}"><h6>Number of Powered on Desktops (Optional)</h6></label>
                    {{ form.powered_on_desktops }}
                    <label for="{{ form.min_desktops.id_for_label }}"><h6>Minimum Number of Desktops (Optional)</h6></label>
                    {{ form.min_desktops }}
                    <label for="{{ form.ad_container.id_for_label }}"><h6><span style="color:red; font-size:12px;">* </span>Active Directory Container OU Path For Pool Desktops</h6></label>
                    {{ form.ad_container }}
                    <label for="{{ form.ad_groups.id_for_label }}"><h6><span style="color:red; font-size:12px;">* </span>AD Group(s) Allowed To Access Pool</h6></label>
                    {{ form.ad_groups }}
                    <label for="{{ form.ad_groups.id_for_label }}"><h6>Additional Details</h6></label>
                    {{ form.additional_details }}
                    <h2>Service Level Expectations</h2>
                    <hr/>
                    <a href="https://its.umich.edu/computing/computers-software/midesktop" target="_blank">Click here for Service Level Expectations</a>
                    <br/><span>{{ form.sla }} <span style="color:red; font-size:12px;">*</span>I have read and acknowledge the Service Level Expectations</span>

                </div>
            </div>
        <hr/>

        <button id="submit_btn" type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

{% endblock %}

{% block js %}
<script>
    const cpu_cost = document.getElementById("{{ form.cpu_cost.id_for_label }}");
    const cpu_choice = document.getElementById("{{ form.cpu.id_for_label }}");

    const memory_cost = document.getElementById("{{ form.memory_cost.id_for_label }}");
    const memory_choice = document.getElementById("{{ form.memory.id_for_label }}");

    const storage_cost = document.getElementById("{{ form.storage_cost.id_for_label }}");
    const storage_choice = document.getElementById("{{ form.storage.id_for_label }}");

    const total_cost = document.getElementById("{{ form.total.id_for_label }}");

    const gpu_cost = document.getElementById("{{ form.gpu_cost.id_for_label }}");
    const gpu_choice = document.getElementById("{{ form.gpu.id_for_label }}");

    const sla = document.getElementById("{{ form.sla.id_for_label }}");

    const shared_network = document.getElementById("{{ form.shared_network.id_for_label }}");
    const network_options = document.getElementById("network_options");

    

    cpu_cost.setAttribute('readonly',"readonly")
    memory_cost.setAttribute('readonly',"readonly")
    storage_cost.setAttribute('readonly',"readonly")
    gpu_cost.setAttribute('readonly',"readonly")
    total_cost.setAttribute('readonly',"readonly")

    window.addEventListener("load", (event) => {
        calculateBaseImageCost()
        sla.classList.remove("form-control")
        storage_cost.value=parseFloat(storage_cost.value).toFixed(2)
        gpu_cost.value=parseFloat(gpu_cost.value).toFixed(2)
    })

    cpu_choice.addEventListener("change", () => {
        cpu_cost.value = (cpu_choice.value * 1.15).toFixed(2)
        calculateBaseImageCost()
    })

    memory_choice.addEventListener("change", () => {
        memory_cost.value = (memory_choice.value * 0.48).toFixed(2)
        calculateBaseImageCost()
    })

    storage_choice.addEventListener("change", () => {
        storage_cost.value = (storage_choice.value * 0.10).toFixed(2)
        calculateBaseImageCost()
    })

    gpu_choice.addEventListener("change", () => {
        gpu_cost.value = gpu_choice.value == 'True' ? 6.07 : 0.00.toFixed(2)
        calculateBaseImageCost()
    })


    function calculateBaseImageCost(){
        base_cost = 31.31
        cost = base_cost + parseFloat(cpu_cost.value) + parseFloat(memory_cost.value) + parseFloat(storage_cost.value) + parseFloat(gpu_cost.value)
        total_cost.value = cost.toFixed(2)
    }

    shared_network.addEventListener("change", () => {
        if(shared_network.value == 'False'){
            network_options.style.display = "block";
        } else{
            network_options.style.display = "none";
        }
    })

</script>
{% endblock %}