{% extends 'base.html' %}
{% block content %}
<h1>{{ title }}</h1>

<div class="container">

    <form method="POST">
        {% csrf_token %}
        <div id="div_formbody">
            {% for field in form %}
                {% if field.name in form.skip %}
            {% else %}
                <div class="form-group {{ field.field.div_class }}" id="div_{{ field.name }}">
                    <label for="{{ field.id_for_label }}"><strong>{{ field.label }}</strong></label>
                    <small class="form-text text-muted">{% autoescape off %}{{ field.help_text }}{% endautoescape %}</small>
                    {{ field }}
                    
                    {% for error in field.errors %}
                    <div role="alert" class="invalid-feedback"><i class="fas fa-exclamation-triangle"
                            aria-label="Icon signifying that user must enter a value"></i>{{error}}</div>
                    {% endfor %}
                </div>
            {% endif %}

        {% endfor %}
        <hr/>

        <button id="submit_btn" type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

{% endblock %}
