<div class="row" style="padding-left: 50px; display: None;" id="div_aws_account_info">
    <div class="form-group col-3" id="div_{{ field.name }}">
        <small id="emailHelp" class="form-text text-muted">What is the email address<br>you registered with AWS?</small>
        {{ form.aws_email }}
        
        {% for error in field.errors %}
        <div role="alert" class="invalid-feedback"><i class="fas fa-exclamation-triangle"
                aria-label="Icon signifying that user must enter a value"></i>{{error}}</div>
        {% endfor %}
    </div>

    <div class="form-group col-3" id="div_{{ field.name }}">
        <small id="emailHelp" class="form-text text-muted">What is the AWS<br>Account Number?</small>
        {{ form.aws_account_number }}
        
        {% for error in form.aws_account_number.errors %}
        <div role="alert" class="invalid-feedback"><i class="fas fa-exclamation-triangle"
                aria-label="Icon signifying that user must enter a value"></i>{{error}}</div>
        {% endfor %}
    </div>
</div>