<div>
    <div class="form-item webform-component webform-component-markup form-group"
        id="webform-component-before-you-begin-header">
        <h2>Before You Begin</h2>

    </div>
    <div class="form-item webform-component webform-component-markup form-group" id="webform-component-review-info">
        <p><strong>Please review the following information and confirm below: <span
                    style="color:#ca2626;">*</span></strong></p>
        <ul>
            <li><strong>Billing &amp; Payment </strong>- Customers are required to provide a valid Shortcode for
                payment. For course projects, short-term hosting is available at no cost; instances will be removed 6
                weeks after the conclusion of the term. You must provide a valid course code and be affiliated with the
                course.</li>
            <li><strong>Sensitive Data</strong> - Data types with a <a
                    href="https://www.safecomputing.umich.edu/protect-the-u/safely-use-sensitive-data/classification-levels"><strong>Restricted</strong>
                    or <strong>High</strong></a> classification are NOT permitted for this service. All <a
                    href="https://www.safecomputing.umich.edu/protect-the-u/safely-use-sensitive-data/classification-levels"><strong>Moderate</strong>
                    and <strong>Low</strong></a> data types are permitted. It is your responsibility to work with <a
                    href="http://www.safecomputing.umich.edu/protect-the-u/safely-use-sensitive-data/classification-levels">Safe
                    Computing</a> to ensure you are in compliance with all applicable laws, regulations, and
                policies.&nbsp;</li>
            <li><strong>MCommunity&nbsp;Group </strong>-&nbsp;A <em>public</em>&nbsp;MCommunity group with at least two
                members is required to process your request. This serves as a consistent point of contact should the
                primary point of contact change.</li>
            <li><strong>Git-Compatible Repository </strong>-&nbsp;A git-compatible repository is required in order to
                utilize the OpenShift CI/CD capabilities. You may also choose to push pre-built applications directly to
                our docker registry.</li>
        </ul>
    </div>
    <div class="form-item webform-component webform-component-checkboxes form-group"
        id="webform-component-sensitive-data">
        <label class="control-label element-invisible" for="edit-submitted-sensitive-data">Before You Begin Confirmation
            <span class="form-required" title="This field is required.">*</span></label>
        <div id="edit-submitted-sensitive-data" class="form-checkboxes">
            <div
                class="form-item form-item-submitted-sensitive-data-confirm-sensitive-data form-type-checkbox checkbox">
                <label class="control-label" for="edit-submitted-sensitive-data-1"><input type="checkbox"
                        id="id_container_sensitive" name="container_sensitive"
                        value="confirm-sensitive-data" required class="form-checkbox">&nbsp; I have read the above
                    information. My site/app does not use any sensitive data classified as <a
                        href="https://www.safecomputing.umich.edu/protect-the-u/safely-use-sensitive-data/classification-levels"><strong>Restricted</strong>
                        or <strong>High</strong></a></label>
            </div>
        </div>
    </div>