<div class="row" style="padding-left: 50px; display: None;" id="div_course_info">

  <div class="row">
    <div class="col">
      <label for="inputState">Term</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>Winter 2025</option>
        <option>Spring 2026</option>
        <option>Spring/Summer 2026</option>
        <option>Fall 2026</option>
      </select>
    </div>
    <div class="col">
      <label>Subject</label>
      <input type="text" class="form-control" placeholder="(e.g. ARCH)">
    </div>
    <div class="col">
      <label>Catalog Number</label>
      <input type="text" class="form-control" placeholder="(e.g. 201)">
    </div>
  </div>

</div>
<br>