<div class="row" style="padding-left: 50px; display: None;" id="div_course_info">

  <div class="row">
    <div class="col">
      <label for="{{ form.course_term.id_for_label }}" class="form-label">
          {{ form.course_term.label }}
      </label>
      {{ form.course_term }}
    </div>
    <div class="col">
      <label for="{{ form.course_subject.id_for_label }}" class="form-label">
          {{ form.course_subject.label }}
      </label>
      {{ form.course_subject }}
    </div>
    <div class="col">
      <label for="{{ form.course_number.id_for_label }}" class="form-label">
          {{ form.course_number.label }}
      </label>
      {{ form.course_number }}
    </div>
  </div>

</div>
<br>