<div class="row-ed" style="padding-left: 50px; display: None;" id="div_database_type">

    <div class="form-check" id="div_maria">
        <input class="form-check-input" type="radio" name="db_type" id="id_maria">
        <label class="form-check-label" for="id_maria">
            MariaDB
        </label>
    </div>
    <div class="form-check" id="div_postgres">
        <input class="form-check-input" type="radio" name="db_type" id="id_postgres" checked>
        <label class="form-check-label" for="id_postgres">
            Postgres
        </label>
    </div>

</div>
<br>