{% extends 'base.html' %}
{% block content %}
<h1>Midesktop Modify Image</h1>
<div class="container">
    <strong>{{ form.instance.instance_label }}:</strong>&nbsp;{{ form.instance.account_id }}<br/>
    <hr>

    <form method="POST">
        {% csrf_token %}
        <div class="form-body">
            <input type="hidden" name="account_id" value="{{ form.instance.account_id }}"/>
            <div class="form-group">
                {{ form.admin_group }}
                <label for="{{ form.account_id.id_for_label }}"><h6>Image Name</h6></label>
                    {{ form.account_id }}
                <div class="row">
                    <div class="col">
                        <label for="{{ form.cpu.id_for_label }}"><h6>CPU</h6></label>
                        {{ form.cpu }}
                    </div>
                    <div class="col">
                        <label for="{{ form.cpu_cost.id_for_label }}"><h6>CPU Total</h6></label>
                        {{ form.cpu_cost }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="{{ form.memory.id_for_label }}"><h6>Memory</h6></label>
                        {{ form.memory }}
                    </div>
                    <div class="col">
                        <label for="{{ form.memory_cost.id_for_label }}"><h6>Memory Total</h6></label>
                        {{ form.memory_cost }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="{{ form.storage.id_for_label }}"><h6>Disk Space</h6></label>
                        {{ form.storage }}
                    </div>
                    <div class="col">
                        <label for="{{ form.storage_cost.id_for_label }}"><h6>Disk Space Total</h6></label>
                        {{ form.storage_cost }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="{{ form.gpu.id_for_label }}"><h6>GPU (optional)</h6></label>
                        {{ form.gpu }}
                    </div>
                    <div class="col">
                        <label for="{{ form.gpu_cost.id_for_label }}"><h6>GPU Total</h6></label>
                        {{ form.gpu_cost }}
                    </div>
                </div>
                <label for="id_total"><h6>Base Image Total</h6></label>
                {{ form.total }}
                <label for="{{ form.additional_details.id_for_label }}"><h6>Comments</h6></label>
                    {{ form.additional_details }}
            </div>

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <div type="text" class="btn btn-secondary" onclick="location.href='/services/clouddesktop/';">Cancel</div>
    </form>

</div>
{% endblock %}

{% block js %}
<script>
    const admin_group = document.getElementById("{{ form.admin_group.id_for_label }}");
    const cpu_cost = document.getElementById("{{ form.cpu_cost.id_for_label }}");
    const cpu_choice = document.getElementById("{{ form.cpu.id_for_label }}");

    const memory_cost = document.getElementById("{{ form.memory_cost.id_for_label }}");
    const memory_choice = document.getElementById("{{ form.memory.id_for_label }}");

    const storage_cost = document.getElementById("{{ form.storage_cost.id_for_label }}");
    const storage_choice = document.getElementById("{{ form.storage.id_for_label }}");

    const total_cost = document.getElementById("{{ form.total.id_for_label }}");

    const gpu_cost = document.getElementById("{{ form.gpu_cost.id_for_label }}");
    const gpu_choice = document.getElementById("{{ form.gpu.id_for_label }}");
    
    
    cpu_cost.setAttribute('readonly',"readonly")
    memory_cost.setAttribute('readonly',"readonly")
    storage_cost.setAttribute('readonly',"readonly")
    gpu_cost.setAttribute('readonly',"readonly")
    total_cost.setAttribute('readonly',"readonly")
    admin_group.setAttribute('hidden',true)


    window.addEventListener("load", (event) => {
        calculateBaseImageCost()
    })

    cpu_choice.addEventListener("change", () => {
        cpu_cost.value = (cpu_choice.value * 1.15).toFixed(2)
        calculateBaseImageCost()
    })

    memory_choice.addEventListener("change", () => {
        memory_cost.value = (memory_choice.value * 0.48).toFixed(2)
        calculateBaseImageCost()
    })

    storage_choice.addEventListener("change", () => {
        storage_cost.value = (storage_choice.value * 0.10).toFixed(2)
        calculateBaseImageCost()
    })

    gpu_choice.addEventListener("change", () => {
        gpu_cost.value = gpu_choice.value == 'True' ? 6.07 : 0.00.toFixed(2)
        calculateBaseImageCost()
    })


    function calculateBaseImageCost(){
        base_cost = 31.31
        cost = base_cost + parseFloat(cpu_cost.value) + parseFloat(memory_cost.value) + parseFloat(storage_cost.value) + parseFloat(gpu_cost.value)
        total_cost.value = cost.toFixed(2)
    }

</script>
{% endblock %}