{% extends 'base.html' %}

{% block content %}
<h1>New Network</h1>

<div class="container">
    <form method="POST">
        {% csrf_token %}

        <div id="div_formbody">
            {% for field in form %}
            
                <div id="{{ field.auto_id }}">
                <h6>{% if field.field.required %}<span style="color:red; font-size:12px;">* </span>{% endif %}
                    <label for="{{ field.label }}">{{ field.label_tag }}</label>
                    {{ field }}
                </h6>
            </div>
            {% endfor %}
        </div>
        <button id="submit_btn" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}