{% extends 'base.html' %}
{% block content %}
<h1>Modify MiDesktop Image</h1>

<div class="container">
    <strong>Image Name:</strong>&nbsp;{{ form.instance.name }}<br/>
    <strong>Network:</strong>&nbsp;<a href="/services/midesktop-network/{{ form.instance.network.id }}/change/">{{ form.instance.network.name }}</a>
    <hr>

        <form method="POST">
            {% csrf_token %}
    
            <div id="div_formbody">
                {{ calculator_form }}

                <h6>{{form.additional_details.label_tag}}{{form.additional_details}}</h6>
            </div>
            <button id="submit_btn" type="submit" class="btn btn-primary">Submit</button>
        </form>
    

</div>
{% endblock %}