{% extends 'base.html' %}

{% load static %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script type='text/javascript'>
    var groups = {{ groups_json|safe }};
    var network_choice_list = [
        {'key': 'private', 'label':'Shared Network (Private)'},
        {'key': 'web-access', 'label':'Shared Network (Web-Access)'},
        {'key': 'dedicated', 'label':'Dedicated Network'},
    ]
    var networklist = {{ network_json|safe }};
    var imagelist = {{ image_json|safe }};
    var eventBus = new Vue();
</script>


<h1>MiDesktop New Order Form</h1>

<div class="container">
    <form method="POST">
        {% csrf_token %}

        <div id="div_formbody">
            <div id="group">
                <h6>McCommunity Admin Group:</h6>
                    <select class="form-control" name="admin_group" id="id_admin_group" v-model="selectedGroup" @change="handleGroupChange">
                        <option v-for="group in groups" :value="group.name" :key="group.id">[[group.name]]</option>
                    </select>
            </div>
            <h6>{{form.shortcode.label_tag}}{{form.shortcode}}</h6>
            <h2>Order New Pool</h2>
            <h6>{{form.pool_name.label_tag}}{{form.pool_name}}</h6>
            <h6>{{form.pool_type.label_tag}}{{form.pool_type}}</h6>
            <h2>Connection Options</h2>
            <h6>{{form.auto_logout.label_tag}}{{form.auto_logout}}</h6>
            <h6>{{form.ad_container.label_tag}}{{form.ad_container}}</h6>
            <h6>{{form.ad_groups.label_tag}}{{form.ad_groups}}</h6>
            <div id="base_image"> <h6>{{form.base_image.label_tag}}
                <select class="form-control" name="base_image" id="id_base_image" v-model="selectedBaseImage">
                    <option v-for="image in filteredImages" :value="image.id" :key="image.id">[[image.name]] </option>
                </select></h6></div>
            <div>
            
            <div id="new-image-wrapper" v-show="visible">
                {{ form.image_form }}</div>
            <div class="form-group" id="calculator-wrapper" v-show="visible">
                    <h6>
                    <div class="row">
                        <div class="col">
                            {{ form.cpu.label_tag }}{{ form.cpu }}
                        </div>
                        <div class="col">
                            {{ form.cpu_cost.label_tag }}{{ form.cpu_cost }}
                        </div>
                    </div><br/>
                    <div class="row">
                        <div class="col">
                            {{ form.memory.label_tag }}{{ form.memory }}
                        </div>
                        <div class="col">
                            {{ form.memory_cost.label_tag }}{{ form.memory_cost }}
                        </div>
                    </div><br/>
                    <div class="row">
                        <div class="col">
                            {{ form.storage.label_tag }}{{ form.storage }}
                        </div>
                        <div class="col">
                            {{ form.storage_cost.label_tag }}{{ form.storage_cost }}
                        </div>
                    </div><br/>
                    <div class="row">
                        <div class="col">
                            {{ form.gpu.label_tag }}{{ form.gpu }}
                        </div>
                        <div class="col">
                            {{ form.gpu_cost.label_tag }}{{ form.gpu_cost }}
                        </div>
                    </div><br/>
                    <div class="row">
                        <div class="col">
                            {{ form.total.label_tag }}{{ form.total }}
                        </div>
                    </div>
                    </h6>
                </div>


            <h6>{{form.pool_quantity.label_tag}}<input type="number" name="pool_quantity" class="form-control" id="id_pool_quantity" v-model="poolQuantity"/></h6>
            <h6>{{form.pool_total.label_tag}}<input type="text" name="pool_total" readonly="true" class="form-control" id="id_pool_total" :value="poolTotal"></h6>
            
            <div id="network_type" v-show="visible">
                <h6>Will you be using a shared network or a dedicated network?
                    <select class="form-control" name="network_type" id="id_network_type" v-model="selectedNetworkType">
                        <option v-for="network_type in network_choice_list" :value="network_type.key" :key="network_type.key">[[network_type.label]] </option>
                    </select>
                </h6>
            </div>
            <div id="network" v-show="visible">
                <h6>Networks:
                    <select class="form-control" name="network" id="id_network" v-model="selectedNetwork">
                        <option v-for="network in filteredNetworks" :value="network.id" :key="network.id">[[network.name]] </option>
                    </select>
                </h6>
            </div>
        
            <div id="networks-wrapper" v-show="visible">
                {{ form.network_form }}
            </div>
            
            <h2>Service Level Expectations</h2>
            <hr/>
            <a href="https://its.umich.edu/computing/computers-software/midesktop" target="_blank">Click here for Service Level Expectations</a>
            <br/>{{ form.sla }} <span style="color:red; font-size:12px;">*</span>I have read and acknowledge the Service Level Expectations
        </div>
        <button id="submit_btn" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<script src="/static/vue-components/vue-components.js"></script>
<script>
    const pool_quantity = document.getElementById("{{ form.pool_quantity.id_for_label }}");
    const pool_total = document.getElementById("{{ form.pool_total.id_for_label }}");

</script>

<script>
    const calculator_wrapper = new Vue({
        el: '#calculator-wrapper',
        delimiters: ['[[', ']]'],
        data: {
            visible: false,
            CPU_INITIAL:1.15,
            MEMORY_INITIAL:0.96,
            STORAGE_INITIAL:5.00,
            GPU_INITIAL:0.00,
            BASE_COST:31.31,
            TOTAL_INITIAL:this.CPU_INITIAL + this.MEMORY_INITIAL + this.STORAGE_INITIAL + this.GPU_INITIAL + this.BASE_COST
        },
        mounted() {
            eventBus.$on('new-base-image-selected', this.handleBaseImageSelected);
        },

        methods: {
            handleBaseImageSelected(selectedBaseImage){
                this.selectedBaseImage = selectedBaseImage
                this.updateVisibility();
                this.attachEventListeners();
                this.handleCpuChange();
                this.handleMemoryChange();
                this.handleStorageChange();
                this.calculateBaseImageCost();

            },
            updateVisibility(){
                if(this.selectedBaseImage === 'new' || this.selectedBaseImage === 999999999){
                    this.visible = true
                } else {
                    this.visible = false
                }
            },
            calculateBaseImageCost(){
                this.cost = this.BASE_COST + parseFloat(this.cpu_cost.value) + parseFloat(this.memory_cost.value) + parseFloat(this.storage_cost.value) + parseFloat(this.gpu_cost.value)
                this.total_cost.value = this.cost.toFixed(2)
                eventBus.$emit('new-base-image-total-changed', this.total_cost.value);
            },
            attachEventListeners() {
                document.getElementById("{{ form.cpu.id_for_label }}").addEventListener('change', this.handleCpuChange);
                document.getElementById("{{ form.memory.id_for_label }}").addEventListener('change', this.handleMemoryChange);
                document.getElementById("{{ form.storage.id_for_label }}").addEventListener('change', this.handleStorageChange);
                document.getElementById("{{ form.gpu.id_for_label }}").addEventListener('change', this.handleGpuChange);
                this.cpu_choice = document.getElementById("{{ form.cpu.id_for_label }}")
                this.memory_choice = document.getElementById("{{ form.memory.id_for_label }}")
                this.storage_choice = document.getElementById("{{ form.storage.id_for_label }}")
                this.gpu_choice = document.getElementById("{{ form.gpu.id_for_label }}")
                this.cpu_cost = document.getElementById("{{ form.cpu_cost.id_for_label }}");
                this.memory_cost = document.getElementById("{{ form.memory_cost.id_for_label }}");
                this.storage_cost = document.getElementById("{{ form.storage_cost.id_for_label }}");
                this.gpu_cost = document.getElementById("{{ form.gpu_cost.id_for_label }}");
                this.total_cost = document.getElementById("{{ form.total.id_for_label }}");
                this.gpu_cost.value = 0.00.toFixed(2)

            },
            handleCpuChange(){
                this.cpu_cost.value = (this.cpu_choice.value * this.CPU_INITIAL).toFixed(2)
                this.calculateBaseImageCost()
            },
            handleMemoryChange(){
                this.memory_cost.value = (this.memory_choice.value * this.MEMORY_INITIAL).toFixed(2)
                this.calculateBaseImageCost()
            },
            handleStorageChange(){
                this.storage_cost.value = (this.storage_choice.value * 0.10) .toFixed(2)
                this.calculateBaseImageCost()
            },
            handleGpuChange(){
                this.gpu_cost.value = this.gpu_choice.value == 'True' ? 6.07 : 0.00.toFixed(2)
                this.calculateBaseImageCost()
            },
        }
    });
    const pool_quantity_handler = new Vue({
        el: '#id_pool_quantity',
        delimiters: ['[[', ']]'],
        data: {
            poolQuantity: 1,
        },
        mounted() {
            eventBus.$on('new-base-image-selected', this.handleBaseImageSelected);
        },
        watch: {
            poolQuantity: function (newVal) {
                eventBus.$emit('pool-quantity-changed', newVal);
                this.handleQuantityChange(newVal)
            }
        },

        methods: {
            handleQuantityChange(quantity){
                if (parseInt(quantity) <1){
                    this.poolQuantity = 1
                }
            },
            handleBaseImageSelected(){
                console.log('pew')
            }
        }
    });

    const pool_total_handler = new Vue({
        el: '#id_pool_total',
        delimiters: ['[[', ']]'],
        data: {
            poolTotal: '0.00',
            quantity: 1,
            baseImageTotalCost: 0.00
        },
        mounted() {
            eventBus.$on('new-base-image-total-changed', this.handleBaseImageTotalChanged);
            eventBus.$on('new-base-image-selected', this.handleBaseImageSelected);
            eventBus.$on('pool-quantity-changed', this.handlePoolQuantityChanged);
        },

        methods: {
            handlePoolQuantityChanged(newQuantity){
                
                this.quantity = parseInt(newQuantity)
                
                console.log(this.quantity)
                this.calculateTotal()
            },
            handleBaseImageTotalChanged(imageTotal){
                this.baseImageTotalCost = imageTotal
                this.calculateTotal()
            },
            handleBaseImageSelected(selectedBaseImage){
                this.selectedBaseImageID = selectedBaseImage
                if (this.selectedBaseImageID != 999999999){
                    this.baseImage = imagelist.filter(image => image.id === this.selectedBaseImageID)
                    this.baseImageTotalCost = this.baseImage[0].total_cost
                    this.calculateTotal()
                }else{
                    this.calculateTotal()
                }
            },
            calculateTotal(){
                this.poolTotal = (this.quantity * this.baseImageTotalCost).toFixed(2)
            },
        }
    });

    const new_image_wrapper = new Vue({
        el: '#new-image-wrapper',
        delimiters: ['[[', ']]'],
        data: {
            visible: false,
        },
        mounted() {
            eventBus.$on('new-base-image-selected', this.handleBaseImageSelected);
        },

        methods: {
            handleBaseImageSelected(selectedBaseImage){
                this.selectedBaseImage = selectedBaseImage
                this.updateVisibility();

            },
            updateVisibility(){
                if(this.selectedBaseImage === 'new' || this.selectedBaseImage === 999999999){
                    this.visible = true
                } else {
                    this.visible = false
                }
            }
        }
    });

    const base_image = new Vue({
    el: '#base_image',
    delimiters: ['[[', ']]'],
    data: {
        selectedBaseImage: null,
        filteredImages: [], // Add a data property to store filtered networks
        groups: groups
    },
    mounted(){
        eventBus.$on('group-selected', this.handleGroupChange);
        this.updateFilteredImages();
    },
    methods:{
        handleGroupChange(selectedGroup) {
            // Update the selectedGroup value when the group selection changes
            this.selectedGroup = selectedGroup;
            this.selectedGroupID = this.getGroupIdByName(selectedGroup)
            this.updateFilteredImages();
        },
        updateFilteredImages() {
            if (!this.selectedGroup) {
                // If no group is selected, show all images
                this.filteredImages = [];
            } else {
                // Filter images based on the selected group's id
                this.filteredImages = imagelist.filter(image => image.owner === this.selectedGroupID);
            }

            this.filteredImages.push({
                'id': 999999999,
                "name": '-- New Base Image',
                "owner": 'None'
            })
        },
        getGroupIdByName(groupName) {
            const group = this.groups.find(group => group.name === groupName);
            return group ? group.id : null;
        }
    },
    watch: {
        selectedBaseImage: function (newVal) {
            eventBus.$emit('new-base-image-selected', newVal);
        }
    },
})
</script>
{% endblock %}