<div class="form-group" id="wrapper_calculator">
    <h6>
    <div class="row">
        <div class="col">
            {{ form.cpu.label_tag }}{{ form.cpu }}
        </div>
        <div class="col">
            {{ form.cpu_cost.label_tag }}{{ form.cpu_cost }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form.memory.label_tag }}{{ form.memory }}
        </div>
        <div class="col">
            {{ form.memory_cost.label_tag }}{{ form.memory_cost }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form.storage.label_tag }}{{ form.storage }}
        </div>
        <div class="col">
            {{ form.storage_cost.label_tag }}{{ form.storage_cost }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form.storage.label_tag }}{{ form.storage }}
        </div>
        <div class="col">
            {{ form.storage_cost.label_tag }}{{ form.storage_cost }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form.total.label_tag }}{{ form.total }}
        </div>
    </div>
    </h6>
</div>

