<div>
    <div>
        <h2>Before You Begin</h2>
    </div>
    <div>
        <p><strong>Please review the following information and confirm below: <span
                    style="color:#ca2626;">*</span></strong></p>
        <ul>
            <li><strong>Billing &amp; Payment </strong>- Customers are required to provide a valid Shortcode for payment. For course projects, short-term hosting is available at no cost; instances will be removed 6 weeks after the conclusion of the term. 
                You must provide a valid course code and be affiliated with the course.
            </li>
            <li><strong>Sensitive Data</strong> - The on-campus hosting environment is currently being evaluated for hosting sensitive data. Until this process is completed, no sensitive data should be stored in this environment. It is your responsibility 
                to work with Safe Computing to ensure your application is in compliance with all applicable laws, regulations, and policies. If you have any questions about this, please email Container Service personnel at 
                <a href="mailto:its-container-service-support@umich.edu">its-container-service-support@umich.edu</a>    
            .&nbsp;</li>
            <li><strong>MCommunity&nbsp;Group </strong>-&nbsp;A <em>public</em>&nbsp;MCommunity group with at least two
                members is required to process your request. This serves as a consistent point of contact should the
                primary point of contact change.</li>
        </ul>
    </div>

    <div>
        Before you Begin Confirmation *
        <div class='form-group'>
            {{ form.oncampus_container_sensitive }}
            <label for="id_container_sensitive">I have read the above information. My site/app does not use any sensitive data.</label>
        </div>
        
    </div>
</div>